<span class="user-info-trigger" {{action "toggleUserInfo" bubbles=false}}>
  {{#truncated-string class="file-owner-line file-owner-fullname"}}
    <span 
      class="file-owner-fullname" 
    >
      {{or owner.fullName "—"}}
    </span>
  {{/truncated-string}}
  {{#if owner.username}}
    {{#truncated-string class="file-owner-line file-owner-username"}}
      <span 
        class="file-owner-username" 
      >
        ({{owner.username}})
      </span>
    {{/truncated-string}}
  {{/if}}
</span>
{{user-info-popover
  owner=owner
  userInfoOpened=userInfoOpened
  triggerSelector=(concat "#" elementId " .user-info-trigger")
}}

