<th class="fb-table-col-files fb-table-secondary-col">
  <div class="fb-table-first-col-container">
    <div class="table-header-text">{{tt this "files"}}</div>
    <div class="table-header-status-bar">{{yield}}</div>
  </div>
</th>
<th class="fb-table-col-size fb-table-secondary-col hidden-xs">{{tt this "size"}}</th>
<th class="fb-table-col-modification fb-table-secondary-col hidden-xs">
  {{tt this "modification"}}
</th>