{{#each browserModel.columnsOrder as |columnName|}}
  {{#if (get browserModel (concat "columns." columnName ".isVisible"))}}
    <td class={{concat
        "fb-table-col-" columnName " hidden-xs "
        (if (and (eq columnName "size") file.effFile.isShowProgress) "multiline")
        (if (eq columnName "owner") "multiline")
      }}
      style={{concat "browserModel.columnsStyle." columnName}}
    >
      {{component (concat "filesystem-browser/table-" columnName "-cell")
        browserModel=browserModel
        file=file
        dirStatsServiceState=dirStatsServiceState
        invokeFileAction=(action "invokeFileAction")
      }}
    </td>
  {{/if}}
{{/each}}
