{{#if file.isRecalled}}
  <div
    class="file-status-tag-group recalled-file-status-tab-group clickable"
    onclick={{action "tagClicked"}}
  >
    <div class={{concat-classes
      "file-status-tag"
      "file-status-recalled"
      statusTagClass
    }}>
      {{tt this labelKey}}
    </div>
    {{#if errorOccurred}}
      {{one-tooltip
        title=(tt this (if disabled "errorsDuringRecallDisabled" "errorsDuringRecall"))
      }}
    {{/if}}
  </div>
{{/if}}
