@import 'onedata-gui-common';

$file-browser-header-height: 62px;
$file-browser-item-height: 32px;
// the same padding as distance of provider tab icon in Onezone GUI
$file-browser-padding-left: 12px;
// light padding at the right to make some space for scrollbar rail
$file-browser-padding-right: 16px;
$fb-table-margin-top: 50px;
$fb-table-margin-top-mobile: 36px;
$zindex-file-browser-head: $zindex-modal-background - 10;

@import 'layout';
@import 'dummy';
@import 'ace-config';
@import 'components/acl-editor';
@import 'components/content-file-browser';
@import 'components/content-space-shares';
@import 'components/content-public-share';
@import 'components/edit-permissions-modal';
@import 'components/file-browser';
@import 'components/bs-modal';
@import 'components/posix-permissions-editor';
@import 'components/file-distribution-modal';
@import 'components/space-transfers';
@import 'components/space-shares';
@import 'components/share-show';
@import 'components/query-options';
@import 'components/qos-modal';
@import 'components/modal-file-subheader';
@import 'components/single-file-info';
@import 'components/qos-expression-info';
@import 'components/query-builder';
@import 'components/one-markdown-to-html';
@import 'components/file-datasets';
