@import 'onedata-gui-common';

$file-browser-header-height: 62px;
$file-browser-item-height: 32px;
// the same padding as distance of provider tab icon in Onezone GUI
$file-browser-padding-left: 12px;
// light padding at the right to make some space for scrollbar rail
$file-browser-padding-right: 16px;
$fb-table-margin-top: 50px;
$fb-table-margin-top-mobile: 36px;
$zindex-file-browser-head: $zindex-modal-background - 10;

@import 'utils';
@import 'layout';
@import 'dummy';
@import 'components/acl-editor';
@import 'components/content-file-browser';
@import 'components/content-space-shares';
@import 'components/edit-permissions-modal';
@import 'components/file-browser';
@import 'components/bs-modal';
@import 'components/posix-permissions-editor';
@import 'components/file-distribution-modal';
@import 'components/space-transfers';
@import 'components/space-shares';
@import 'components/query-options';
@import 'components/qos-modal';
@import 'components/qos-expression-viewer';
@import 'components/modal-file-subheader';
@import 'components/single-file-info';
@import 'components/open-data-preview';
@import 'components/open-data-editor';

// FIXME: to move
.content-public-share {
  margin-top: -12px;
  margin-bottom: -30px;
}

// FIXME: copied from space-transfers - make it global
.tab-icon {
  @include vertical-align-middle();
  left: 8px;
  font-size: 26px;
  // custom pull-up icons
  &.one-icon {
    margin-top: -1px;
  }
}
.tab-name {
  padding-left: 24px;
  &.truncate {
    max-width: 200px;  
  }
}
