// Styles for dummy components

.dummy-component {
  h1.dummy-header {
    font-size: 18px;
  }
  .dummy-box {
    border: 1px solid $color-one-azure;
  }
  .activate-dummy-hidden {
    .dummy-hidden {
      display: none;
    }
  }
  .dummy-container {
    .content-row {
      margin-bottom: 20px;
    }
  }
}

.dummy-item-path {
  .item-path {
    border: 1px solid red;
  }
  .item-path-1 {
    width: 300px;
  }
  .item-path-2 {
    width: 700px;
  }
  .item-path-3 {
    width: 800px;
  }
  .item-path-4 {
    width: 700px;
    transition: width 1s ease-in;
    &.transitioned {
      width: 800px;
    }
  }
  .item-path-5 {
    width: 800px;
    transition: width 1s ease-out;
    &.transitioned {
      width: 700px;
    }
  }
}
