// various styles used directly in routes templates

.embedded-content {
  position: absolute;
  @include fill-container();
  display: flex;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  overflow: auto;
  > * {
    flex-grow: 1;
    max-width: 100%;
  }
}
