$dataset-table-item-icon-size: 200%;

hr.sharp {
  margin: $padding-small-horizontal 0;
  border-top-color: $main-border-color;
}

p.last {
  margin-bottom: 0;
}

.inline-file-path {
  overflow-wrap: break-word;
}

.browsable-items-info {
  .item-info-label {
    @include font-semibold;
  }
  .single-item {
    .single-browsable-item-icon {
      position: relative;
      margin-right: 0.1em;
      margin-left: 0.1em;
      font-size: 4em;
    }
  }
  .row-items-list {
    margin-top: 8px;
    padding-bottom: 4px;
    .browsable-item-icon {
      position: relative;
      font-size: 26px;
      top: 0.1em;
      // some corrections for icons (that are centered in glyph)
      left: -0.1em;
      margin-right: 0.15em;
    }
    .row-item {
      display: flex;
      align-items: center;
    }
    .item-info-tip-trigger {
      margin-left: 8px;
    }
  }

  .shares-info {
    margin-top: 20px;
    @include font-semibold;
  }
}

.browsable-items-info-tooltip {
  .item-info-label {
    @include font-semibold;
  }
}

// generic style for various item browsers, where header should not be spaced from top
.one-embedded-component.content-items-browser {
  padding-top: 0;
}

// Adds a colored circle state indicator to some element inside bs-tab nav or btn-group
// button. May also look good in other containers but it is not tested.
.tab-state {
  $size: 10px;
  $stateColors: (
    empty: transparent,
    inactive: $color-one-semiwhite,
    disabled: $color-one-light-gray,
    danger: $color-one-danger,
    warning: $color-one-warning,
    success: $color-one-success,
  );
  @mixin stateAfter($type) {
    &.tab-state-#{$type}::after {
      background-color: map-get($stateColors, $type);
    }
  }
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-right: $size * 0.5;
  &::after {
    position: absolute;
    background-color: map-get($stateColors, inactive);
    top: 0;
    right: -$size * 1.5;
    content: ' ';
    width: $size;
    height: $size;
    border-radius: 100%;
  }
  @each $state, $color in $stateColors {
    @include stateAfter($state)
  }
}

// btn-group-tabs: A tab bar created using a btn-group inside that acts as a nav
// The current version is written to use it especially inside modal header and detect
// scroll top. It needs refactor if needed to be used outside modal.

// empirical value - a half of btn-group tab bar height with single line text
// defined as variable to use it in external elements (eg. modal body)
$btn-group-tabs-vertical-offset: 14px;

$btn-group-tabs-horizontal-spacing-large: 3em;
$btn-group-tabs-horizontal-spacing-small: 0.5em;
$btn-group-tabs-line-border-color: $color-one-gray-sand;

.btn-group-tabs {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &::before, &::after {
    flex-grow: 1;
    content: ' ';
    height: 1px;
    @include shadow-transition(all);
    border-bottom: 1px solid transparent;
  }
  &::before {
    margin-right: $btn-group-tabs-horizontal-spacing-large;
  }
  &::after {
    margin-left: $btn-group-tabs-horizontal-spacing-large;
  }
  .btn-group {
    flex-grow: 0;
    display: flex;
    // experimental style for fine-align btn-group with button with icons
    &.flex-aligned {
      button {
        display: flex;
        align-items: center;
        .tab-icon, .tab-name {
          line-height: 1.2;
        }
        .tab-icon.one-icon {
          top: auto;
        }
      }
    }
  }
  .box-item {
    display: flex;
    align-items: center;
    padding: 4px 18px;
    background-color: white;
    border-radius: $btn-border-radius-small;
    border: 1px solid $btn-group-tabs-line-border-color;
  }

  .editor-disabled-lock-container {
    position: absolute;
    padding: 4px 12px;
    right: $btn-group-tabs-horizontal-spacing-large;
  }
  .editor-disabled-lock-icon {
    margin-left: 0.1em;
    flex-grow: 0;
  }
}

.modal-dialog {
  .modal-header .btn-group-tabs {
    // make tabs to be in the middle of the header bottom line
    position: relative;
    transform: translateY(50%) translateY(1px);
    z-index: $top-shadow-zindex + 1;
    margin-top: -$btn-group-tabs-vertical-offset;
    .with-scroll-shadow {
      // empirically modal-scroll-shadow-like shadow to the bottom
      filter: drop-shadow(0px 4px 3px #eee);
      @include shadow-transition(all);
    }
    .editor-disabled-lock-icon {
      margin-right: -0.2em;
    }
    .hint-trigger {
      font-size: inherit;
      margin-right: 0;
    }
  }
  // turn on special decoration, because shadow of header is off when on top
  &.scroll-on-top {
    .modal-header .btn-group-tabs {
      &::before, &::after {
        border-bottom-color: $btn-group-tabs-line-border-color;
      }
    }
    .btn-group-tabs {
      .with-scroll-shadow {
        filter: none;
      }
    }
  }
}

// Class used in log entries file cells to present a hash for distinguishing files with
// the same name.
.log-filename-duplicate-hash {
  margin-left: 0.3em;
  opacity: $disabled-opacity;
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.one-icon.menu-trigger-arrow {
  left: 0;
  font-size: 150%;
}
