$dataset-table-item-icon-size: 200%;

hr.sharp {
  margin: $padding-small-horizontal 0;
  border-top-color: $main-border-color;
}

p.last {
  margin-bottom: 0;
}

.inline-file-path {
  overflow-wrap: break-word;
}

.browsable-items-info {
  .item-info-label {
    @include font-semibold;
  }
  .single-item {
    .single-browsable-item-icon {
      position: relative;
      margin-right: 0.1em;
      margin-left: 0.1em;
      font-size: 4em;
    }
  }
  .row-items-list {
    margin-top: 8px;
    padding-bottom: 4px;
    .browsable-item-icon {
      position: relative;
      font-size: 26px;
      top: 0.1em;
      // some corrections for icons (that are centered in glyph)
      left: -0.1em;
      margin-right: 0.15em;
    }
    .row-item {
      display: flex;
      align-items: center;
    }
    .item-info-tip-trigger {
      margin-left: 8px;
    }
  }

  .shares-info {
    margin-top: 20px;
    @include font-semibold;
  }
}

.browsable-items-info-tooltip {
  .item-info-label {
    @include font-semibold;
  }
}

// generic style for various item browsers, where header should not be spaced from top
.one-embedded-component.content-items-browser {
  padding-top: 0;
}

// FIXME: move event-log-table common styles to separate file

.event-log-table-container {
  .ps__rail-y {
    z-index: 2;
  }

  .event-log-thead tr th {
    @include before-bottom-shadow;
  }

  &.on-top {
    .event-log-thead tr th {
      @include hide-before-shadow;
    }
  }
}

.table.event-log-table {
  $row-height: 44px;
  $cell-padding: 0.5em;
  width: 100%;
  table-layout: fixed;
  &.with-sticky-header {
    position: relative;
    thead {
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: $color-one-white;
    }
  }
  .data-row td {
    border-top: 1px solid $table-border-color;
  }
  thead {
    th {
      // needed to hold the shadows
      position: relative;
      vertical-align: bottom;
      text-align: left;
      background-color: $color-one-white;
      padding-left: $cell-padding;
      padding-right: $cell-padding;
      padding-bottom: $cell-padding * 2;
      &:first-child {
        padding-left: $first-table-column-padding-left;
        padding-right: $first-table-column-padding-left;
        text-align: left;
      }
    }
  }
  tbody {
    tr.first-row > td {
      height: 0;
      padding: 0;
      margin: 0;
    }
    td {
      padding: $cell-padding;
      max-width: 0;
      text-align: left;
      height: $row-height;

      &:first-child {
        text-align: left;
      }
      &:last-child {
        padding-right: $first-table-column-padding-left;
      }
    }
  }
  .table-data-cell-content {
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
    .truncate {
      max-width: 100%;
    }
  }
  // commonly used column class
  .column-timestamp {
    width: 12em;
    @media (max-width: $screen-xs-max) {
      width: 7em;
    }
  }
  td.column-timestamp {
    @media (max-width: $screen-xs-max) {
      font-size: 90%;
    }
  }
  // commonly used column class in logs of file events
  .column-file {
    width: 12em;
    @media (max-width: $screen-xs-max) {
      width: 7em;
    }
  }
  // commonly used column class in logs - the message is contained in arbitrary property
  .column-message {
    width: 100%;
    max-width: 0;
  }
  .loading-row-cell {
    height: $row-height * 1.5;
  }
}
