.fb-table-col-actions-menu {
  font-size: 200%;
  padding-left: 0;
  .fb-toolbar-button.configuration-columns-button {
    position: relative;
    margin-left: -0.3em;
  }
  .hidden-columns-number-container {
    position: absolute;
    display: flex;
    height: 15px;
    border: 1px solid $color-one-orange;
    font-size: 0.4em;
    color: white;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    transform: translateX(20%) translateY(-20%);
    background-color: $color-one-orange;
    padding: 0 0.2em;
    align-items: center;
    min-width: 15px;
  }
  .oneicon-columns {
    vertical-align: middle;
    .one-icon-tag-icon {
      font-size: 60% !important;
      right: -0.06em;
      bottom: -0.07em;
    }
    .one-icon-tag-circle {
      width: 0.6em;
      height: 0.6em;
      right: -0.1em;
      bottom: -0.07em;
    }
  }
  .hidden-columns-number {
    line-height: 0;
    @include font-semibold();
    width: 100%;
  }
}

