.fb-download-modal {
  .row-download-info {
    display: flex;
    align-items: top;
    margin-top: 20px;
  }
  .download-file-icon {
    font-size: 48px;
    // pull up, because of top margin inside icon
    margin-top: -3px;
  }
  .download-file-text {
    padding-left: 10px;
    overflow-x: auto;
    .download-file-name, .download-info-label {
      @include font-semibold;
    }
    .row-download-file-name {
      padding-bottom: 6px;
    }
  }
}
