.fb-info-modal {
  @media (min-width: $screen-md-min) {
    .modal-lg {
      width: 1000px;
    }
  }

  .bs-tab-onedata {
    padding-bottom: 36px;
  }

  .api-command-type-row {
    display: flex;
    align-items: center;

    padding-top: $ember-power-select-option-small-padding-vertical;
    padding-bottom: $padding-base-vertical;

    .api-command-type {
      display: none;
    }

    .api-command-type-info-trigger-container {
      &.inline-icon-container .oneicon {
        // makes tooltip to be nearer the icon center
        line-height: 0.5;
        transform: translateY(-50%);
      }
    }

    .api-command-type-selector-trigger {
      flex-basis: 25em;
      @media (max-width: $screen-xs-max) {
        flex-basis: auto;
        flex-grow: 1;
      }
    }

    .labels-container {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;

      .label {
        line-height: initial;
        font-weight: normal;
        @include font-semibold;
      }
    }

    .bracket-fix {
      top: -0.05em;
      position: relative;
    }
  }
  .table.table-info td.property-name {
    width: 10em;
    @media (max-width: $screen-xs-max) {
      width: auto;
    }
  }

  .shows-first-n-hardlinks {
    margin-bottom: $padding-base-vertical;
  }

  .file-hardlinks-list {
    list-style-type: none;
    padding: 0;
  }

  .file-hardlink {
    display: flex;
    border-top: 1px solid $main-border-color;
    padding: $padding-base-vertical;

    .file-type-icon {
      font-size: 190%;
    }

    .icon-col {
      flex: 0 0 2.5em;
    }

    .content-col {
      flex-grow: 1;
      min-width: 0;
    }

    .file-name {
      @include font-semibold();
      margin-bottom: $padding-xs-vertical;
      font-size: 120%;
    }

    .file-path {
      display: flex;
    }

    .anchor-container {
      margin-left: 0.4em;
      min-width: 0;
      flex-grow: 1;
    }

    &.extra-hardlink-description {
      display: block;
      text-align: center;
    }

    &:last-child {
      border-bottom: 1px solid $main-border-color;
    }
  }
}

.fb-info-modal, .api-command-type-selector-dropdown {
  .api-command-type {
    opacity: $disabled-opacity;
    float: right;
  }
  .xrootd-api-tag-label {
    background-color: #a95bde;
  }
  .ember-power-select-option {
    .api-command-type {
      position: relative;
    }
    .api-tag-label {
      position: relative;
      top: -0.2em;
    }
  }
  // override to show all options
  .ember-power-select-options[role=listbox] {
    max-height: 280px;
  }
}
