.fb-metadata-modal {
  .bs-tab {
    $nav-tabs-height: 44px;
    .nav-tabs {
      height: $nav-tabs-height;
    }
    &.full-height {
      // because of a strange bug with perfect scroll
      height: calc(100% - 2px);
    }
    .tab-content-metadata {
      height: calc(100% - #{$nav-tabs-height});
    }
  }
  .form-group.form-group-ace-editor {
    .ember-ace.full-height {
      // make some space for one-line error message
      height: calc(100% - 1em);
    }
  }
}
