.fb-remove-modal {
  .file-info-label {
    @include font-semibold;
  }
  .single-file {
    .file-item-icon {
      position: relative;
      margin-right: 8px;
      font-size: 52px;
    }
  }
  .row-delete-files-list {
    margin-top: 8px;
    padding-bottom: 4px;
    .file-item-icon {
      position: relative;
      font-size: 26px;
      top: 3px;
      margin-right: 4px;
    }
    .row-delete-file-item {
      display: flex;
      align-items: center;
    }
    .file-info-tip-trigger {
      margin-left: 8px;
    }
  }

  .shares-info {
    margin-top: 20px;
    @include font-semibold;
  }
}

.fb-remove-modal-file-toolip {
  .file-info-label {
    @include font-semibold;
  }
}
