.fb-share-modal {
  &.modal.in {
    .modal-dialog .modal-content .modal-body {
      min-height: 125px;
    }
  }
  .form-message-name {
    margin-top: 4px;
    .hint-trigger {
      margin-left: 4px;
      .one-icon {
        font-size: 140%;
      }
    }
  }
  .share-intro-filename {
    @include font-semibold;
    word-break: break-all;
  }
}
