.fb-selection-toolkit {
  overflow: hidden;
  max-width: 220px;
  opacity: 1;
  margin-left: 20px;
  transition: $collapse-transition-vertical;
  .one-pill-button {
    .icon-dot {
      margin-bottom: 3px;
    }
    .one-pill-button-inner {
      height: 30px;
    }
    .one-pill-button-actions-trigger {
      width: 34px;
    }
  }
  .selection-count-number {
    color: $main-text-color-disabled;
  }
  &.pill-hidden {
    max-width: 0;
    opacity: 0;
    margin-left: 0;
  }
  &.mobile-mode {
    position: fixed;
    display: block;
    z-index: 1;
    bottom: 0;
    right: 10px;
  }
  &.desktop-mode {
    .one-pill-button {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
