.fb-table-row {
  @include vendor-prefix(user-select, none);
  overflow: hidden;
  &.file-selected {
    td {
      background-color: $color-file-selected;
      &.animate-attention {
        @extend .pulse-bg-selected-file-highlight;
      }
    }
    .one-icon-tag-circle {
      background-color: $color-file-selected;
    }
  }
  &.item-muted {
    .file-icon-container, .file-item-text {
      opacity: $disabled-opacity;
    }
  }
  &.is-invalidated {
    position: relative;
  }
  &.is-loading-on-icon {
    td.fb-table-col-files .file-info-container {
      .inline-icon-container-file {
        opacity: 0;
      }
      .spinner-container.start-transition {
        opacity: 1;
      }
    }
  }
  &:hover {
    td.fb-table-col-files {
      .flip-animated {
        .inline-icon-container {
          &.inline-icon-container-file {
            transform: rotateY(180deg) translateY(-50%) translateY(-8px);
            .flippable-back {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .fb-table-secondary-col {
    text-align: center;
  }
  td.fb-table-col-files {
    $transition-time: 0.5s;
    vertical-align: middle;
    .file-info-container {
      $min-icon-width: 2em;
      display: flex;
      .inline-icon-container-file {
        transform: translateY(-50%) translateY(-8px);
      }
      .inline-icon-container {
        align-self: center;
      }
      .inline-icon-container-file, .spinner-container {
        transition-property: opacity;
        transition-duration: .25s;
        transition-timing-function: ease;
      }
      &.flip-animated {
        .inline-icon-container-file {
          transition: transform $transition-time;
          transform-style: preserve-3d;
          // a hack to prevent visibility backface to fix issues in Firefox
          -moz-backface-visibility: hidden;
          .flippable-front {
            backface-visibility: hidden;
            // for Safari <= 15.3
            -webkit-backface-visibility: hidden;
            transform: rotateX(0deg);
          }
          .flippable-back {
            opacity: 0;
            transition: opacity $transition-time;
            transform: rotateY(180deg);
            color: inherit;
          }
        }
      }
      .file-icon-container, .file-item-text {
        position: relative;
        min-width: $min-icon-width;
      }
      .inline-icon-container {
        opacity: 1;
      }
      .spinner-container {
        opacity: 0;
        transform: translateY(-5px);
        min-width: $min-icon-width;
      }
      .file-item-text {
        width: 100%;
        padding-left: 10px;
        .file-item-text-upper {
          display: flex;
          align-items: center;
        }
        .file-info-container {
          min-height: 1em * $line-height-base;
          overflow: hidden;
          flex-grow: 1;
          display: flex;
          flex-direction: column;
        }
        .file-suffix.conflict-label {
          color: $color-one-danger;
        }
      }
      &.file-icon-container {
        .inline-icon-container-file {
          .one-icon-tag-icon {
            transform: none;
          }
        }
      }
    }
  }
  .file-info-mobile {
    padding-top: 4px;
    display: flex;
    overflow: hidden;

    .file-info-mobile-inner {
      flex-grow: 1;
      opacity: $disabled-opacity;
    }
    .file-info-mobile-inner + .file-info-mobile-inner {
      padding-left: 1em;
    }
    .file-info-mobile-right {
      text-align: right;
    }
  }
  .file-info-secondary {
    .file-info-secondary-inner {
      font-size: 90%;
      opacity: $disabled-opacity;
    }
  }
  .file-icon-container .one-icon {
    font-size: 200%;
  }
  &.fb-table-row-dir .file-icon {
    color: $color-directory;
  }
  &.fb-table-row-file .file-icon {
    color: $color-file;
  }
  &.fb-table-row-symlink .file-icon::before {
    color: $color-symlink;
  }
  &.fb-table-row-broken {
    .file-icon {
      color: $color-one-red;
    }
    .file-name-inner {
      color: $color-one-red;
      font-style: italic;
    }
  }
  > td {
    // Using background-clip to fix border hiding under background in Firefox.
    // See more: https://bugzilla.mozilla.org/show_bug.cgi?id=688556
    background-clip: padding-box;
    &.animate-attention {
      @extend .pulse-bg-file-highlight;
    }
  }
}
