.fb-table {
  $refresh-transition-duration: 300ms;
  $tbody-z-index: 0;

  position: relative;
  height: 100%;
  // diabled outline, because keyboard navigation causes fb-table to be presented focused
  outline: none;
  .refresh-spinner {
    position: fixed;
    transition: opacity $refresh-transition-duration ease-out;
    opacity: 0;
  }
  .fb-files-table {
    opacity: 1;
    transition: opacity $refresh-transition-duration ease-in;
    margin-bottom: 0;
  }
  &.refresh-started {
    .fb-files-table {
      transition: opacity $refresh-transition-duration ease-out;
      opacity: 0.05;
      pointer-events: none;
    }
    .refresh-spinner {
      transition: opacity $refresh-transition-duration ease-in;
      transition-delay: $refresh-transition-duration + 200ms;
      opacity: 1;
    }
  }
  &.special-dir-view {
    @include fill-flex-using-column;
    height: auto;
    background-origin: content-box;
    padding-bottom: 1em;
    padding-top: 1em;

    @media (max-height: 400px) {
      background: none;
      .dir-box-image {
        display: none;
      }
    }

    @media (max-width: $screen-xs-max) {
      h1 {
        font-size: 26px;
      }
      h2 {
        font-size: 20px;
      }
    }

    h1, h2, h3, h4, h5, h6 {
      line-height: normal;
      margin-left: 1.5em;
      margin-right: 1.5em;
      &:first-child {
        margin-top: 0;
      }
    }
    .dir-box {
      @include fill-flex-using-column;
      justify-content: center;
      position: static;
      transform: none;
      width: auto;
    }
    .dir-box-image {
      margin: 1.5em;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      flex-grow: 1;
      align-self: stretch;
      max-height: 18em;
      height: auto;
    }
    .table {
      display: none;
    }
    .table-bottom-spacing {
      display: none;
    }
  }

  .data-row td.special-row-cell, td.special-row-cell {
    position: relative;
    height: 61px;
    &.loading-row-cell {
      height: 76px;
    }
  }
  .error-dir-image {
    background-image: url($root-url + 'images/data-error-generic.svg');
    // override for known errnos
    &.error-dir-image-enoent {
      background-image: url($root-url + 'images/data-error-enoent.svg');
    }
    &.error-dir-image-eacces {
      background-image: url($root-url + 'images/data-error-eacces.svg');
    }
  }
  .dir-box {
    .dir-box-text {
      text-align: center;
    }
    h1 {
      @include font-semibold();
      text-transform: uppercase;
    }
  }
  th {
    user-select: none;
  }
  thead > tr > th:first-of-type {
    padding-left: $file-browser-padding-left;
  }
  .fb-table-thead {
    position: sticky;
    top: $fb-table-margin-top;
    // FIXME: use $fb-table-margin-top-mobile
    z-index: $tbody-z-index + 1;
    th {
      background-color: white;
      vertical-align: middle;
      padding-top: $table-cell-padding / 2;

      &:first-of-type {
        text-align: left;
      }
    }
  }
  .fb-table-tbody {
    position: relative;
    z-index: $tbody-z-index;
  }
  .fb-table-first-col-container {
    display: flex;
    align-items: center;
    .table-header-jump-control {
      flex-grow: 1;
      // FIXME: only if there are elements beside
      margin-left: 2em;
      margin-right: 2em;
      .jump-control {
        max-width: 18em;
      }
    }
    .table-header-status-bar {
      display: inline-flex;
      align-items: center;
      font-weight: normal;
    }
  }
  .fb-table-col-files {
    // enables text truncate inside
    max-width: 0;
  }
  .fb-table-col-actions-menu {
    width: 56px;
  }
  td.fb-table-col-actions-menu {
    position: relative;
    min-height: 61px;
    padding: 0;
    // TODO: a style bug that is only in Firefox: menu toggle is not 100% height
    // so the context menu displayed from menu trigger is not from center
    .file-row-actions-trigger.one-menu-toggle {
      width: 100%;
      height: 100%;
      &:hover {
        .menu-toggle-frame {
          background-color: transparent;
        }
      }
      .menu-toggle-frame {
        @include absolute-align-middle-center;
        transform: translateY(-50%) translateX(-50%) translateX(-14px);
        display: inline-block;
        border: none;
        padding: 0;
      }
    }
  }
  .table-bottom-spacing {
    height: 122px;
  }
}

.modal-dialog {
  .dir-box {
    .dir-box-image {
      height: 200px;
    }
    h2 {
      text-transform: none;
    }
  }
}

.special-dir-view {
  @extend .world-map;
  @extend .light;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

// adjust typography and sizes for non-full-content browsers
.modal, .split-browser-container {
  .fb-table.special-dir-view {
    .dir-box-image {
      max-height: 12em;
    }
    h1 {
      font-size: 1.8em;
    }
    h2 {
      font-size: 1.6em;
    }
    h3 {
      font-size: 1.2em;
    }
    h4 {
      font-size: 1em;
    }
    .empty-dir-image {
      display: none;
    }
  }
}

