.fb-table-row {
  @include vendor-prefix(user-select, none);
  overflow-y: hidden;
  &.file-selected {
    background-color: $color-file-selected;
  }
  &.file-cut {
    .file-icon-container, .file-item-text {
      opacity: 0.6;
    }
  }
  &.is-invalidated {
    position: relative;
  }
  td.fb-table-col-files {
    @media (max-width: $screen-xs-max) {
      padding-top: 8px;
      padding-bottom: 8px;
    }
    .file-info-container {
      display: flex;
      .file-icon-container, .file-item-text {
        min-width: 2em;
      }
      .file-item-text {
        width: 100%;
        padding-left: 10px;
        .file-name {
          overflow: hidden;
          flex-grow: 1;
        }
        .file-item-text-upper {
          display: flex;
          flex-grow: 1;
        }
        .file-suffix.conflict-label {
          color: $color-one-danger;
        }
      }
      .file-status-bar {
        display: inline-flex;
      }
      .file-status-tag {
        $border-width: 1px;
        $height: 24px;
        $margin-vertical-fix: ($height - 20px) / 2;
        
        display: inline-block;
        @include font-semibold;
        border-width: $border-width;
        border-style: solid;
        border-radius: 8px;
        font-size: 11px;
        line-height: 24px;
        padding-left: 6px;
        padding-right: 6px;
        margin-top: -$margin-vertical-fix - $border-width;
        margin-bottom: -$margin-vertical-fix - $border-width;
                
        .inline-icon-container {
          width: 14px;
          .one-icon {
            font-size: 150%;
          }
        }
        
        @include tag-colors-default;
       
        &.file-status-tag-success {
          @include tag-colors-success;
        }
        
        &.file-status-tag-warning {
          @include tag-colors-warning;
        }
        
        &.file-status-tag-danger {
          @include tag-colors-danger;
        }
        
        &.file-status-tag-disabled {
          @include tag-colors-disabled;
        }
        
        &+.file-status-tag {
          margin-left: 6px;
        }
        
        &:first-of-type {
          margin-left: 6px;
        }
      }
      .file-icon-container {
        .inline-icon-container-file {
          position: relative;
          top: 50%;
          transform: translateY(-50%) translateY(-3px);
        }
      }
    }
  }
  .file-info-mobile {
    display: none;
  }
  @media (max-width: $screen-xs-max) {
    .file-info-mobile {
      display: block;
      padding-top: 4px;
      .file-info-mobile-inner {
        color: $color-one-light-gray;
      }
      .file-info-mobile-right {
        float: right;
      }
    }
  }
  .file-icon-container .one-icon {
    font-size: 200%;
  }
  &.fb-table-row-dir .file-icon {
    color: $color-directory;
  }
  &.fb-table-row-file .file-icon {
    color: $color-file;
  }
  &.fb-table-row-broken {
    .file-icon {
      color: $color-one-red;
    }
    .file-name {
      color: $color-one-red;
      font-style: italic;
    }
  }
}
