.fb-table-row {
  $file-status-tag-padding: 6px;
  $file-status-tag-height: 24px;
  $file-status-tag-border-radius: 8px;
  $file-status-tag-font-size: 11px;
  $file-status-tag-icon-width: 14px;
  $file-status-tag-border-width: 1px;
  $file-status-tag-spacing: 6px;
  
  @include vendor-prefix(user-select, none);
  overflow: hidden;
  &.file-selected {
    background-color: $color-file-selected;
  }
  &.file-cut {
    .file-icon-container, .file-item-text {
      opacity: 0.6;
    }
  }
  &.is-invalidated {
    position: relative;
  }
  &.is-loading-download {
    td.fb-table-col-files .file-info-container {
      .inline-icon-container-file {
        opacity: 0;
      }
      .spinner-container.start-transition {
        opacity: 1;
      }
    }
  }
  td.fb-table-col-files {    
    @media (max-width: $screen-xs-max) {
      padding-top: 8px;
      padding-bottom: 8px;
    }
    .file-info-container {
      display: flex;
      .file-icon-container, .file-item-text {
        position: relative;
        min-width: 2em;
      }
      .inline-icon-container {
        opacity: 1;
      }
      .spinner-container {
        opacity: 0;
      }
      .inline-icon-container-file, .spinner-container {
        transition-property: opacity;
        transition-duration: .25s;
        transition-timing-function: ease;
      }
      .file-item-text {
        width: 100%;
        padding-left: 10px;
        .file-name {
          overflow: hidden;
          flex-grow: 1;
        }
        .file-item-text-upper {
          display: flex;
          flex-grow: 1;
        }
        .file-suffix.conflict-label {
          color: $color-one-danger;
        }
      }
      .file-status-bar {
        display: inline-flex;
      }
      .file-status-tag-group {
        display: flex;
        .file-status-tag {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          &:last-of-type {
            margin-left: 0;
            border-left-width: 0;
            border-top-right-radius: $file-status-tag-border-radius;
            border-bottom-right-radius: $file-status-tag-border-radius;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            &:first-of-type {
              border-left-width: $file-status-tag-border-width;
              border-top-left-radius: $file-status-tag-border-radius;
              border-bottom-left-radius: $file-status-tag-border-radius;
            }
          }
        }
        
        &+.file-status-tag, &+.file-status-tag-group {
          margin-left: $file-status-tag-spacing;
        }
      }
      .file-status-tag {
        $margin-vertical-fix: ($file-status-tag-height - 20px) / 2;
        
        display: inline-block;
        @include font-semibold;
        border-width: $file-status-tag-border-width;
        border-style: solid;
        border-radius: $file-status-tag-border-radius;
        font-size: $file-status-tag-font-size;
        line-height: $file-status-tag-height;
        padding-left: $file-status-tag-padding;
        padding-right: $file-status-tag-padding;
        margin-top: -$margin-vertical-fix - $file-status-tag-border-width;
        margin-bottom: -$margin-vertical-fix - $file-status-tag-border-width;
        white-space: nowrap;
                
        .inline-icon-container {
          width: $file-status-tag-icon-width;
          .one-icon {
            font-size: 150%;
          }
        }
       
        &.file-status-tag-icon {
          position: relative;
          padding-left: 0.3em;
          padding-right: 0.3em;
          .one-icon {
            position: relative;
            top: 0.35em;
            font-size: 2.2em;
            line-height: 0;
            font-weight: normal;
            margin-left: -0.1em;
            margin-right: -0.1em;
          }
        }
        
        @include tag-colors-default;
       
        &.file-status-tag-success {
          @include tag-colors-success;
        }
        
        &.file-status-tag-warning {
          @include tag-colors-warning;
        }
        
        &.file-status-tag-danger {
          @include tag-colors-danger;
        }
        
        &.file-status-tag-disabled {
          @include tag-colors-disabled;
        }
        
        &.file-status-tag-icon.file-status-protected {
          .one-icon {
            opacity: 0.8;
          }
        }
        
        &+.file-status-tag, &+.file-status-tag-group {
          margin-left: $file-status-tag-spacing;
        }
        
        &:first-of-type {
          margin-left: $file-status-tag-spacing;
        }
      }
      .qos-status-arrow {
        position: relative;
        top: 3px;
        font-size: 16px;
      }
      .file-icon-container {
        .inline-icon-container-file {
          position: absolute;
          top: 50%;
          transform: translateY(-50%) translateY(-2px);
        }
      }
    }
  }
  .file-info-mobile {
    display: none;
  }
  @media (max-width: $screen-xs-max) {
    .file-info-mobile {
      display: block;
      padding-top: 4px;
      .file-info-mobile-inner {
        color: $color-one-light-gray;
      }
      .file-info-mobile-right {
        float: right;
      }
    }
  }
  .file-icon-container .one-icon {
    font-size: 200%;
  }
  &.fb-table-row-dir .file-icon {
    color: $color-directory;
  }
  &.fb-table-row-file .file-icon {
    color: $color-file;
  }
  &.fb-table-row-broken {
    .file-icon {
      color: $color-one-red;
    }
    .file-name {
      color: $color-one-red;
      font-style: italic;
    }
  }
}
