$file-status-tag-padding: 6px;
$file-status-tag-height: 26px;
$file-status-tag-border-width: 1px;
$file-status-tag-line-height: $file-status-tag-height - 2 * $file-status-tag-border-width;
$file-status-tag-border-radius: 8px;
$file-status-tag-font-size: 11px;
$file-status-tag-icon-width: 14px;
$file-status-tag-spacing: 6px;

.file-status-bar {
  display: inline-flex;
  .file-status-tag-group {
    display: flex;
    .file-status-tag {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin-left: 0;
      &:first-of-type {
        margin-left: $file-status-tag-spacing;
      }
      &+.file-status-tag {
        border-left-width: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      &:last-of-type {
        border-top-right-radius: $file-status-tag-border-radius;
        border-bottom-right-radius: $file-status-tag-border-radius;
      }
    }
  }
  .file-status-tag {
    $margin-vertical-fix: ($file-status-tag-height - 20px) / 2;

    display: inline-flex;
    height: $file-status-tag-height;
    @include font-semibold;
    border-width: $file-status-tag-border-width;
    border-style: solid;
    border-radius: $file-status-tag-border-radius;
    font-size: $file-status-tag-font-size;
    line-height: $file-status-tag-line-height;
    padding-left: $file-status-tag-padding;
    padding-right: $file-status-tag-padding;
    margin-top: -$margin-vertical-fix - $file-status-tag-border-width;
    margin-bottom: -$margin-vertical-fix - $file-status-tag-border-width;
    margin-left: $file-status-tag-spacing;
    white-space: nowrap;

    .one-icon {
      position: relative;
      font-size: 2.1em;
      line-height: $file-status-tag-line-height;
      font-weight: normal;
    }

    .tag-text {
      display: inline-block;
      +.one-icon {
        margin-left: 0.1
      }
    }

    .inline-icon-container {
      width: $file-status-tag-icon-width;
      .one-icon {
        font-size: 150%;
      }
    }

    // known icons that looks better inside tags with some modifications
    .oneicon-provider, .oneicon-browser-attribute {
      opacity: 0.9;
    }

    &.file-status-tag-icon {
      position: relative;
      padding-left: 0.2em;
      padding-right: 0.2em;
      min-width: $file-status-tag-height;
      // icons have internal padding, so they look better in row when condensed
      .one-icon + .one-icon {
        margin-left: -0.2em;
      }
    }

    &.file-status-tag-icon-only {
      padding-left: 0;
      padding-right: 0;
      width: $file-status-tag-height;
      text-align: center;
      height: $file-status-tag-height;
    }

    @include tag-colors-default;

    &.file-status-tag-success {
      @include tag-colors-success;
    }

    &.file-status-tag-warning {
      @include tag-colors-warning;
    }

    &.file-status-tag-danger {
      @include tag-colors-danger;
    }

    &.file-status-tag-inherited {
      @include tag-colors-inherited;
    }

    // disabled color should be defined last to allow override colors
    &.file-status-tag-disabled {
      @include tag-colors-disabled;
    }
  }

  .file-status-progress {
    position: relative;
    overflow: hidden;
    .tag-progress {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 0;
      z-index: 2;

      // override for stronger look
      &.progress-bar-striped {
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
      }
    }
    .tag-text, .tag-icon {
      z-index: 3;
    }
  }

  // FIXME: specific, move?
  .file-status-recalling {
    width: 11em;
    justify-content: center;
  }
}

@mixin highlight-tag-color {
  @include tag-colors-inherited-highlight;
}

@mixin highlight-tag-shadow {
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.3));
}

@mixin highlight-tag-transition {
  transition: all 0.1s ease-in;
}

// file rows

.file-browser.highlight-transition {
  .file-status-tag {
    @include highlight-tag-transition;
  }
}
.file-browser.highlight-inherited {
  .fb-table-row .file-status-bar {
    .file-status-tag.file-status-inherited-collapsed {
      @include highlight-tag-color;
      @include highlight-tag-shadow;
    }
  }
  &.highlight-inherited-qos {
    .fb-table-row .file-status-bar {
      .qos-file-status-tag-group {
        .file-status-tag-inherited-addon {
          @include highlight-tag-color;
          @include highlight-tag-shadow;
        }
        &.file-status-tag-group-fully-inherited {
          @include highlight-tag-shadow;
          .file-status-tag {
            @include highlight-tag-color;
          }
        }
      }
    }
  }
  &.highlight-inherited-dataset {
    .fb-table-row .file-status-bar {
      .dataset-file-status-tag-group {
        .file-status-tag-inherited-addon {
          @include highlight-tag-color;
          @include highlight-tag-shadow;
        }
        &.file-status-tag-group-fully-inherited {
          @include highlight-tag-shadow;
          .file-status-tag {
            @include highlight-tag-color;
          }
        }
      }
    }
  }
  &.highlight-inherited-recalling {
    .fb-table-row .file-status-bar {
      .recalling-file-status-tag-group {
        .file-status-tag-inherited-addon {
          @include highlight-tag-color;
          @include highlight-tag-shadow;
        }
        &.file-status-tag-group-fully-inherited {
          @include highlight-tag-shadow;
          .file-status-tag {
            @include highlight-tag-color;
          }
        }
      }
    }
  }
}

// header

.file-browser {
  &.highlight-inherited-dataset {
    .table-header-status-bar .file-status-tag-group.dataset-file-status-tag-group {
      @include highlight-tag-shadow;
      .file-status-tag {
        @include highlight-tag-color;
      }
    }
  }
  &.highlight-inherited-qos {
    .table-header-status-bar .file-status-tag-group.qos-file-status-tag-group {
      @include highlight-tag-shadow;
      .file-status-tag {
        @include highlight-tag-color;
      }
    }
  }
  &.highlight-inherited-recalling {
    .table-header-status-bar .file-status-tag-group.recalling-file-status-tag-group {
      @include highlight-tag-shadow;
      .file-status-tag {
        @include highlight-tag-color;
      }
    }
  }
}
