.storage-location-per-provider-table {
  border-radius: $border-radius-base;
  box-shadow: 0 0 0 1px $main-border-color;

  @media (max-width: $screen-xs-max) {
    display: block;
  }

  tr.oneprovider-name-row {
    border-bottom: 1px solid #ddd;
    background-color: #f7f7f7;

    .oneprovider-name-cell {
      display: table-cell;
      margin-top: 0;
      border-top-left-radius: $border-radius-base;
      border-top-right-radius: $border-radius-base;

      @media (max-width: $screen-xs-max) {
        display: block;
      }

      .popover-info-trigger {
        font-size: 160%;
      }
    }
  }

  .oneprovider-storage-location-row td {
    &.storage-name-cell, &.error-cell {
      display: table-cell;
      padding-top: 6px;
      padding-bottom: $padding-small-vertical;
      margin-top: 0;
      height: 33px;

      @media (max-width: $screen-xs-max) {
        display: block;
      }

      @media (min-width: $screen-sm-min) {
        max-width: 20em;
      }

      @media (min-width: $screen-md-min) {
        width: 0.1%;
        white-space: nowrap;
        padding-top: 4px;
        max-width: 30em;
      }
    }

    &.location-cell {
      padding: 0;
      margin-top: 0;

      .empty-location-cell {
        padding-left: 14px;
      }

      @media (max-width: $screen-xs-max) {
        border-top: 1px solid #ddd;
      }
    }

    .location-cell-clipboard.clipboard-line {
      margin-bottom: 0;

      input {
        border: none;
        box-shadow: none;
        @include font-monospace();
      }
    }

    .clipboard-line {
      margin-bottom: $table-cell-padding;
    }

    .oneicon-sign-warning-rounded {
      font-size: 120%;
      color: $color-one-yellow;
      vertical-align: middle;
      width: 1.2em;
      margin-left: -2px;
      margin-right: 1px;
    }
  }
}
