.storage-location-per-provider-table {
  padding-bottom: $table-cell-padding;

  .storage-locations-oneprovider {
    border: 1px solid #d6d6d6;
    border-radius: 4px;

    .storage-locations-table {
      width: 100%;
  
      > tbody > tr > td {
        border-top: 1px solid #ddd;

        &.storage-name-cell { 
          padding-top: 4px;
          padding-bottom: 4px;
          margin-top: 0;
          height: 33px;
        }

        &.location-cell {
          padding: 0;
          margin-top: 0;
        }

        .location-cell-clipboard.clipboard-line {
          margin-bottom: 0;
      
          input {
            border: none;
            box-shadow: none;
          }
        }

        .clipboard-line {
          margin-bottom: 20px;
        }
      }

      .oneprovider-name-thead {
        background-color: #f7f7f7;
    
        tr td {
          margin-top: 0;
        }
      }
    }
  }
}
