.archive-browser {
  .fb-table-secondary-col {
    width: 120px;
  }
  .fb-table-col-state {
    width: 110px;
  }
  .fb-table-col-incremental {
    width: 128px;
  }
  .fb-table-col-dip {
    width: 80px;
  }
  .fb-table-col-layout {
    width: 100px;
  }
  .col-status-no {
    color: $main-text-color-disabled;
  }
  .fb-breadcrumbs {
    .fb-breadcrumbs-separator {
      &::before {
        content: '›';
      }
    }
  }
  .empty-dir-image {
    background-image: url($root-url + 'images/space-data.svg');
  }
  td.fb-table-col-state.multiline {
    padding-top: 10px;
    padding-bottom: 0;
    white-space: nowrap;
  }
}
