.archive-filesystem-browser {
  .dip-switch {
    margin-bottom: -1em;
    margin-left: 2em;
    transform: translateY(-0.5em);
  }
  .archive-filesystem-empty-dir {
    @include fill-flex-using-column;
    justify-content: center;

    .dip-switch {
      transform: none;
      margin: 0;
      align-self: center;
    }
  }
  .fb-table-first-col-container {
    .table-header-text {
      flex-grow: 0;
    }
    .spacer {
      flex-grow: 1;
    }
  }
}
