.archive-browser {
  .fb-table-secondary-col {
    width: 120px;
  }
  .fb-table-col-state {
    width: 110px;
  }
  .fb-table-col-incremental {
    width: 14em;
    max-width: 14em;
    .base-archive-id-container {
      display: block;
    }
  }
  .col-status-no {
    color: $main-text-color-disabled;
  }
  .fb-breadcrumbs {
    .fb-breadcrumbs-separator {
      &::before {
        content: '›';
      }
    }
  }
  .dir-box-text {
    .empty-archives-create-action .inline-icon-container {
      // individually adjusting icon to text (because of its shape)
      bottom: 0;
    }
  }
  .error-dir-image-no-view {
    background-image: url($root-url + 'images/no-view.svg');
  }
  .archive-table-row-secondary-info {
    .no-description {
      font-style: italic;
      opacity: 0.8;
    }
  }
  @media (max-width: 450px) {
    .file-info-mobile-created {
      display: none;
    }
  }
}
