.archive-recall-part {
  .archive-recall-header {
    .intro-text {
      margin-top: 2em;
    }
  }
  .archive-recall-footer {
    .target-name-form {
      display: flex;
      align-items: baseline;
      margin-bottom: $modal-footer-vertical-padding;
      .target-name-label {
        @include font-semibold;
        margin-right: $padding-large-vertical;
      }
      .target-name-input {
        width: auto;
        flex-grow: 1;
      }
    }
    .submit-summary {
      display: flex;
      align-items: flex-end;
      .submit-buttons {
        display: flex;
        align-items: center;
      }
    }
    .path-summary {
      align-self: flex-start;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      text-align: left;
      // prevent taking as much space as it wants
      min-width: 0;
      .path-summary-info {
        margin-bottom: 0.5em;
      }
      .path-summary-path {

      }
    }
    .target-path-item {
      @include font-semibold;
    }
  }
}
