.archive-browser {
  .fb-table-col-creator {
    --col-creator-fixed-width: 240px;
    text-align: center;
    max-width: var(--col-creator-fixed-width);
    // empirical size - prevent shortening archive creation dates
    @media (max-width: 1000px) {
      --col-creator-fixed-width: 180px;
    }
  }
  .fb-table-col-incremental {
    max-width: 14em;
    .base-archive-id-container {
      display: block;
    }
  }
  .col-status-no {
    color: $main-text-color-disabled;
  }
  .dir-box-text {
    .empty-archives-create-action .inline-icon-container {
      // individually adjusting icon to text (because of its shape)
      bottom: 0;
    }
  }
  .error-dir-image-no-view {
    background-image: url($root-url + 'images/no-view.svg');
  }
  .secondary-description {
    .no-description {
      font-style: italic;
      opacity: 0.8;
    }
  }
  @media (max-width: 450px) {
    .file-info-mobile-created {
      display: none;
    }
  }
}
