.modal.in .modal-dialog {
  max-height: calc(100% - 16px);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  .modal-content {
    // a fix for the semi-transparent border of modal
    background-clip: unset;
    border: 3px white solid;
  }
  .modal-header {
    h1 {
      @media (max-width: $screen-xs-max) {
        margin-top: 4px;
      }
    }
    h2 {
      line-height: normal;
      margin-top: -0.5em;
      &.normal-case {
        text-transform: none;
      }
    }
    .inline-icon-container {
      .oneicon {
        transform: translateY(-50%) translateY(2px);
      }
    }
  }
}

.modal-backdrop {
  &.in, &.fade {
    background-color: $main-tabbed-content-background;
  }
}

@media (max-width: $screen-xs-max) {
  .modal.in .modal-dialog {
    width: calc(100% - 16px);
    .modal-content {
      padding: 0;
    }
    .btn {
      padding: 8px 24px;
    }
  }
}
