.modal.in .modal-dialog {
  max-height: calc(100% - 16px);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  .modal-header {
    h1 {
      @media (max-width: $screen-xs-max) {
        margin-top: 4px;
      }
    }
    h2 {
      line-height: normal;
      margin-top: -0.5em;
      &.normal-case {
        text-transform: none;
      }
    }
    .inline-icon-container {
      .oneicon {
        transform: translateY(-50%) translateY(2px);
      }
    }
  }
}

.modal-backdrop {
  &.in, &.fade {
    background-color: $main-tabbed-content-background;
  }
}

@media (max-width: $screen-xs-max) {
  .modal.in .modal-dialog {
    .btn {
      padding: 8px 24px;
    }
  }
}

// a full-height modal that looks like content overlay (currently starting from right) 
.modal.modal-content-overlay {
  &.in {
    .modal-dialog {
      transform: none;
      box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 10%);
      width: calc(100% - #{$content-col-padding * 2});
      max-width: $modal-xl;

      @media (max-width: $screen-xs-max) {
        width: calc(100% - #{$padding-large-vertical});
      }
    }

    &.without-footer {
      .modal-dialog .modal-content {
        padding-bottom: 0;

        .modal-body:last-child {
          padding-bottom: 0;
        }
      }
    }

    &.with-close-button {
      &.in .modal-content .modal-header {
        .close {
          display: block;
          // FIXME: refactor styles
          margin-top: 14px;
          font-size: 2.5em;
          opacity: 0.4;
          color: $main-text-color;
          &:hover {
            opacity: $disabled-opacity;
          }
        }
      }
    }
  }

  .modal-dialog {
    transform: translateX(100%);
    transition: transition-ease(transform); 

    top: 0;
    bottom: 0;
    right: 0;
    left: initial;
    max-height: none;
    height: 100%;
    background-color: #fff;
    border-radius: 0;
  }
}
