.modal-dialog {
  box-shadow: 0px 0px 100px 20px rgba(0,0,0,0.3);
  // TODO: temporary fix for the semi-transparent border of modal
  .modal-content {
    background-clip: unset;
    border: 3px white solid;
  }
}