@import './columns-configuration-popover/column-editor';

.webui-popover-columns-configuration {
  width: 400px;
  min-height: var(--min-height-popover, 0);
  --drop-area-height: 20px;

  .webui-popover-content {
    padding: 0;

  }
  @media (hover: none) {
    .column-move-icon {
      display: none;
    }
  }

  .columns-configuration-list {
    max-height: 60vh;
    @media (max-height: $screen-sm-max) {
      max-height: 40vh;
    }
    padding: $padding-xs-horizontal $padding-base-vertical;
    @media (hover: hover) {
      padding-left: $padding-xs-horizontal;
    }

    &.on-bottom + .add-new-column {
      @include hide-before-shadow;
    }
  }
  .columns-list {
    padding: 0;
    margin: 0;
    list-style-type: none;

    .subname-text {
      font-size: 80%;
      opacity: $disabled-opacity;
      padding-left: 0.3em;
    }

    .column-item .drag-drop-area {
      display: flex;
      flex-direction: column;
      margin-bottom: $padding-base-vertical;
      position: relative;

      .checkbox-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .disabled-icon {
        opacity: 0.2;
        cursor: auto;
      }

      .icons-container {
        display: inline-flex;
        justify-content: flex-end;
        width: 7em;

        @media (hover: none) {
          width: 10em;
        }

        .inline-icon-container {
          width: 1.2em;
          height: auto;
        }

        .icon-container .oneicon {
          vertical-align: middle;
        }

        .remove-column, .modify-column {
          cursor: pointer;
          visibility: hidden;

          .oneicon {
            font-weight: bold;
            font-size: 120%;
          }
        }

        .remove-column:hover {
          color: $color-one-red;
        }

        .modify-column:hover {
          color: $color-one-mint;
        }

        .column-info-icon {
          font-size: 140%;
          opacity: $disabled-opacity;
        }

        .no-view-icon {
          font-size: 160%;
        }

        .arrows-container {
          display: flex;
          cursor: pointer;
          align-items: center;

          @media (hover: hover) {
            display: none;
          }

          .oneicon {
            font-size: 120%;
            font-weight: bold;
          }
        }
      }

      .filter-column-checkbox {
        min-width: 16px;
      }

      label.column-name-label {
        display: inline-flex;
        align-items: baseline;
        flex-grow: 1;
        min-width: 12.3em;
        padding-right: 0.35em;

        .checkbox-label {
          position: relative;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      label {
        display: inline-block;
        margin: 0;
        padding-left: 0.35em;
        cursor: pointer;
      }
      .column-move-icon {
        visibility: hidden;
      }
      @media (hover: hover) {
        &:hover .visible-on-hover {
          visibility: visible;
        }
      }
      @media (hover: none) {
        .visible-on-hover {
          visibility: visible;
        }
        label.column-name-label {
          min-width: 10.3em;
        }
      }

      .column-move-icon {
        padding-right: 0.2em;
        cursor: grab;
        opacity: $disabled-opacity;
      }
    }

    .one-checkbox, .checkbox-label {
      vertical-align: middle;
    }
  }

  .column-configuration-header, .add-new-column {
    // empirical alignment to the checkbox under/above
    padding: 16px 0 16px 23px;
  }

  .column-configuration-header {
    position: sticky;
    @include before-bottom-shadow;
    margin: 0;
    z-index: 1;

    @media (hover: none) {
      // empirical alignment to the checkbox above
      padding-left: 12px;
    }

    @media (max-height: 400px) {
      display: none;
    }
  }

  .metadata-state-selector {
    padding-bottom: 15px;
  }

  .add-new-column {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: sticky;
    bottom: 0px;
    @include before-top-shadow;

    @media (hover: none) {
      // empirical alignment to the checkbox above
      padding-left: 12px;
    }

    .new-column-text {
      font-style: italic;
      padding-left: 6px;
      opacity: $disabled-opacity;
    }

    .add-new-column-btn {
      display: inline-block;
      font-size: 0.42em;
      padding: 0.4em;

      .adder-icon {
        left: 0;
      }
    }
  }
  .space-between-item-area {
    height: 10px;
  }

  .before-drag-over-border .space-between-item-area,
  .after-drag-over-border + li .space-between-item-area,
  .after-drag-over-border + .space-between-item-area {
    border: 1px dashed darken($color-one-gray-sand, 10%);
    background-color: rgba($color-one-gray-sand, 0.75);
    border-radius: $border-radius-small;
  }

  .before-drop-area, .after-drop-area {
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--drop-area-height);
    z-index: -1;
    &.drop-area {
      z-index: $zindex-tooltip;
    }
  }

  .before-drop-area {
    top: 0;
  }
  .after-drop-area {
    top: var(--drop-area-height);
  }
}

.webui-popover-columns-configuration-with-metadata {
  @media (min-height: $screen-sm-min) {
    --min-height-popover: 240px;
  }
}
