.webui-popover-columns-configuration {
  .webui-popover-content {
    padding-top: $padding-xs-horizontal;
    padding-bottom: $padding-xs-horizontal;
    padding-left: $padding-xs-horizontal;
  }
  .columns-list {
    padding: 0;
    margin: 0;
    list-style-type: none;

    .column-configuration-checkbox .draggable-object {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: $padding-base-vertical;
      position: relative;

      .disabled-icon {
        opacity: 0.2;
        cursor: auto;
      }

      .arrows-container {
        display: flex;
        cursor: pointer;
        align-items: center;

        @media (hover: none) {
          visibility: visible;
        }
        @media (hover: hover) {
          visibility: hidden;
        }

        .oneicon {
          font-size: 120%;
          font-weight: bold;
          vertical-align: middle;
        }
      }

      label.column-name-label {
        display: inline-flex;
        flex-grow: 1;
        padding-right: 2.2em;

        @media (hover: hover) {
          padding-right: 0;
        }

        .checkbox-label {
          position: relative;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      .oneicon-no-view {
        font-size: 160%;
        vertical-align: middle;
        position: absolute;
        right: -1.2em;
        top: 50%;
        transform: translateY(-45%);
      }

      label {
        display: inline-block;
        margin: 0;
        padding-left: 0.35em;
        cursor: pointer;
      }
      .column-move-icon {
        visibility: hidden;
      }
      @media (hover: hover) {
        &:hover .column-move-icon {
          visibility: visible;
          opacity: 0.6;
          cursor: pointer;
        }
      }

      .column-move-icon {
        padding-right: 0.2em;
      }
    }

    .one-checkbox, .checkbox-label {
      vertical-align: middle;
    }
  }
  .draggable-object-target {
    height: 10px;

    &.accepts-drag {
      border: 1px dashed darken($color-one-gray-sand, 10%);
      background-color: rgba($color-one-gray-sand, 0.75);
      border-radius: $border-radius-small;
    }
  }
}
