.webui-popover-columns-configuration {
  .columns-list {
    padding: 0;
    margin: 0;
    list-style-type: none;

    .column:first-of-type .move-up-button,
    .column:last-of-type .move-down-button {
      opacity: $disabled-opacity;
      cursor: auto;
    }

    .column {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .column:hover {
      .arrows-container {
        visibility: visible;
      }
    }

    .column {
      .arrows-container {
        display: flex;
        cursor: pointer;

        @media (hover: none) {
          visibility: visible;
        }
        @media (hover: hover) {
          visibility: hidden;
        }

        .oneicon {
          font-size: 120%;
          font-weight: bold;
          vertical-align: middle;
        }
      }
    }

    .column label.column-name-label {
      display: inline-flex;
      flex-grow: 1;
      padding-right: 2.2em;

      .checkbox-label {
        position: relative;
      }
    }

    .column {
      margin-bottom: $padding-base-vertical;
      position: relative;

      &:last-child {
        margin-bottom: 0;
      }

      .oneicon-no-view {
        font-size: 160%;
        vertical-align: middle;
        position: absolute;
        right: -1.2em;
        top: 50%;
        transform: translateY(-45%);
      }

      label {
        display: inline-block;
        margin: 0;
        padding-left: 0.35em;
        cursor: pointer;
      }
    }

    .one-checkbox, .checkbox-label {
      vertical-align: middle;
    }
  }
}
