.content-file-browser + .ps-scrollbar-x-rail + .ps-scrollbar-y-rail {
  // FIXME: use variables
  z-index: 20000;
}

@media (max-width: $screen-xs-max) {
  .one-embedded-component.content-file-browser {
    margin-left: 0;
    margin-right: 0;
  }
}

.content-file-browser {
  $drop-zone-rect-margin: $padding-small-horizontal;

  flex-grow: 1;

  .upload-drop-zone {
    position: fixed;
    top: $drop-zone-rect-margin;
    bottom: $drop-zone-rect-margin;
    left: $drop-zone-rect-margin;
    right: $drop-zone-rect-margin;
    display: none;
    border: 3px dashed darken($color-one-light-blue, 10%);
    background-color: rgba($color-one-light-blue, 0.75);
    z-index: $zindex-tooltip;
    
    .upload-watermark-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      font-size: 15em;
      color: darken($color-one-light-blue, 10%);
    }
  }

  &.file-drag {
    .upload-drop-zone {
      display: block;
    }
  }
}
