.content-file-browser .file-browser-head-container {
  z-index: $zindex-file-browser-head;
}

.content-file-browser + .ps__rail-x + .ps__rail-y {
  z-index: $zindex-file-browser-head + 1;
}

@media (max-width: $screen-xs-max) {
  .one-embedded-component.content-file-browser {
    margin-left: 0;
    margin-right: 0;
  }
}

.content-file-browser {
  height: 100%;
  flex-grow: 1;
}
