.content-space-config {
  .space-settings-info {
    padding-bottom: 18px;
  }

  .dir-size-stats-config-info { 
    padding-top: 18px;
  }

  .dir-size-stats-config-label, .tmp {
    @include font-semibold;
  }

  .dir-size-stats-icon {
    font-size: 1.8em;
    position: absolute;
    transform: translateY(-4px);
  }

  .dir-size-stats-warning {
    padding-left: 28px;
  }

  .dir-size-stats-config.content-section {
    padding-bottom: 2px;
  }
}
