.content-public-share {
  // some header adjustments - it's because header heights are poorly written and should be
  // refactored in future
  .share-show.with-header-double {
    .share-header-panel {
      height: $content-header-height-double + $padding-base-vertical;
    }
    .file-browser-head-container {
      top: $content-header-height-double + $padding-base-vertical;
    }
    .fb-table-container {
      margin-top: $content-header-height-double + $padding-base-vertical + $fb-table-margin-top;
    }
  }
}
