// FIXME: look at shares file browser

@media (max-width: $screen-xs-max) {
  .one-embedded-component.content-space-datasets {
    margin-left: 0;
    margin-right: 0;
  }
}

.content-space-datasets {
  position: relative;
  height: 100%;
  flex-grow: 1;

  .datasets-state-selector {
    position: absolute;
    transform-origin: bottom right;
    transform: translateX(-100%) translateY(100%) rotate(-90deg);
    left: $content-col-padding;
    top: $padding-base-horizontal;
  }

  .file-browser-head-container {
    z-index: $zindex-file-browser-head;
  }

  + .ps__rail-x + .ps__rail-y {
    z-index: $zindex-file-browser-head + 1;
  }
}
