// FIXME: look at shares file browser

.content-space-datasets {
  + .ps__rail-x + .ps__rail-y {
    z-index: $zindex-file-browser-head + 1;
  }
}

@media (max-width: $screen-xs-max) {
  .one-embedded-component.content-space-datasets {
    margin-left: 0;
    margin-right: 0;
  }
}

.content-space-datasets {
  .file-browser-head-container {
    z-index: $zindex-file-browser-head;
  }

  height: 100%;
  flex-grow: 1;
}
