.dataset-browser {
  .fb-table-col-archives {
    position: relative;
    width: 120px;
    text-align: center;
  }
  .fb-table-col-created {
    width: 200px;
    text-align: center;
  }
  .fb-breadcrumbs {
    .fb-breadcrumbs-separator {
      &::before {
        content: '›';
      }
    }
  }
  .empty-dir-image {
    background-image: url($root-url + 'images/space-data.svg');
  }
  .archives-count-link {
    display: inline-block;
    min-width: 2em;
  }
  .dataset-table-row-secondary-info {
    .dataset-info-secondary-file-path {
      text-align: left;
      direction: rtl;
      // must be specified to fix "/" characters to be rendered on right
      .dataset-info-secondary-file-path-internal {
        unicode-bidi: plaintext;
      }
    }
  }
  @media (max-width: 380px) {
    .file-info-mobile-created {
      display: none;
    }
  }
}
