.edit-permissions-modal {
  .active-permissions-type-container {
    display: flex;
    align-items: center;
    padding-bottom: $padding-base-vertical;
    border-bottom: 1px solid $main-border-color;

    .one-label {
      flex-grow: 1;
      @include font-semibold();
    }
    
    .btn-group {
      display: flex;
    }
  }

  .modal-body {
    min-height: 280px;
  }

  .posix-permissions-editor {
    margin-top: $padding-base-vertical;
  }
}
