$metadata-nav-tabs-height: 44px;
.file-metadata-header {
  .bs-tab {
    .nav-tabs {
      height: $metadata-nav-tabs-height;
    }
  }
}
.file-metadata-body {
  &.full-height {
    @include fill-flex-using-column;
  }
  .bs-tab {
    $nav-tabs-height: 44px;
    .tab-content-metadata {
      height: calc(100% - #{$metadata-nav-tabs-height});
    }
  }
  .form-group.form-group-ace-editor {
    .ember-ace.full-height {
      // make some space for one-line error message
      height: calc(100% - 1em);
    }
  }
  .file-metadata-xattrs {
    .xattrs-params-editor {
      // 1.2em - qos params editor remove icon width
      width: calc(100% - #{$padding-small-horizontal} - 1.2em);
    }
  }
}
