.file-info-modal {
  @media (min-width: $screen-md-min) {
    .modal-lg {
      width: 1000px;
    }
  }

  .file-info-modal-header {
    padding-bottom: 0;
    .file-info-header-extension {
      margin-top: $modal-title-padding + 5px;
    }
  }

  .file-info-modal-body {
    .bs-modal-body-scroll {
      padding-top: $modal-title-padding + $btn-group-tabs-vertical-offset;
      // allow to overflow labels to the left (needed for text-like dropdown)
      margin-left: -$modal-inner-padding;
      padding-left: $modal-inner-padding;
    }
  }

  // complex selector for overriding
  &.modal.in .modal-dialog .file-info-modal-footer {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .file-info-row-size .file-info-detail-size,
  .current-size-section .extra-info {
    opacity: $disabled-opacity;
    margin-left: 0.5em;
  }

  .no-statistics-message {
    text-align: center;
  }

  .size-stats-expand {
    .one-icon {
      font-size: 1.2em;
      vertical-align: middle;
    }
  }

  .current-size-table-container {
    margin-top: 1.3em;
    border: 1px solid $table-border-color;
    border-radius: $border-radius-base;

    table {
      width: 100%;
      margin-bottom: 0;
      &.centered-text {
        text-align: center;
      }

      thead, tbody .header {
        background-color: $block-background-color;
        @include font-semibold;
        // Using background-clip to fix border hiding under background in Firefox.
        // See more: https://bugzilla.mozilla.org/show_bug.cgi?id=688556
        background-clip: padding-box;
      }
      tbody tr {
        border-top: 1px solid $table-border-color;
      }
      tbody td:not(:first-of-type), thead td:not(:first-of-type) {
        border-left: 1px solid $table-border-color;
      }
      .error-cell {
        position: relative;
        text-align: center;
      }
      .oneicon-sign-warning-rounded {
        font-size: 120%;
        color: $color-one-yellow;
        vertical-align: middle;
        width: 1.2em;
      }
      .dir-stats-icon {
        vertical-align: middle;
        font-size: 160%;
        width: auto;
        transform: translateY(-1px);
      }
      .extra-info {
        opacity: $disabled-opacity;
        margin-left: 0.5em;
      }
      .one-label-tip {
        margin-left: 0.5em;
        line-height: 1;
      }
      .header {
        text-align: left;
      }
    }
  }

  .current-size-section {
    .current-size-header {
      @include font-semibold();
      font-size: 100%;
      margin-top: 0;

      .extra-info {
        text-transform: lowercase;
        @include font-regular();
      }

      .header-info-warning {
        vertical-align: middle;
        font-size: 1em;
        margin-left: 0.3em;
        color: $color-one-warning;
      }
      .providers-count-warning span {
        @include font-semibold;
      }
    }

    .one-label-tip {
      margin-left: 0.5em;
    }

    .root-dir-alert {
      display: flex;
      align-items: center;
      margin-top: -10px;
      margin-bottom: 25px;
      .one-icon {
        font-size: 200%;
      }
      .one-icon + .text {
        margin-left: 0.8em;
      }
    }
  }

  .historical-size-section {
    margin-top: 2em;
  }

  .api-command-type-row {
    display: flex;
    align-items: center;

    padding-top: $ember-power-select-option-small-padding-vertical;
    padding-bottom: $padding-base-vertical;

    .api-command-type {
      display: none;
    }

    .api-command-type-info-trigger-container {
      &.inline-icon-container .oneicon {
        // makes tooltip to be nearer the icon center
        line-height: 0.5;
        transform: translateY(-50%);
      }
    }

    .api-command-type-selector-trigger {
      flex-basis: 25em;
      @media (max-width: $screen-xs-max) {
        flex-basis: auto;
        flex-grow: 1;
      }
    }

    .labels-container {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;

      .label {
        line-height: initial;
        font-weight: normal;
        @include font-semibold;
      }
    }

    .bracket-fix {
      top: -0.05em;
      position: relative;
    }
  }
  .table.table-info.table-file-info {
    td.property-name {
      padding-left: 0;
      width: 11em;
      @media (max-width: $screen-xs-max) {
        width: auto;
      }
    }
    .property-subname {
      font-size: 80%;
      opacity: $disabled-opacity;
      font-weight: normal;
    }
    td.property-value {
      padding-right: 0;
      @media (max-width: $screen-xs-max) {
        padding-left: 0;
      }
    }
    .file-info-row-storage-location {
      td.property-name.with-input-sm {
        padding-top: 20px;
      }
      td.property-value {
        @media (max-width: $screen-xs-max) {
          padding-left: 1px;
          padding-right: 1px;
        }
      }
    }
  }

  .user-fullname {
    // hack for glitching cursor
    opacity: 0.9999;
  }

  .nav-link {
    display: inline-flex;
    align-items: center;
    .tab-icon {
      // every icon has some internal padding - move the icon a little to the left
      // to make it look centered with text
      margin-left: -0.2em;
      margin-right: 0.2em;
      font-size: 1.8em;
    }
    .tab-icon.oneicon-rest {
      font-size: 19px;
      font-weight: bold;
    }

    .tab-label-api-samples {
      margin-left: 14px;
    }

    &.tab-status-default {
      --tab-status-icon-color: #{$color-one-default};
    }
    &.tab-status-info {
      --tab-status-icon-color: #{$color-one-azure};
    }
    &.tab-status-success {
      --tab-status-icon-color: #{$color-one-success};
    }
    &.tab-status-warning {
      --tab-status-icon-color: #{$color-one-warning};
    }
    &.tab-status-danger {
      --tab-status-icon-color: #{$color-one-danger};
    }

    &.with-status-icon {
      display: inline-flex;
      align-items: center;
      .tab-status-icon {
        font-size: 1.8em;
        margin-right: -0.3em;
        margin-left: 0.2em;
        &.oneicon-sign-warning-rounded {
          font-size: 1.2em;
          margin-left: 0.5em;
        }
      }
      .tab-status-icon {
        color: var(--tab-status-icon-color, 'inherit');
      }
    }
    $tab-status-text-margin: 0.8em;
    .tab-status-number {
      // some sizes are in pixel format here, because using em will cause partial-pixels
      // and poor rendering
      $circle-size: 16px;
      display: inline-block;
      border-radius: 100%;
      background-color: var(--tab-status-icon-color, $color-one-azure);
      padding: 0 4px;
      min-width: $circle-size;
      height: $circle-size;
      font-size: 80%;
      @include font-bold;
      color: white;
      text-align: center;
      margin-left: $tab-status-text-margin;
    }
    .tab-status-tag {
      background-color: var(--tab-status-icon-color, $color-one-azure);
      margin-left: $tab-status-text-margin;
    }
  }

  .tab-bar-li:first-child {
    .nav-link {
      // first tab icon is specially aligned for alignment with header
      .tab-icon {
        margin-left: -0.1em;
      }
    }
  }

  .shows-first-n-hardlinks {
    margin-bottom: $padding-base-vertical;
  }

  .file-hardlinks-list {
    list-style-type: none;
    padding: 0;
  }

  .file-hardlink {
    display: flex;
    border-top: 1px solid $main-border-color;
    padding: $padding-base-vertical;

    .file-type-icon {
      font-size: 190%;
    }

    .icon-col {
      flex: 0 0 2.5em;
    }

    .content-col {
      flex-grow: 1;
      min-width: 0;
    }

    .file-name {
      @include font-semibold();
      margin-bottom: $padding-xs-vertical;
      font-size: 120%;
    }

    .file-path {
      display: flex;
    }

    .anchor-container {
      margin-left: 0.4em;
      min-width: 0;
      flex-grow: 1;
    }

    &.extra-hardlink-description {
      display: block;
      text-align: center;
    }

    &:last-child {
      border-bottom: 1px solid $main-border-color;
    }
  }

  .storage-locations-expand {
    padding-top: 10px;
  }

  .fb-no-dir-statistics .content-info-content-container .row {
    text-align: center;
  }

  .storage-locations-table {
    width: 100%;

    @media (max-width: $screen-xs-max) {
      display: block;
    }

    .space-between-providers {
      border: none;
      box-shadow: none;
      tr {
        padding: 10px;
      }
    }
  }

  .file-link-clipboard-line {
    margin-top: 1em;
    &:first-of-type {
      margin-top: 0;
    }
  }

  .file-link-group-addon {
    .file-link-group-addon-inner {
      display: flex;
      align-items: center;
      .one-label-tip {
        display: flex;
        align-items: center;
        margin-left: 0.4em;
      }
    }
  }
  .ember-power-select-selected-item {
    .file-link-type-selector-item {
      .file-link-type-selector-tip {
        margin-right: 0.2em;
      }
    }
  }
  .metadata-type-tabs {
    .metadata-type-btn-xattrs {
      text-transform: lowercase;
    }

    .metadata-header-hint-trigger.hint-trigger {
      margin-left: 1em;
      margin-right: -1em;
    }
  }

  .file-metadata-ace-editor-base {
    display: flex;
    flex-direction: column;
    .form-group-ace-editor {
      flex-grow: 1;
    }
  }

  .metadata-description {
    text-align: center;
    padding-bottom: $padding-large-vertical;
    padding-top: 0;

    @media (max-width: $screen-xs-min) {
      text-align: left;
      padding-bottom: 0;
      margin-top: -22px;
    }
  }
}

.file-link-type-selector-item {
  display: flex;
  .file-link-type-selector-tip {
    display: flex;
    align-items: center;
    margin-left: 0.5em;
  }
}
