.file-info-modal {
  @media (min-width: $screen-md-min) {
    .modal-lg {
      width: 1000px;
    }
  }

  @media (min-width: $screen-sm-min) {
    .visible-on-no-body-overflow {
      display: none;
    }

    .modal-dialog {
      // no vertical overflow
      &.scroll-on-bottom.scroll-on-top {
        .visible-on-no-body-overflow {
          display: var(--display-on-no-body-overflow, block);
        }
      }
    }

    &.footer-visible-on-body-overflow {
      .modal-dialog {
        // no vertical overflow
        &.scroll-on-bottom.scroll-on-top {
          .show-when-no-body-scroll {
            display: initial;
          }
          .file-info-modal-footer {
            height: 0;
            padding-top: 0;
            padding-bottom: 0;
          }
        }
      }
    }

  }

  .file-info-modal-header {
    padding-bottom: 0;
    .file-info-header-extension {
      margin-top: $modal-title-padding + 5px;
    }
  }

  .file-info-modal-body {
    .bs-modal-body-scroll {
      padding-top: $modal-title-padding + $btn-group-tabs-vertical-offset;
    }
  }

  // complex selector for overriding
  &.modal.in .modal-dialog .file-info-modal-footer {
    padding-top: 1em;
    padding-bottom: 1.6em;
  }

  .file-info-row-size .file-info-detail-size,
  .current-size-section .extra-info {
    opacity: $disabled-opacity;
    margin-left: 0.5em;
  }

  .no-statistics {
    background-image: url($root-url + "/images/empty-directory.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 200px;
    padding-top: 260px;
    .no-statistics-message {
      @include font-semibold();
      text-transform: uppercase;
      font-size: 130%;
      text-align: center;
      width: 100%;
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  .current-size-section {
    .current-size-header {
      @include font-semibold();
      font-size: 100%;
      margin-top: 0;
    }

    .one-label-tip {
      margin-left: 0.5em;
    }
  }

  .historical-size-section {
    margin-top: 2em;
  }

  .api-command-type-row {
    display: flex;
    align-items: center;

    padding-top: $ember-power-select-option-small-padding-vertical;
    padding-bottom: $padding-base-vertical;

    .api-command-type {
      display: none;
    }

    .api-command-type-info-trigger-container {
      &.inline-icon-container .oneicon {
        // makes tooltip to be nearer the icon center
        line-height: 0.5;
        transform: translateY(-50%);
      }
    }

    .api-command-type-selector-trigger {
      flex-basis: 25em;
      @media (max-width: $screen-xs-max) {
        flex-basis: auto;
        flex-grow: 1;
      }
    }

    .labels-container {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;

      .label {
        line-height: initial;
        font-weight: normal;
        @include font-semibold;
      }
    }

    .bracket-fix {
      top: -0.05em;
      position: relative;
    }
  }
  .table.table-info.table-file-info {
    td.property-name {
      padding-left: 0;
      width: 11em;
      @media (max-width: $screen-xs-max) {
        width: auto;
      }
    }
    td.property-value {
      padding-right: 0;
      @media (max-width: $screen-xs-max) {
        padding-left: 0;
      }
    }
  }

  .user-username {
    opacity: $disabled-opacity;
    margin-left: 0.5em;
  }

  .file-info-row-storage-location {
    td.property-value {
      padding-top: 0;
      padding-bottom: 0;
    }

    td.property-name.with-input-sm {
      padding-top: 20px;
    }
  }

  .nav-link {
    display: inline-flex;
    align-items: center;
    .tab-icon {
      // every icon has some internal padding - move the icon a little to the left
      // to make it look centered with text
      margin-left: -0.2em;
      margin-right: 0.2em;
      font-size: 1.8em;
    }
    .tab-icon.oneicon-rest {
      font-size: 19px;
      font-weight: bold;
    }

    .tab-label-api-samples {
      margin-left: 14px;
    }

    &.tab-status-default {
      --tab-status-icon-color: #{$color-one-default};
    }
    &.tab-status-info {
      --tab-status-icon-color: #{$color-one-azure};
    }
    &.tab-status-success {
      --tab-status-icon-color: #{$color-one-success};
    }
    &.tab-status-warning {
      --tab-status-icon-color: #{$color-one-warning};
    }
    &.tab-status-danger {
      --tab-status-icon-color: #{$color-one-danger};
    }

    &.with-status-icon {
      display: inline-flex;
      align-items: center;
      .tab-status-icon {
        font-size: 1.8em;
        margin-right: -0.3em;
        margin-left: 0.2em;
      }
      .tab-status-icon {
        color: var(--tab-status-icon-color, 'inherit');
      }
    }
    $tab-status-text-margin: 0.8em;
    .tab-status-number {
      // some sizes are in pixel format here, because using em will cause partial-pixels
      // and poor rendering
      $circle-size: 16px;
      display: inline-block;
      border-radius: 100%;
      background-color: var(--tab-status-icon-color, $color-one-azure);
      padding: 0 4px;
      min-width: $circle-size;
      height: $circle-size;
      font-size: 80%;
      @include font-bold;
      color: white;
      text-align: center;
      margin-left: $tab-status-text-margin;
    }
    .tab-status-tag {
      background-color: var(--tab-status-icon-color, $color-one-azure);
      margin-left: $tab-status-text-margin;
    }
  }

  .tab-bar-li:first-child {
    .nav-link {
      // first tab icon is specially aligned for alignment with header
      .tab-icon {
        margin-left: -0.1em;
      }
    }
  }

  .shows-first-n-hardlinks {
    margin-bottom: $padding-base-vertical;
  }

  .file-hardlinks-list {
    list-style-type: none;
    padding: 0;
  }

  .file-hardlink {
    display: flex;
    border-top: 1px solid $main-border-color;
    padding: $padding-base-vertical;

    .file-type-icon {
      font-size: 190%;
    }

    .icon-col {
      flex: 0 0 2.5em;
    }

    .content-col {
      flex-grow: 1;
      min-width: 0;
    }

    .file-name {
      @include font-semibold();
      margin-bottom: $padding-xs-vertical;
      font-size: 120%;
    }

    .file-path {
      display: flex;
    }

    .anchor-container {
      margin-left: 0.4em;
      min-width: 0;
      flex-grow: 1;
    }

    &.extra-hardlink-description {
      display: block;
      text-align: center;
    }

    &:last-child {
      border-bottom: 1px solid $main-border-color;
    }
  }

  .storage-locations-expand {
    padding-bottom: 10px;
  }

  .fb-no-dir-statistics .content-info-content-container .row {
    text-align: center;
  }
}
