@import './file-browser/fb-breadcrumbs';
@import './file-browser/fb-remove-modal';
@import './file-browser/fb-selection-toolkit';
@import './file-browser/fb-table-row';
@import './file-browser/fb-table';
@import './file-browser/fb-share-modal-item';
@import './file-browser/fb-share-modal';
@import './file-browser/fb-metadata-modal';
@import './file-browser/fb-metadata-xattrs';

.embedded-content {
  .file-browser-head-container {
    @include before-bottom-shadow;
  }
  &.scroll-on-top {
    .file-browser-head-container {
      @include hide-before-shadow;
    }
  }
}

.one-embedded-component {
  .file-browser {
    @include undo-horizontal-content-padding-xs();
  }
}

.file-browser {
  height: calc(100% - #{$fb-table-margin-top});
  @media (max-width: $screen-xs-max) {
    height: calc(100% - #{$fb-table-margin-top-mobile});
  }
  .file-browser-head-container {
    position: fixed;
    padding-top: 4px;
    padding-left: $content-col-padding + $file-browser-padding-left;
    padding-right: $content-col-padding + $file-browser-padding-right;
    top: 0;
    left: 0;
    right: 0;
    line-height: $file-browser-header-height;
    background-color: $color-one-white;
    .fb-head-inner {
      display: flex;
      max-width: 100%;
      margin-right: -20px;
    }
    @media (max-width: $screen-xs-max) {
      padding-left: 10px;
      padding-right: 20px;
      padding-top: 0;
    }
  }
}

.floating-actions-trigger {
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
}

.fb-table-container {
  margin-top: $fb-table-margin-top;
  height: 100%;
  @media (max-width: $screen-xs-max) {
    height: $fb-table-margin-top-mobile;
  }
}

.fb-toolbar-container {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 360px;
  height: $file-browser-header-height;
}

.fb-toolbar {
  display: block;
  position: relative;
  letter-spacing: 4px;
  @include vendor-prefix(user-select, none); 
  
  .fb-toolbar-button {
    display: inline-block;
    font-size: $file-browser-item-height;
    height: $file-browser-item-height;
    font-weight: bold;
    &[disabled], &.disabled {
      cursor: default;
      pointer-events: none;
      color: $main-text-color-disabled;
    }
    .one-icon {
      line-height: $file-browser-header-height;
    }
  }
}

.fb-breadcrumbs-container {
  flex-grow: 1;
  overflow-x: hidden;
  white-space: nowrap;
}

.webui-popover-in-fb-head {
  z-index: $zindex-tooltip - 1;
}
