.file-share-item {
  padding-top: $padding-base-vertical;
  padding-bottom: $padding-base-vertical;

  .row-share-local-url {
    display: flex;
    align-items: end;
    padding-bottom: $padding-base-vertical;
    .share-local-url {
      display: inline-block;
      max-width: 100%;
    }
    .link-container {
      overflow: hidden;
      line-height: 1;
    }
    .labels-container {
      flex-grow: 1;
      align-self: flex-end;
      text-align: right;
    }
  }
}
