.file-distribution-modal {
  .oneproviders-distribution ul {
    padding-left: 0;
    list-style-type: none;
  }

  .oneproviders-distribution-item {
    display: flex;
    align-items: center;
    padding: $padding-small-vertical 0;
    border-bottom: 1px solid $main-border-color;

    .name-section {
      display: flex;
      flex-grow: 1;
      width: 60%;
      min-width: 0;
    }

    .oneprovider-name {
      flex-grow: 1;
    }

    .transfer-actions {
      font-size: 1.6em;
      line-height: 0;
      white-space: nowrap;
      margin: 0 $padding-small-horizontal;
    }

    .chunks-visualizer {
      display: flex;
      flex-shrink: 0;
      width: 40%;
    }

    .collapsible-toolbar-toggle {
      padding: $padding-xs-horizontal;
      margin-left: $padding-xs-horizontal;
    }
  }

  .chunks-visualizer {
    display: flex;
    align-items: center;

    .never-synchronized-text {
      flex-grow: 1;
      text-align: center;
    }

    .chunks-canvas {
      flex-grow: 1;
      min-width: 0;
      height: 18px;
      background-color: $color-one-light-blue;
    }

    .percentage-text {
      flex-shrink: 0;
      width: 3em;
      text-align: right;
    }
  }
  @media (max-width: $screen-xs-max) {
    .oneproviders-distribution-item {
      .transfer-actions {
        margin-right: 0;
      }
      .chunks-visualizer {
        width: 3em;
      }
      .chunks-canvas {
        display: none;
      }
    }
  }

  .detailed-list {
    .one-collapsible-list-item-header {
      padding-right: $padding-large-vertical;
    }
    .header-content-container {
      display: flex;
    }
    .file-name {
      flex-grow: 1;
      min-width: 0;
    }
    .list-content {
      padding: $padding-large-vertical;
    }
  }
}
