.filesystem-browser {
  --column-width: 100px;
  // special adjustments because of jump-control presence
  .filesystem-table-head-row {
    height: 63px;
    th {
      padding-bottom: 10px;
    }
    .fb-table-col-actions-menu {
      padding-left: 0;
      .fb-toolbar-button.configuration-columns-button {
        margin-left: -0.3em;
      }
    }
  }
  .fb-table-secondary-col {
    width: var(--column-width);
  }
  .fb-table-col-size {
    position: relative;
    text-align: center;

    .dir-size-container.active:hover {
      text-decoration: underline;
      .oneicon-overview {
        color: $color-one-mint;
        opacity: 1;
      }
    }

    .dir-size-container.disabled {
      cursor: default !important;
    }

    .dir-size-value {
      text-align: center;
    }

    .oneicon-overview {
      position: absolute;
      font-size: 140%;
      margin-top: 1px;
      width: 30px;
      opacity: 0.4;
    }
  }
  .fb-table-col-modification {
    text-align: center;
  }
  .fb-table-col-owner {
    text-align: center;
    .file-owner-line {
      width: calc(var(--column-width) - 2 * $table-cell-padding);
      max-width: calc(var(--column-width) - 2 * $table-cell-padding);
    }
    .file-owner-username {
      opacity: $disabled-opacity;
      font-size: 90%;
    }
  }
  .empty-dir-image {
    background-image: url($root-url + 'images/empty-directory.svg');
  }
  .file-features {
    display: flex;
  }
}

.file-status-bar {
  .file-status-recalling {
    width: 11em;
    justify-content: center;
  }
}
