.filesystem-browser {
  // special adjustments because of jump-control presence
  .filesystem-table-head-row {
    height: 63px;
    th {
      padding-bottom: 10px;
    }
  }
  .fb-table-col-size {
    position: relative;
    text-align: center;

    .dir-size-container.active:hover {
      text-decoration: underline;
      .oneicon-overview {
        color: $color-one-mint;
        opacity: 1;
      }
    }

    .dir-size-container.disabled {
      cursor: default !important;
    }

    .dir-size-value {
      text-align: center;
    }

    .oneicon-overview {
      position: absolute;
      font-size: 140%;
      margin-top: 1px;
      width: 30px;
      opacity: 0.4;
    }
  }
  .fb-table-col-modification {
    text-align: center;
  }
  .fb-table-col-owner {
    text-align: center;
    .file-owner-line {
      width: calc(var(--column-width) - 2 * $table-cell-padding);
      max-width: calc(var(--column-width) - 2 * $table-cell-padding);
    }
    .file-owner-username {
      opacity: $disabled-opacity;
      font-size: 90%;
    }
  }
  .empty-dir-image {
    background-image: url($root-url + 'images/empty-directory.svg');
  }
  .file-features {
    display: flex;
  }

  .fb-table-col-replication {
    padding-right: 40px;
    width: 160px;
    text-align: center;

    .replication-rate-container {
      display: flex;
    }
    .replication-bar {
      height: 4px;
      width: 100%;
      margin: 0;
      border-width: 0;
      color: $color-one-orange;
      background-color: $color-one-orange;
      &.full {
        color: $color-one-mint;
        background-color: $color-one-mint;
      }
      &.almost-empty-bar {
        color: $color-one-gray-sand;
        // #e6e6e6
        background-color: $color-one-gray-sand;
      }
    }
    .background-bar {
      height: 4px;
      width: 0%;
      margin: 0;
      border-width: 0;
      color: $color-one-gray-sand;
      background-color: $color-one-gray-sand;
      &.full {
        opacity: 60%;
      }
    }
    .file-item-text:hover .replication-rate-text {
      text-decoration: underline;
    }
  }
}

.file-status-bar {
  .file-status-recalling {
    width: 11em;
    justify-content: center;
  }
}
