.file-recall-modal-body {
  .tab-content {
    padding-left: 0;
    padding-right: 0;
  }
  .file-recall-info-table {
    // complex selector to override defaults
    &.table.table-info td.property-name {
      width: 200px;
    }
    .text-disabled {
      color: $main-text-color-disabled;
    }
    .progress-counter {
      display: flex;
      align-items: center;
      .state-not-available-tip {
        line-height: 1;
      }
      .counter-divider {
        margin-left: 0.5em;
        margin-right: 0.5em;
      }
    }
    td {
      // although word-break: break word is deprecated, it is still not supported
      // on Safari (as of 03.2022)
      word-break: break-word;
    }
  }
  .file-recall-event-log {
    min-height: 0;
    .event-log-table {
      width: 100%;
      // FIXME: partially copied from scrollable-table, make a ticket
      .data-row td {
        border-top: 1px solid $table-border-color;
      }
      .column-label {
        vertical-align: bottom;
        text-align: center;
        padding-top: $padding-large-vertical;
        padding-bottom: $padding-large-vertical;
        background-color: $color-one-white;
        &:first-child {
          padding-left: 1em;
          text-align: left;
        }
      }
      .table-data-cell {
        $padding: 0.5em;
        text-align: center;
        padding-right: $padding;
        padding-top: $padding;
        padding-bottom: $padding;
        &:not(:first-child) {
          padding-left: $padding;
        }
      }
      .column-timestamp {
        min-width: 8em;
        text-align: left;
      }
      .column-file {
        min-width: 10em;
      }
      .column-message {
        min-width: 16em;
        width: 100%;
        max-width: 0;
      }
    }
  }
}

// overriding default styles inside modal
.modal.in .modal-dialog .modal-content .modal-footer.file-recall-modal-footer {
  text-align: left;
  margin-bottom: 0;
}
