.file-datasets-part {
  .table.datasets-table {
    > tbody + tbody {
      border-top-width: 0;
    }
    tbody > tr > td {
      border-top: 0;
    }
  }
  .file-datasets-header-lower {
    display: flex;
    .file-datasets-tab-bar {
      flex-grow: 1;
      align-self: flex-end;
      .hint-trigger {
        font-size: inherit;
        margin-right: 0;
      }
    }
    .modal-header-effective-info {
      flex-shrink: 1;
    }
  }
  .modal-header-effective-info {
    margin-top: 0;
    font-size: $font-size-small;
  }
}

@media (max-width: $screen-xs-max) {
  .file-datasets-part {
    .file-datasets-header-lower {
      flex-direction: column;
      overflow-x: hidden;
    }
    .modal-header-effective-info {
      margin-top: 0;
      text-align: left;
      font-size: 80%;
    }
  }
}

@import './file-datasets/direct-dataset-control';
@import './file-datasets/summary-header';
