.file-recall-modal-body {
  .tab-content {
    padding-left: 0;
    padding-right: 0;
  }
  .file-recall-info-table {
    // complex selector to override defaults
    &.table.table-info td.property-name {
      width: 200px;
    }
    .text-disabled {
      color: $main-text-color-disabled;
    }
    .aside-text {
      margin-left: 0.5em;
    }
    .progress-counter {
      display: flex;
      align-items: center;
      .state-not-available-tip {
        line-height: 1;
      }
      .counter-divider {
        margin-left: 0.5em;
        margin-right: 0.5em;
      }
    }
    td {
      // although word-break: break word is deprecated, it is still not supported
      // on Safari (as of 03.2022)
      word-break: break-word;
    }
  }
  .file-recall-event-log {
    min-height: 0;
    .event-log-table {
      $row-height: 44px;
      $cell-padding: 0.5em;
      width: 100%;
      .data-row td {
        border-top: 1px solid $table-border-color;
      }
      .column-label {
        vertical-align: bottom;
        text-align: left;
        padding-top: $padding-large-vertical;
        padding-bottom: $padding-large-vertical;
        background-color: $color-one-white;
        padding-left: $cell-padding;
        &:first-child {
          padding-left: 1em;
          text-align: left;
        }
      }
      .table-data-cell {
        max-width: 0;
        &:not(:first-child) {
          .table-data-cell-content {
            padding-left: $cell-padding;
          }
        }
      }
      .table-data-cell-content {
        display: flex;
        align-items: center;
        height: $row-height;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        padding-right: $cell-padding;
        padding-top: $cell-padding;
        padding-bottom: $cell-padding;
      }
      .column-timestamp {
        min-width: 12em;
        @media (max-width: $screen-xs-max) {
          min-width: 8em;
        }
      }
      .column-file {
        min-width: 10em;
        padding-left: 0;
        text-align: center;
        .table-data-cell-content {
          text-align: center;
          justify-content: center;
        }
        @media (max-width: $screen-xs-max) {
          min-width: 7em;
        }
      }
      .column-message {
        width: 100%;
        max-width: 0;
      }
      .loading-row-cell {
        height: $row-height * 1.5;
      }
    }
  }
}

// overriding default styles inside modal
.modal.in .modal-dialog .modal-content .modal-footer.file-recall-modal-footer {
  text-align: left;
  margin-bottom: 0;
}
