.file-permissions-body {
  .posix-permissions-editor {
    margin-top: 1.5em;
  }
  .acl-editor {
    margin-top: 1.25em;
  }
  .owner-info-line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    .owner-info-label {
      margin-right: 0.5em;
    }
    .owner-info-fullname {
      max-width: 70%;
    }
    .owner-info-username {
      margin-left: 0.5em;
      opacity: $disabled-opacity;
      max-width: 30%;
    }
  }
  .file-permissions-submit-buttons {
    --display-on-no-body-overflow: block;
    margin-top: 2em;
  }
}
