// NOTE: these colors were designed and its hard to generate them programatically
$dataset-write-protected-color-bg: #FCF0D7;
$dataset-write-protected-color-border: #FFD47E;
$dataset-write-protected-color: #FFB10D;
$dataset-write-unprotected-color-bg: #E6E9F0;
$dataset-write-unprotected-color-border: #B1BACF;
$dataset-write-unprotected-color: #596E99;

.file-datasets {
  .hint-trigger {
    margin-left: 0.4em;
    opacity: 0.4;
    &:hover {
      opacity: 0.6;
    }
  }
  .table.datasets-table {
    table-layout: fixed;
    &.table-striped {
      $row-bg-lighter: lighten($table-bg-accent, 1%);
      $row-bg-darker: darken($table-bg-accent, 1%);
      $row-bg-darkest: darken($table-bg-accent, 2%);
      tbody > tr:nth-of-type(2n+1) {
        background-color: $row-bg-lighter
      }
      tbody > tr.datasets-item-head-row {
        background-color: $row-bg-darker;
        &.no-parent-datasets-row, &.parent-group-datasets-item.closed {
          background-color: transparent;
        }
        &:hover.parent-group-datasets-item {
          background-color: $row-bg-darkest;
        }
      }
    }
    > tbody + tbody {
      border-top-width: 0;
    }
    tbody > tr > td {
      border-top: 0;
    }
    td {
      border-right: 1px solid $table-border-color;
    }
    th.col-dataset-protection {
      $padding-bottom: 1em;
      position: relative;
      width: 12em;
      padding-top: 2em;
      padding-bottom: 1em;
      padding-left: 2em;
      padding-right: 2em;
      text-align: center;
      .protection-label-hint-trigger {
        position: absolute;
        right: 0.3em;
        bottom: calc(#{$padding-bottom} + 0.2em);
      }
    }
    .flag-toggle {
      position: relative;
      width: 100%;
      .one-way-toggle-control {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
      .one-way-toggle-readonly-icon {
        position: relative;
        left: 50%;
        transform: translateX(-50%) translateX(-12px);
      }
      .one-way-toggle-spinner {
        left: 50%;
        right: auto;
        transform: translateX(38px);
      }
    }
  }
  
  // common styles for sub-components
  .direct-dataset-item-detached, .no-parent-datasets-row {
    .col-dataset-info {
      opacity: $disabled-opacity;
      @include font-regular;
    }
  }
  .dataset-loadable-row {
    .alert.alert-promise-error {
      margin: 0;
    }
    .spin-spinner-block {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }  
}

@import './file-datasets/direct-dataset-control';
@import './file-datasets/dataset-item';
@import './file-datasets/summary-header';
@import './file-datasets/direct-dataset';
@import './file-datasets/ancestor-datasets';
