.file-permissions-body {
  .posix-permissions-editor {
    margin-top: 1.5em;
  }
  .acl-editor {
    margin-top: 1.25em;
  }
  .owner-info-line {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
  }
  .space-owner-info-line {
    margin-top: 0;
    align-items: center;
    + .one-label-tip {
      margin-left: 0.7em;
    }
    .one-label-tip {
      line-height: 0;
    }
    + .file-owner-info-line {
      margin-top: 1em;
    }
  }
  .space-owner-info-label {
    font-style: italic;
  }
  .file-owner-info-line {
    .owner-info-label {
      margin-right: 0.7em;
    }
    .record-info-with-icon {
      max-width: 70%;
    }
    .owner-info-username {
      margin-left: 0.5em;
      opacity: $disabled-opacity;
      max-width: 30%;
    }
  }
  .file-permissions-submit-buttons {
    margin-top: 2em;
  }
}
.file-permissions-header {
  .btn-group-tabs {
    .hint-trigger.permissions-hint-trigger {
      margin-left: 1em;
      margin-right: -1em;
    }
  }
}
.file-permissions-footer {
  .pre-submit-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    + .file-permissions-submit-buttons {
      margin-top: 1.4em;
    }
  }

  .message-type-icon + .review-text {
    margin-left: 0.8em;
  }
  .review-text + .one-label-tip {
    margin-left: 0.5em;
  }
  .one-label-tip {
    line-height: 0;
  }
  .message-type-icon {
    font-size: 1.2em;
  }
  .review-warning-icon {
    color: $color-one-warning;
  }
  .info-icon {
    color: $color-one-azure;
  }
}
.webui-popover-permissions-hint-info {
  width: 40em;
  max-width: calc(100vw - $content-col-padding);
}
