.file-permissions-body {
  .posix-permissions-editor {
    margin-top: 1.5em;
  }
  .acl-editor {
    margin-top: 1.25em;
  }
  .owner-info-line {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    .owner-info-label {
      margin-right: 0.7em;
    }
    .record-info-with-icon {
      max-width: 70%;
    }
    .owner-info-username {
      margin-left: 0.5em;
      opacity: $disabled-opacity;
      max-width: 30%;
    }
  }
  .file-permissions-submit-buttons {
    margin-top: 2em;
  }
}
.file-permissions-header {
  .btn-group-tabs {
    .hint-trigger.permissions-hint-trigger {
      margin-left: 1em;
      margin-right: -1em;
    }
  }
}
.webui-popover-permissions-hint-info {
  width: 40em;
  max-width: calc(100vw - $content-col-padding);
}
