$-file-browser-header-height: 45px;
$-file-browser-item-height: 32px;
// the same padding as distance of provider tab icon in Onezone GUI
$-file-browser-padding-left: 12px;
// light padding at the right to make some space for scrollbar rail
$-file-browser-padding-right: 16px;
// FIXME: compute using variables
$-fb-table-margin-top: 67px;

.embedded-content {
  .file-browser-head-container {
    @include before-bottom-shadow;
  }
  &.scroll-on-top {
    .file-browser-head-container {
      @include hide-shadow;
    }
  }
}

.file-browser {
  height: calc(100% - #{$-fb-table-margin-top});
  .file-browser-head-container {
    position: fixed;
    z-index: $zindex-modal-background - 1;
    padding-top: $content-row-vertical-padding;
    padding-left: $content-col-padding + $-file-browser-padding-left;
    padding-right: $content-col-padding + $-file-browser-padding-right;
    top: 0;
    left: 0;
    right: 0;
    line-height: $-file-browser-header-height;
    background-color: $color-one-white;
    .fb-head-inner {
      display: flex;
      max-width: 100%;
      margin-right: -20px;
    }
    @media (max-width: $screen-xs-max) {
      padding-left: 10px;
      padding-right: 20px;
    }
  }
}

.floating-actions-trigger {
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
}

.fb-table-container {
  margin-top: $-fb-table-margin-top;
  height: 100%;
}

.fb-toolbar-container {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 340px;
  height: $-file-browser-header-height;
}

.fb-toolbar {
  display: block;
  position: relative;
  letter-spacing: 4px;
  @include vendor-prefix(user-select, none); 
  
  .fb-toolbar-button {
    display: inline-block;
    font-size: $-file-browser-item-height;
    height: $-file-browser-item-height;
    font-weight: bold;
    &[disabled], &.disabled {
      cursor: default;
      pointer-events: none;
      color: $main-text-color-disabled;
    }
    .one-icon {
      line-height: $-file-browser-header-height;
    }
  }
}

.fb-selection-toolkit {
  overflow: hidden;
  max-width: 220px;
  opacity: 1;
  margin-left: 20px;
  transition: $collapse-transition-vertical;
  .selection-count-number {
    color: $main-text-color-disabled;
  }
  &.closed {
    max-width: 0;
    opacity: 0;
    margin-left: 0;
  }
  &.mobile-mode {
    position: fixed;
    display: block;
    z-index: 1;
    bottom: 0;
    right: 10px;
  }
  &.desktop-mode {
    .one-pill-button {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.fb-breadcrumbs-container {
  flex-grow: 1;
  overflow-x: hidden;
  white-space: nowrap;
}

.fb-breadcrumbs {
  display: block;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  
  .fb-breadcrumbs-inner {
    display: inline-block;
    white-space: nowrap;
    position: relative;
    opacity: 1;
    transition: transition-ease(opacity);
    &.breadcrumbs-recomputing {
      opacity: 0;
      transition: transition-ease(opacity);
    }
    &.truncate {
      width: 100%;
      max-width: 100%;
    }
  }
  
  .fb-breadcrumbs-element {
    display: inline-block;
    vertical-align: middle;
    user-select: none;
  }
  .fb-breadcrumbs-dir-root .inline-icon-container .one-icon {
    font-size: 210%;
  }
  .fb-breadcrumbs-separator {
    width: 0.8em;
    &::before {
      content: '/';
      font-size: 1.2em;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) translateX(0.1em);
    }
  }
  .fb-breadcrumbs-current-dir-button {
    display: inline-block;
    text-decoration: none;
    padding-right: 30px;
    cursor: pointer;
    &.truncate {
      max-width: 100%;
    }
    .inline-icon-container.breadcrumbs-current-dir-actions-trigger {
      @include vertical-align-middle;
      right: 0;
      
      .one-icon {
        position: absolute;
        right: 0;
        left: 6px;
        padding-top: 3px;
        font-size: 110%;
        font-weight: bold;
      }
    }
  }
}

.webui-popover-in-fb-head {
  z-index: $zindex-tooltip;
}

.fb-table {
  position: relative;
  height: 100%;
  .table {
    margin-bottom: 0;
  }
  &.special-dir-view {
    @extend .world-map;
    @extend .light;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    .table {
      display: none;
    }
    .empty-dir-box {
      display: block;
    }
  }
  .data-row td.special-row-cell, td.special-row-cell {
    position: relative;
    height: 61px;
    &.loading-row-cell {
      height: 76px;
    }
  }
  .empty-dir-image {
    background-image: url($root-url + 'images/empty-directory.svg');
  }
  .error-dir-image {
    background-image: url($root-url + 'images/empty-directory.svg');
  }
  .dir-box {
    @include absolute-align-middle-center();
    width: 100%;
    
    .dir-box-image {
      height: 260px;
      margin: $padding-large-vertical * 2 auto;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    .dir-box-text {
      text-align: center;
    }
    h1 {
      @include font-semibold();
      text-transform: uppercase;
    }
    
    @media (max-width: $screen-xs-max) {
      .empty-dir-image {
        height: 180px;
      }
      h1 {
        font-size: 26px;
      }
      h2 {
        font-size: 20px;
      }
    }
  }
  th {
    user-select: none;
  }
  thead > tr > th.fb-table-col-files, 
  .table:not(.bt) > tbody > tr > td:first-child.fb-table-col-files {
    padding-left: $-file-browser-padding-left;
  }
  @media (max-width: $screen-xs-max) {
    .fb-table-col-size, .fb-table-col-modification {
      display: none;
    }
  }
  .fb-table-thead {
    .fb-table-col-files {
      text-align: left;
    }
  }
  .fb-table-col-files {
    // enables text truncate inside
    max-width: 0;
  }
  .fb-table-col-size {
    position: relative;
    width: 120px;
    text-align: center;
  }
  .fb-table-col-modification {
    width: 200px;
    text-align: center;
  }
  td.fb-table-col-actions-menu {
    position: relative;
    width: 56px;
    min-height: 61px;
    padding: 0;
    // TODO: a style bug that is only in Firefox: menu toggle is not 100% height
    // so the context menu displayed from menu trigger is not from center
    .file-row-actions-trigger.one-menu-toggle {
      width: 100%;
      height: 100%;
      cursor: pointer;
      &:hover {
        .menu-toggle-frame {
          background-color: transparent;
        }
      }
      .menu-toggle-frame {
        @include absolute-align-middle-center;
        transform: translateY(-50%) translateX(-50%) translateX(-14px);
        display: inline-block;
        border: none;
        padding: 0;
      }
    }
  }
  .table-bottom-spacing {
    height: 122px;
  }
}

.fb-table-row {
  @include vendor-prefix(user-select, none);
  overflow-y: hidden;
  &.file-selected {
    background-color: $color-file-selected;
  }
  &.file-cut {
    .file-icon-container, .file-item-text {
      opacity: 0.6;
    }
  }
  // FIXME: experimental
  &.is-invalidated {
    position: relative;
  }
  td.fb-table-col-files {
    @media (max-width: $screen-xs-max) {
      padding-top: 8px;
      padding-bottom: 8px;
    }
    .file-info-container {
      display: flex;
      .file-icon-container, .file-item-text {
        min-width: 2em;
      }
      .file-item-text {
        flex-grow: 1;
        padding-left: 10px;
      }
      .file-status-icon {
        display: inline-block;
        color: $main-text-color-disabled;
      }
      .file-info-mobile {
        display: none;
      }
      .file-icon-container {
        .inline-icon-container-file {
          position: relative;
          top: 50%;
          transform: translateY(-50%) translateY(-3px);
        }
      }
      @media (max-width: $screen-xs-max) {
        .file-info-mobile {
          display: block;
          padding-top: 4px;
          .file-info-mobile-inner {
            color: $color-one-light-gray;
          }
          .file-info-mobile-right {
            float: right;
          }
        }
      }
    }
    // FIXME: design
    // &:hover {
    //   .file-status-icon {
    //     color: $main-text-color;
    //   }
    // }
  }
  .file-icon-container .one-icon {
    font-size: 200%;
  }
  &.fb-table-row-dir .file-icon {
    color: $color-directory;
  }
  &.fb-table-row-file .file-icon {
    color: $color-file;
  }
  &.fb-table-row-broken {
    .file-icon {
      color: $color-one-red;
    }
    .file-name {
      color: $color-one-red;
      font-style: italic;
    }
  }
}

.fb-remove-modal {
  .row-delete-files-list {
    .delete-file-name {
      display: inline-block;
      max-width: calc(100% - 50px);
      vertical-align: middle;
    }
    .delete-file-size {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
