.in-modal-item-browser-container {
  height: calc(100% - #{$fb-table-margin-top});
  .fb-table {
    // there is no need for large bottom spacing in modal, because it should be compact
    .table-bottom-spacing {
      height: 2em;
    }
  }
  .file-browser-head-container {
    position: absolute;
    padding-left: $file-browser-padding-left;
    // FIXME: experimental change
    padding-right: $content-col-padding + 2px;
    padding-top: 0;
    margin-top: -10px;
  }
  .fb-table {
    .refresh-spinner {
      position: absolute;
    }
  }
  .empty-dir-image {
    @media (max-height: 700px) {
      display: none;
    }
  }
}
