.in-modal-item-browser-container {
  .file-browser-head-container {
    // FIXME: experimental sticky + z-index - try to apply this to generic browser styles
    // and adjust z-index to be highest possible (maybe right below shadows)
    position: sticky;
    z-index: 1;
    padding-left: $file-browser-padding-left;
    padding-right: $content-col-padding;
    padding-top: 0;
  }
  .fb-table {
    // there is no need for large bottom spacing in modal, because it should be compact
    .table-bottom-spacing {
      height: 2em;
    }
    .refresh-spinner {
      position: absolute;
    }
  }
  .empty-dir-image {
    @media (max-height: 700px) {
      display: none;
    }
  }
}

.bs-modal-body-scroll {
  .in-modal-item-browser-container {
    .fb-table-thead th {
      $parent-margin-sum: "#{$modal-content-horizontal-padding} + #{$modal-inner-padding}";
      $negative-parent-margin: calc(-1 * (#{$parent-margin-sum}));

      position: relative;
      @include before-bottom-shadow;
      @include content-shadow-leftovers($negative-parent-margin);
    }
  }
  &.on-top {
    .in-modal-item-browser-container {
      .fb-table-thead th {
        @include hide-before-shadow;
      }
    }
  }
}
