.in-modal-item-browser-container {
  .file-browser-head-container {
    position: sticky;
    z-index: 1;
    padding-left: $content-col-padding + $file-browser-padding-left;
    padding-right: $content-col-padding;
    padding-top: 0;
  }
  .fb-table {
    // there is no need for large bottom spacing in modal, because it should be compact
    .table-bottom-spacing {
      height: 2em;
    }
    .refresh-spinner {
      position: absolute;
    }
  }
  .empty-dir-image {
    @media (max-height: 700px) {
      display: none;
    }
  }
}

.bs-modal-body-scroll {
  .in-modal-item-browser-container {
    @include fill-flex-using-column;
    .fb-table-thead th {
      $parent-margin-sum: "#{$modal-content-horizontal-padding} + #{$modal-inner-padding}";
      $negative-parent-margin: calc(-1 * (#{$parent-margin-sum}));

      $parent-margin-sum-mobile: "#{$modal-content-horizontal-padding-mobile} + #{$modal-inner-padding}";
      $negative-parent-margin-mobile: calc(-1 * (#{$parent-margin-sum-mobile}));

      position: relative;
      @include before-bottom-shadow;
      @include content-shadow-leftovers(
        $negative-parent-margin,
        $negative-parent-margin-mobile
      );
    }
  }
  &.on-top {
    .in-modal-item-browser-container {
      .fb-table-thead th {
        @include hide-before-shadow;
      }
    }
  }
}
