.modal-file-subheader {
  .file-item-icon-container {
    &.file-item-icon-container-file {
      width: 1.7em;
      margin-left: -5px;
    }
    &.file-item-icon-container-dir {
      width: 1.8em;
      margin-left: -3px;
    }
    &.file-item-icon-container-multi {
      width: 1.7em;
      margin-left: -4px;
      transform: translateY(1px);
    }
  }
  .multi-text {
    @include font-semibold;
  }
}

.tooltip-modal-file-subheader-multi {
  &.huge-content {
    .tooltip-inner {
      max-width: calc(100vw - 60px);
    }
  }
  .tooltip-inner {
    // flexible panel width on desktop
    @media (max-width: 1250px) {
      max-width: calc(100vw - 200px);
    }
    @media (max-width: $screen-xs-max) {
      // empirical value to fit space from bottom of subheader to the bottom of page
      max-height: 87vh;
    }

    // empirical value to fit space from bottom of subheader to the bottom of page
    max-height: 85vh;
  }
}
