.modal-file-subheader {
  .file-item-icon-container {
    &.file-item-icon-container-file {
      width: 1.7em;
      margin-left: -5px;
    }
    &.file-item-icon-container-dir {
      width: 1.8em;
      margin-left: -3px;
    }
    &.file-item-icon-container-multi {
      width: 1.7em;
      margin-left: -4px;
      transform: translateY(1px);
    }
  }
  .multi-text {
    @include font-semibold;
  }
}

.tooltip-modal-file-subheader-multi {
  $margin-base: 0.4em;
  &.huge-content {
    .tooltip-inner {
      max-width: calc(100vw - 60px);
    }
  }
  .tooltip-inner {
    // flexible panel width on desktop
    @media (max-width: 1250px) {
      max-width: calc(100vw - 200px);
    }
    @media (max-width: $screen-xs-max) {
      // empirical value to fit space from bottom of subheader to the bottom of page
      max-height: 87vh;
      max-width: calc(100vw - 60px);
    }

    // empirical value to fit space from bottom of subheader to the bottom of page
    max-height: 85vh;
    max-width: 1075px;

    padding-top: $margin-base;
    padding-bottom: $margin-base;
  }
  .multi-item-list {
    // overflow-wrap: break-word;
    line-height: 2.4;
    span.item {
      margin-right: $margin-base * 0.5;
      padding: $margin-base * 0.5 $margin-base;
      border-radius: 4px;
      border: 1px solid #ffffff33;
      background: #ffffff22;
      white-space: nowrap;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
