$color-public-blue-light: #F2F3F8;
$open-data-remove-col-width: 30px;

.embedded-content {
  .open-data-view .metadata-header-section {
    @include before-bottom-shadow;
  }
  &.scroll-on-top {
    .open-data-view .metadata-header-section {
      @include hide-before-shadow;
    }
  }
}

.open-data-view {
  h1 {
    @include font-semibold;
    font-size: 1.6em;
    margin-bottom: 1em;
  }
  
  h2 {
    @include font-semibold;
    font-size: 1.3em;
    margin-bottom: 1em;
  }
  
  textarea.open-data-xml-textarea {
    min-height: 250px;
    height: calc(100vh - 500px);
  }
  
  .metadata-header-section {
    // FIXME: styles for removing col padding
    margin-left: -$content-col-padding;
    padding-left: $content-col-padding;
    margin-right: -$content-col-padding;
    padding-right: $content-col-padding;
  }
}

// FIXME: common style for preview and editor
.metadata-header-section-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  .section-name {
    flex-grow: 1;
  }
  .metadata-mode-switch {
    flex-shrink: 1;
  }
}

// TODO: VFS-6566 common styles with editor
.open-data-editor {
  .one-carousel-slide[data-one-carousel-slide-id=xml] {
    padding-right: $open-data-remove-col-width;
  }
  
  .col-open-data-editor-additional {
    padding-right: $open-data-remove-col-width;
  }
  
  // FIXME: ???
  .row-metadata-form.no-entries + .row-metadata-group-add {
    margin-top: 20px;
  }
  
  .metadata-group {
    margin-top: 1em;
    .metadata-group-header {
      display: flex;
      align-items: baseline;
      padding-right: $open-data-remove-col-width;
      .metadata-group-name {
        flex-grow: 1;
      }
    }
    .metadata-value {
      background-color: $color-public-blue-light;
      padding: 18px;
    }
    .metadata-value + .metadata-value {
      margin-top: 15px
    }
    .entry-value-group + .entry-value-group {
      margin-top: 0.9em
    }
    .entry-value-group {
      display: flex;
      align-items: center;
      .remove-icon {
        flex: 0 0 $open-data-remove-col-width;
        text-align: right;
      }
      textarea.form-control {
        resize: vertical;
        + .remove-icon {
          align-self: flex-start;
          padding-top: 0.4em;
        }
      }
    }
  }
  .row-metadata-group-add {
    padding-right: $open-data-remove-col-width;
  }
  .row-metadata-group-add, .row-publish-info {
    margin-top: 3em;
  }
  .row-submit {
    margin-top: 2em;
  }
  .col-submit-center {
    display: flex;
    justify-content: center;
    // FIXME: styles as in other submit rows
  }
}
