$color-public-blue-light: #F2F3F8;
$color-public-green-light: #f2f8f3;

.open-data-preview {
  .section-name {
    @include font-semibold;
    font-size: 22px;
    margin-bottom: 15px;
  }
  .open-data-value {
    background-color: $color-public-blue-light;
    padding: 18px;
    &.handle-service-info {
      background-color: $color-public-green-light;
    }
  }
  .handle-service-group {
    margin-bottom: 48px;
  }
  .metadata-group {
    margin-top: 24px;
  }
  .metadata-group-name {
    @include font-semibold;
    font-size: 18px;
    margin-bottom: 15px;
  }
  .metadata-value + .metadata-value {
    margin-top: 15px
  }
}
