$color-public-blue-light: #F2F3F8;

// TODO: VFS-6566 common styles with editor
.open-data-editor {
  .section-name {
    @include font-semibold;
    font-size: 22px;
    margin-bottom: 15px;
  }
  .metadata-group {
    margin-top: 22px;
  }
  .metadata-group-name {
    @include font-semibold;
    font-size: 18px;
    margin-bottom: 15px;
  }
  .metadata-value {
    background-color: $color-public-blue-light;
    padding: 18px;
  }
  .metadata-value + .metadata-value {
    margin-top: 15px
  }
  .row-submit {
    margin-top: 60px;
  }
  .row-metadata-group-add {
    margin-top: 60px;
  }
  .row-metadata-form.no-entries + .row-metadata-group-add {
    margin-top: 20px;
  }
  .row-handle-service-select {
    margin-bottom: 30px;
  }
  .metadata-group {
    position: relative;
  }
  .entry-value-group + .entry-value-group {
    margin-top: 15px
  }
  .group-add-entry {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 40px;
    .btn .add-icon.oneicon {
      font-size: 20px;
      margin-right: 6px;
    }
  }
  .entry-value-group {
    position: relative;
    padding-right: 40px;
    textarea.form-control {
      resize: vertical;
      + .entry-remove-button {
        top: 4px;
        transform: none;
      }
    }
  }
  .entry-remove-button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateY(4px);
    font-size: 28px;
    &:hover {
      color: $color-one-red;
    }
  }
  .btn-discard + .btn-submit {
    margin-left: 5px;
  }
}
