.posix-permissions-editor {
  $checkbox-col-left-padding: 50px;

  .permissions-representations {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $main-border-color;
    padding-bottom: 1.5em;
    margin-top: 1.5em;
    margin-bottom: $padding-base-vertical;
  }

  .permissions-string-container {
    font-family: $font-family-monospace;
    font-size: 150%;
    text-align: right;
    margin-left: 1.5em;
    @media (max-width: $screen-xs-max) {
      flex-grow: 1;
      margin-left: 0;
    }
  }

  .permissions-octal {
    padding: 0.5 * $padding-base-vertical $padding-xs-horizontal;
    height: initial;
    text-align: center;
    font-size: 130%;
    @include font-semibold();
  }

  .permissions-input-readonly-lock-icon {
    font-size: 2em;
    margin-left: 0.4em;
  }

  .entity-permissions {
    margin: $padding-base-vertical 0;
    padding: $padding-small-vertical 0;
    width: 200px;
    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
  }

  .entity-name {
    font-weight: bold;
    margin-bottom: $padding-large-vertical;
  }

  .permissions-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  .permission {
    margin-bottom: $padding-base-vertical;
    &:last-child {
      margin-bottom: 0;
    }

    label {
      display: inline-block;
      margin: 0;
      cursor: pointer;
    }
  }

  .one-checkbox, .checkbox-label {
    vertical-align: middle;
  }

  .one-checkbox {
    margin-right: $padding-xs-horizontal;
  }

  @media (min-width: $screen-sm-min) {
    overflow: hidden;

    .entity-permissions-row {
      display: flex;
      justify-content: center;
      margin-left: -$checkbox-col-left-padding;
      margin-right: -$checkbox-col-left-padding;
    }
    .entity-permissions {
      border-right: 1px solid $main-border-color;
      padding-left: $checkbox-col-left-padding;

      &:last-child {
        border-right: 0;
      }
    }
  }

  &.posix-permissions-editor-readonly {
    .permissions-list .permission {
      pointer-events: none;
    }
  }
}
