.provider-super-circle {
  $super-circle-animation-duration: 2s;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;

  border-radius: 50%;

  animation-delay: 0s;
  animation-iteration-count: infinite;

  @mixin min-super-circle {
    width: 100%;
    height: 100%;
    opacity: 0.9;
  }

  @mixin max-super-circle {
    width: 400%;
    height: 400%;
    opacity: 0;
  }

  @keyframes gather-circle {
    0% {
      @include max-super-circle();
    }
    100% {
      @include min-super-circle();
    }
  }

  @keyframes broadcast-circle {
    0% {
      @include min-super-circle();
    }
    // A hack to fix a strange bug in animation in Safari 15.1+.
    // When using `opacity: 0;` in 100% animation keyframe, the super-circle gains
    // `opacity: 1;` for last keyframes unexpectedly. When opacity is set to 0 in 95%
    // keyframe and opacity is maintained as 0 to 100% then this glitch does not occur.
    // 95% is the empirical value - when setting 96%+, no matter what is an animation
    // duration, the glitch occurs.
    95% {
      @include max-super-circle();
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes full-duplex-circle {
    0% {
      @include min-super-circle();
    }
    50% {
      @include max-super-circle();
    }
    100% {
      @include min-super-circle();
    }
  }

  &.destination {
    animation-name: gather-circle;
    animation-timing-function: ease-out;
    animation-duration: $super-circle-animation-duration;
  }

  &.source {
    animation-name: broadcast-circle;
    animation-timing-function: ease-in;
    animation-duration: $super-circle-animation-duration;
  }

  &.destination.source {
    animation-name: full-duplex-circle;
    animation-timing-function: ease;
    animation-duration: $super-circle-animation-duration * 2;
  }
}
