.qos-modal {
  $qos-icon-size: 34px;
  $color-qos-status-fulfilled: $color-one-success;
  $color-qos-status-pending: $color-one-warning;
  
  @mixin header-fog-style($color) {
    @include bar-fog-style(
      $gradient-direction: to right,
      $fog-width: 10px,
      $fog-height: 34px,
      $color: $color,
    );
    right: 0;
  }

  @import './qos-modal/file-entry';
  @import './qos-modal/file-qos-summary';
  @import './qos-modal/qos-entry';
  
  .qos-status-fulfilled {
    color: $color-qos-status-fulfilled;
  }
  .qos-status-pending,
  .qos-status-error {
    color: $color-qos-status-pending;
  }
  .one-icon-tagged.qos-status-impossible {
    color: $color-qos-status-pending;
    .one-icon-tag {
      color: $color-one-danger;
    }
  }
  .qos-status-empty {
    color: inherit;
  }
  .qos-status-impossible {
    color: $color-one-danger;
  }
  .qos-status-empty, .no-requirements {
    opacity: 0.4;
  }
  
  .file-qos-status.qos-status-impossible .one-icon-tag {
    color: $color-one-danger;
  }
  
  .label {
    line-height: initial;
  }
   
  .modal-header {
    .qos-hint {
      position: absolute;
    }
    .qos-header-hint-trigger {
      font-size: $qos-icon-size * 0.6;
      margin-left: 5px;
    }
    .header-icon {
      font-size: $qos-icon-size * 1.25;
      float: right;
      &.one-icon {
        margin-right: -7px;
      }
    }
  }
  
  .qos-add {
    .btn-suggestions-trigger-container {
      position: absolute;
      margin-top: $padding-base-vertical;
      
      @media (max-width: $screen-xs-max) {
        margin-top: 0;
        // empirical height of small button and small margin
        top: -36px;
        right: 0;
      }
    }
  }
}
