.qos-modal {
  $qos-icon-size: 34px;
  $color-qos-status-fulfilled: $color-one-success;
  $color-qos-status-pending: $color-one-warning;
  
  @mixin header-fog-style($color) {
    @include bar-fog-style(
      $gradient-direction: to right,
      $fog-width: 10px,
      $fog-height: 34px,
      $color: $color,
    );
    right: 0;
  }

  @import './qos-modal/file-entry';
  @import './qos-modal/file-qos-summary';
  @import './qos-modal/qos-entry';
  
  .qos-status-fulfilled {
    color: $color-qos-status-fulfilled;
  }
  .qos-status-pending {
    color: $color-qos-status-pending;
  }
  .qos-status-empty {
    color: inherit;
  }
  .qos-status-error {
    color: $color-one-danger;
  }
  .qos-status-empty, .no-requirements {
    opacity: 0.4;
  }
  
  .label {
    line-height: initial;
  }
   
  .modal-header {
    .qos-hint {
      position: absolute;
    }
    .qos-header-hint-trigger {
      font-size: $qos-icon-size * 0.6;
      margin-left: 5px;
    }
    .header-icon {
      font-size: $qos-icon-size * 1.25;
      float: right;
      &.one-icon {
        margin-right: -10px;
      }
    }
  }
}
