.query-options {
  .query-string {
    &.truncate {
      display: inline-block;
      width: calc(100% - #{$padding-base-horizontal});
      max-width: calc(100% - #{$padding-base-horizontal});
    }
    .query-string-amp {
      color: $color-one-light-gray;
    }
    .query-string-value {
      color: $color-one-red;
    }
    .query-string-key {
      color: $color-one-azure;
    } 
  }
}
