// can be outside .query-builder because of popovers
.comparator-item-id {
  $comparator-item-color: lighten($main-text-color, 5%);
  @extend code;
  color: $comparator-item-color;
  background-color: rgba($comparator-item-color, 0.1);
}