.recall-info-modal {
  // overriding default styles
  &.modal.in .modal-dialog .modal-content .modal-footer {
    text-align: left;
  }
  // custom modal width to have space for logs (between sm and lg)
  &.modal.modal-content-overlay.in .modal-dialog {
    max-width: 800px;
  }

  #logs.tab-pane.active {
    display: flex;
  }

  .main-recall-tab-bar,
  .tab-content,
  .tab-pane {
    min-height: 0;
  }

  .file-recall-event-log {
    .file-column-header {
      width: 12em;
    }

    @media (max-width: $screen-xs-max) {
      .file-column-header {
        width: 7em;
      }
    }
  }
}
