$share-show-description-bar-height: 60px;
// this padding aligns content to first icon in tab bar
$share-show-content-padding-horizontal: 12px;
$share-show-content-header-height-public: 200px;
$share-show-content-header-height-private: 150px;
$share-show-public-section-border-width: 2px;
$share-show-public-section-border: $share-show-public-section-border-width solid $color-one-semiwhite;
$share-show-public-footer-height: 88px;
$share-show-tabs-stack-width: 500px;
$share-show-tabs-metadata-header-width: 410px;
$share-show-metadata-header-height-empirical: 70px;
$share-show-metadata-stacked-header-height-empirical: 100px;

.share-show {
  @mixin small-eu-logos {
    .eu-logo {
      height: 36px;
    }
    .logo-eureka3d {
      width: 100px;
    }
    .logo-europeana {
      width: 120px;
    }
  }

  // more compact files header, because of shares header
  .file-browser-head-container {
    padding-top: 0;
  }
  .share-header-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top: 0;
    left: 0;
    right: 0;
    z-index: $zindex-file-browser-head;
    padding-top: $content-row-vertical-padding;
    padding-left: $content-col-padding;
    padding-right: $content-col-padding;
    background-color: $main-tabbed-content-background;
  }
  .tab-share-show-mode {
    position: absolute;
    top: auto;
    bottom: 0;
    .nav-tabs > li {
      // reset bottom line overflow, because we need to render fixed file browser header
      margin-bottom: 0;
    }
    .tab-label-notice {
      color: $color-one-blue-gray;
    }
  }
  .content-info {
    position: relative;
  }
  .opendata-one-carousel {
    // overflow cannot be hidden, because of sticky elements inside
    overflow: visible;
  }
  .metadata-type-text {
    margin-top: 1.6em;
  }

  .tab-share-show-mode {
    display: flex;
    position: static;
    align-items: center;
    margin-top: auto;
  }
  .nav-tabs-share-mode {
    align-self: flex-end;
  }
  .eu-logo-container {
    margin-left: auto;
    display: flex;
    gap: 20px;
  }
  .eu-logo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 50px;
    display: block;
  }
  .logo-eureka3d {
    background-image: url($root-url + 'images/logo-eureka3d.svg');
    width: 140px;
    @media (max-width: 580px) {
      display: none;
    }
  }
  .logo-europeana {
    background-image: url($root-url + 'images/logo-europeana.svg');
    width: 160px;
    @media (max-width: 360px) {
      display: none;
    }
  }
  // description tab shrinks the space for logos
  .nav-tabs-share-mode.with-tab-description + .eu-logo-container {
    .logo-eureka3d {
      @media (max-width: 680px) {
        display: none;
      }
    }
    .logo-europeana {
      @media (max-width: 560px) {
        display: none;
      }
    }
  }

  @media (max-width: $share-show-tabs-stack-width) {
    .bs-tab-onedata.tab-share-show-mode .nav-tabs.nav > li > a {
      padding: 20px 28px;
      .one-label.tab-name {
        display: none;
      }
      .tab-icon {
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        margin-top: 0;
        font-size: 36px;
      }
    }
  }

  &.share-show-public {
    padding-top: $share-show-content-header-height-public;
    padding-bottom: 0;
    // Because of footer, we must remove padding added by generic one-embedded-component
    // There is also a 2px embedded iframe bug caused by perfect-scroll usage
    margin-bottom: -$content-col-padding + 2px;

    .share-show-dc-preview {
      // restore bottom padding, which was removed in share-show-public for footer
      padding-bottom: $content-col-padding;
      .metadata-header-section {
        top: $share-show-content-header-height-public;
      }
      textarea.open-data-xml-textarea {
        // the non-variable value is typical height of metadata-header-section,
        // because its height is dynamic
        $vertical-elements-height: #{
          $share-show-content-header-height-public
          + $share-show-public-footer-height
          + 2 * $content-col-padding
        };
        height: calc(100vh - #{$vertical-elements-height} - #{$share-show-metadata-header-height-empirical});
        // when the metadata-header-sections can stack horizontally
        @media (max-width: $share-show-tabs-metadata-header-width) {
          height: calc(100vh - #{$vertical-elements-height} - #{$share-show-metadata-stacked-header-height-empirical});
        }
      }
    }
    .content-info {
      // must be forced, because one-carousel stretched as its content and absolute map
      // will not stretch horizontally, until it has no space provided by content-info
      min-height: calc(100vh - #{$share-show-content-header-height-public + 2 * $content-col-padding});
    }
    .share-header-container {
      height: $share-show-content-header-height-public;
      overflow: hidden;
      background-color: $color-one-white;
      .bs-tab-modern .nav-tabs li.active > a {
        border-bottom-color: $color-one-red;
      }
      .bs-tab-modern .nav-tabs li > a:hover {
        border-bottom-color: lighten($color-one-red, 25);
      }
      &::after {
        position: absolute;
        content: ' ';
        bottom: 0;
        left: 0;
        border-bottom: $share-show-public-section-border;
        width: 100%;
        z-index: -1;
      }
    }
    .file-browser-head-container {
      top: $share-show-content-header-height-public;
    }
    .fb-table {
      .fb-table-thead {
        top: $share-show-content-header-height-public + $fb-table-margin-top;
      }
    }
    .share-show-pane-container {
      &.share-show-pane-container-files {
        .table-bottom-spacing {
          // do not need original large bottom spacing, because there is a footer
          height: $share-show-public-footer-height * 0.5;
        }
      }
      .share-show-pane-description {
        padding-left: $share-show-content-padding-horizontal;
      }
    }
    @media (max-width: $screen-sm-max) {
      @include small-eu-logos;
    }
  }

  &.share-show-private {
    padding-top: $share-show-content-header-height-private;

    .share-header-container {
      height: $share-show-content-header-height-private;
    }
    .file-browser-head-container {
      top: $share-show-content-header-height-private;
    }
    .fb-table {
      .fb-table-thead {
        top: $share-show-content-header-height-private + $fb-table-margin-top;
      }
    }
    .open-data {
      .metadata-header-section {
        top: $share-show-content-header-height-private;
      }
    }
    .share-show-dc-preview {
      textarea.open-data-xml-textarea {
        // the non-variable value is typical height of metadata-header-section,
        // because its height is dynamic
        $vertical-elements-height: #{
          $share-show-content-header-height-public
          + $content-col-padding
        };
        height: calc(100vh - #{$vertical-elements-height} - #{$share-show-metadata-header-height-empirical});
        // when the metadata-header-sections can stack horizontally
        @media (max-width: $share-show-tabs-metadata-header-width) {
          height: calc(100vh - #{$vertical-elements-height} - #{$share-show-metadata-stacked-header-height-empirical});
        }
      }
    }
    .content-info {
      // must be forced, because one-carousel stretched as its content and absolute map
      // will not stretch horizontally, until it has no space provided by content-info
      min-height: calc(100vh - #{$share-show-content-header-height-private + 2 * $content-col-padding});
    }
    .eu-logo-container {
      @media (max-width: $screen-sm-max) {
        display: none;
      }
    }
    @include small-eu-logos;
  }


  .public-footer {
    height: $share-show-public-footer-height;
    line-height: $share-show-public-footer-height;
    margin-left: -$content-col-padding;
    margin-right: -$content-col-padding;
    margin-top: $content-col-padding;
  }

  // Open Data logo commonly used by metadata presenters
  .col-open-data-logo {
    .open-data-logo {
      $open-data-logo-size: 200px;
      position: sticky;
      top: calc(50% + #{$share-show-content-padding-horizontal});
      height: $open-data-logo-size;
      width: 100%;
      background-image: url($root-url + 'images/open-data.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      transition: all 0.2s ease;
      @media (max-height: #{$share-show-content-header-height-public + $share-show-public-footer-height + $open-data-logo-size}) {
        display: none;
      }
    }
  }
  .metadata-header-section-content {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 20px;
    // make all buttons same height as we use btn-group
    .btn-sm {
      height: 30px;
    }
    .modify-metadata-btn.btn {
      .oneicon {
        font-size: 1.5em;
        top: 0.2em;
        margin-right: 0;
      }
    }
    > * {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.open-data-metadata-editor {
  padding-bottom: $content-col-padding;
  &.form-group {
    margin-bottom: 0;
  }
  h1 {
    @include font-semibold;
    font-size: 1.6em;
  }
  h2 {
    @include font-semibold;
    font-size: 1.3em;
    margin-bottom: 1em;
  }
}

@import './share-show/header-management';
@import './share-show/header-public';
@import './share-show/public-url-viewer';
@import './share-show/dc';
@import './share-show/dc-editor';
@import './share-show/dc-preview';
@import './share-show/markdown-editor';
@import './share-show/edm';
@import './share-show/metadata-editor-footer';
@import './share-show/pane-opendata';
