.atm-task-execution-pods-activity-modal {
  $entry-warning-bg: lighten($color-one-warning, 35%);
  $entry-danger-bg: lighten($color-one-danger, 35%);
  $entry-selected-hovered-bg: darken($color-file-selected, 3%);

  &.in .modal-dialog .modal-body .bs-modal-body-scroll {
    display: grid;
    grid-template-rows: 1fr 10px 1fr;
    grid-template-columns: 100%;
  }

  .pods-events-splitter {
    @include horizontal-drag-dots-background();
    grid-row: 2;
    cursor: row-resize;
  }

  .pods-filter-btn-group {
    margin-left: 2em;
  }

  .column-label:first-child {
    text-align: left;
    padding-left: 1em;
  }

  .pods-table-data-cell + .pods-table-data-cell {
    text-align: center;
  }

  .pods-table-pod-row {
    &:hover {
      background-color: $main-content-hover-background;
    }

    &.status-failed {
      background-color: $entry-danger-bg;
    }

    &.status-unknown {
      background-color: $entry-warning-bg;
    }

    &.is-selected {
      background-color: $color-file-selected;

      &:hover {
        background-color: $entry-selected-hovered-bg;
      }
    }
  }

  .pods-table {
    .column-name-label,
    .pod-id {
      width: 100%;
      max-width: 0;
    }

    .column-readiness-label {
      min-width: 8em;
    }

    .column-status-label {
      min-width: 8em;
    }

    .column-status-since-label {
      min-width: 12em;
    }
  }

  .events-table {
    .type-column-header {
      width: 6em;
    }

    .reason-column-header {
      width: 8em;
    }

    @media (max-width: $screen-xs-max) {
      .type-column-header,
      .event-type {
        // We can't use `display: none` because of `colspan` value for loading rows
        // - a number of rendered (visible) cells can't change.
        width: 0;
        padding: 0;
        overflow: hidden;
      }

      .reason-column-header {
        width: 6em;
      }
    }
  }

  .data-row td {
    border-top: 1px solid $table-border-color;
  }

  .pods-table-section,
  .pods-table,
  .events-table-section,
  .events-table {
    min-height: 0;
  }

  .scrollable-table-content {
    width: 100%;
  }

  .events-table-placeholder {
    margin: auto;
    font-size: 130%;
  }

  @media (max-width: 600px) {
    .pods-table {
      .column-name-label {
        min-width: 13em;
        // Make place for filter buttons at the top
        padding-top: 3em;
      }
    }

    .pods-filter-btn-group {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 1em;
    }
  }
}
