.atm-workflow-executions-table {
  $inventory-col-width: 15em;
  $time-col-width: 17em;
  $status-col-width: 10em;

  .workflow-row-cell {
    text-align: center;
  }

  thead th:first-child,
  tbody td:first-child {
    text-align: left;
  }

  .cell-status .one-icon {
    line-height: 0;
    font-size: 2em;
    vertical-align: middle;
  }

  .table-col-name,
  .cell-name {
    max-width: 0;
    padding-left: $padding-small-horizontal;
  }

  .table-col-inventory,
  .cell-inventory {
    width: $inventory-col-width;
    min-width: $inventory-col-width;
    max-width: $inventory-col-width;

    @media (max-width: 1000px) {
      display: none;
    }
  }

  .table-col-scheduledAt,
  .cell-scheduledAt,
  .table-col-startedAt,
  .cell-startedAt,
  .table-col-finishedAt,
  .cell-finishedAt,
  .table-col-suspendedAt,
  .cell-suspendedAt {
    width: $time-col-width;
    min-width: $time-col-width;

    @media (max-width: 750px) {
      display: none;
    }
  }

  .table-col-status {
    width: $status-col-width;
    min-width: $status-col-width;
  }

  .table-col-actions {
    width: 50px;
    min-width: 50px;
  }

  // TODO: VFS-7978 Remove styles override
  .cell-actions {
    position: initial;
    padding: 0;
    position: relative;
    top: 0;
    right: 0;

    .one-menu-toggle {
      @include vertical-align-middle();
      left: 0;
    }
  }

  .status-icon {
    &.status-scheduled {
      color: $color-one-default;
    }

    &.status-resuming,
    &.status-stopping {
      @extend .animated;
      @extend .infinite;
      @extend .hinge;
      @extend .pulse-orange-transparent;
    }

    &.status-active,
    &.status-interrupted {
      color: $color-one-warning;
    }

    &.status-paused {
      color: $color-one-light-gray;
    }

    &.status-finished {
      color: $color-one-success;
    }

    &.status-failed,
    &.status-cancelled,
    &.status-crashed  {
      color: $color-one-danger;
    }
  }

  .loading-row-cell {
    position: relative;
    height: 61px;
  }
}
