.atm-workflow-executions-table {
  .workflow-row-cell {
    text-align: center;
  }

  thead th:first-child,
  tbody td:first-child {
    text-align: left;
  }

  .cell-status .one-icon {
    line-height: 0;
    font-size: 2em;
    vertical-align: middle;
  }

  .table-col-name,
  .cell-name {
    max-width: 0;
    padding-left: $padding-small-horizontal;
  }

  .table-col-scheduledAt,
  .cell-scheduledAt,
  .table-col-startedAt,
  .cell-startedAt,
  .table-col-finishedAt,
  .cell-finishedAt {
    width: 17em;
    min-width: 17em;

    @media (max-width: 750px) {
      display: none;
    }
  }

  .table-col-status {
    width: 10em;
    min-width: 10em;
  }

  .status-icon {
    &.status-scheduled {
      color: $color-one-default;
    }

    &.status-preparing {
      @extend .animated;
      @extend .infinite;
      @extend .hinge;
      @extend .pulse-orange;
    }

    &.status-enqueued,
    &.status-active {
      color: $color-one-warning;
    }

    &.status-finished {
      color: $color-one-success;
    }

    &.status-failed {
      color: $color-one-danger;
    }
  }

  .loading-row-cell {
    position: relative;
    height: 61px;
  }
}
