.atm-workflow-schemas-list {
  .search-form-group {
    max-width: 50em;
    margin-bottom: $iconified-block-padding;
  }

  .no-input-match {
    opacity: $disabled-opacity;
    cursor: not-allowed !important;
  }

  .workflow-schema-details {
    padding-bottom: 1em;
  }

  .workflow-schema-name {
    @include font-semibold();
  }

  .workflow-schema-summary {
    padding-top: 0.4em;
  }

  .no-workflows-info {
    justify-content: center;
    min-height: 10em;
    height: 15em;
    max-height: 60vh;
    display: flex;
    align-items: center;
    @include font-semibold();

    .one-icon {
      font-size: 300%;
      color: $color-one-danger;
    }
  }
}
