.run-workflow-creator {
  .slide-header {
    margin-top: 0;
    margin-bottom: 1em;
    text-align: center;
    font-size: 120%;
    @include font-bold();
  }

  .forms-container {
    display: grid;
    grid-template-columns: 1fr 20em;
    gap: 1em;
  }

  .form-container + .form-container {
    padding-left: 1em;
    border-left: 1px solid $main-border-color;
  }

  h2 {
    @include font-bold();
    font-size: 1em;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 1em;
  }

  .footer-buttons {
    grid-column: 1 / -1;
    text-align: center;

    .btn {
      float: none;
    }
  }

  .nothing-to-provide-message {
    @include font-semibold();
    display: flex;
    align-items: center;
    margin: 3em 0;

    .one-icon {
      margin-left: -0.15em;
      font-size: 300%;
      color: $color-one-success;
    }
  }

  .input-stores-form {
    width: 100%;
  }

  @media (max-width: 800px) {
    .forms-container {
      grid-template-columns: 1fr;
    }

    .form-container + .form-container {
      padding-left: 0;
      border-left: none;
    }
  }
}
