<div class="share-head">
  <div class="share-logo hidden-custom-xs">
    {{one-icon icon="globe-filled"}}
    {{#if share.hasHandle}}
      <div class="open-data-logo-badge">{{tt this "openData"}}</div>
    {{/if}}
  </div>
  <div class="share-name-section">
    {{#truncated-string class="share-name"}}
      {{share.name}}
    {{/truncated-string}}
    {{share-show/public-url-viewer
      class="row share-header-row share-header-public-url share-header-public-url-mobile"
      compact=true
      share=share
      showHandle=showHandle
      selectedUrlType=selectedUrlType
      changeSelectedUrlType=(action (mut selectedUrlType))
    }}
  </div>
</div>
