<p>
  {{tt this "text"}}
  {{one-doc-see-more
    linkName=(tt this "seeMoreLink")
    href=(one-api-doc-url
      product="onezone"
      anchor="operation/get_public_share_details"
    )
  }}
</p>
<hr class="sharp">
<p class="last">
  {{tt this "selectorInfo"}}
</p>