{{#if (and posixViewActive (not filesHaveCompatiblePosixPermissions))}}
  <div class="alert alert-warning alert-simple-info">
    {{tt this "differentPosix"}}
  </div>
{{/if}}
{{posix-permissions-editor
  initialPermissions=initialPosixPermissions
  class=(unless (and posixViewActive posixPermissionsCompatible) "hidden")
}}
{{#render-later
  tagName="div"
  triggerRender=aclViewActive
  class=(unless aclViewActive "hidden")
}}
  {{!-- FIXME: make sure loading is rendered fine --}}
  {{#promise-proxy-container proxy=aclsProxy}}
    {{acl-editor
      users=spaceUsers
      groups=spaceGroups
      systemSubjects=systemSubjects
      acl=initialAcl
      context=filesType
    }}
  {{/promise-proxy-container}}
{{/render-later}}
