{{#if (and posixViewActive (not filesHaveCompatiblePosixPermissions))}}
  <div class="alert alert-warning alert-simple-info">
    {{tt this "differentPosix"}}
  </div>
{{/if}}
{{posix-permissions-editor
  initialPermissions=initialPosixPermissions
  class=(unless (and posixViewActive posixPermissionsCompatible) "hidden")
}}
{{#render-later
  tagName="div"
  triggerRender=aclViewActive
  class=(unless aclViewActive "hidden")
}}
  {{#promise-proxy-container proxy=aclsProxy}}
    {{#if (and aclViewActive (not filesHaveCompatibleAcl))}}
      <div class="alert alert-warning alert-simple-info">
        {{tt this "differentAcl"}}
      </div>
    {{/if}}
    {{acl-editor
      users=spaceUsers
      groups=spaceGroups
      systemSubjects=systemSubjects
      acl=initialAcl
      context=filesType
      class=(unless aclCompatible "hidden")
    }}
  {{/promise-proxy-container}}
{{/render-later}}
