.space-share-list-item {
  .item-icon-container {
    .one-icon-tagged,
    .one-icon-tagged-main {
      line-height: 0;
    }
  }
  .list-header-content {
    display: flex;

    .icon-with-name {
      flex-grow: 2;
    }
  }

  .one-icon-tag-icon {
    color: $color-one-danger;
  }

  .share-menu-trigger {
    @include vertical-align-middle;
    padding-right: 0;
    right: $padding-small-horizontal;
  }

  .share-labels-container {
    align-self: center;
    line-height: 0;
    padding-left: 10px;
  }
}
