.space-share-list-item {
  .item-icon-container {
    .one-icon-tagged,
    .one-icon-tagged-main {
      line-height: 0;
    }
  }
  .one-collapsible-list-item-header {
    height: 65px;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
  }
  .list-header-content {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .share-name-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
  }
  .share-file-path-error {
    font-style: italic;
  }
  .share-file-path {
    opacity: $disabled-opacity;
    font-size: $font-size-small;
  }

  .one-icon-tag-icon {
    color: $color-one-danger;
  }

  .share-menu-trigger {
    @include vertical-align-middle;
    padding-right: 0;
    right: $padding-small-horizontal;
  }

  .share-labels-container {
    align-self: center;
    line-height: 0;
    padding-left: 10px;
    padding-right: 6px;
    > .label + .label {
      margin-left: 6px;
    }
  }
}
