.share-show {
  .file-browser-head-container {
    padding-top: 0;
  }
  &.with-header-public {
    .share-header-panel {
      position: fixed;
      height: $content-header-height-public;
    }
    .file-browser-head-container {
      top: $content-header-height-public;      
    }
    .fb-table-container {
      margin-top: $content-header-height-public + $fb-table-margin-top;
    }
  }
  &.with-header-private {
    .share-header-panel {
      height: $content-header-height-private;
    }
    .file-browser-head-container {
      top: $content-header-height-private;
    }
    .fb-table-container {
      margin-top: $content-header-height-private + $fb-table-margin-top;
    }
  }
  .share-header-panel {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $zindex-file-browser-head;
    height: 0;
    padding-top: $padding-large-vertical;
    padding-left: $content-col-padding;
    padding-right: $content-col-padding;
    background-color: $main-tabbed-content-background;
  }
  .share-header-row {
    $col-menu-width: 30px;
    $key-width: 140px;
    position: relative;
    .col-key {
      @include vertical-align-middle;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: $key-width;
      padding-left: $file-browser-padding-left;
      padding-right: $padding-large-horizontal;
      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }
    .col-value {
      display: flex;
      padding-left: $key-width;
      max-width: $screen-xs-max;
      @media (max-width: $screen-xs-max) {
        padding-left: 0;
      }
    }
    + .share-header-row {
      margin-top: $padding-large-vertical;
    }
    &.with-menu {
      padding-right: $col-menu-width;
    }
    .col-menu {
      @include vertical-align-middle();
      right: 0;
    }
    .col-btn {
      margin-left: $padding-base-horizontal;
    }
  }
  .share-header-public-url {
    position: relative;
  }
  .clipboard-line-public-url {
    flex-grow: 1;
  }
}
