$description-bar-height: 60px;
$content-padding-horizontal: 12px;

.share-show {
  $content-header-height-public: 200px;
  $content-header-height-private: 150px;
  $public-section-border-width: 2px;
  $public-section-border: $public-section-border-width solid $color-one-semiwhite;
  $public-footer-height: 88px;
  $color-public-blue-light: #F2F3F8;
  $color-public-blue: #526592;
  
  
  // additional styles for internally used components
  // common style for open-data-* components
  .open-data-view {
    .metadata-header-section {
      position: sticky;
      // should be overriden to match fixed headers in share-shows
      top: 0;
      // force to be above static elements inside absolute element
      z-index: 1;
      margin-top: 0;
      margin-bottom: 0;
      background-color: $color-one-white;
    }
  }
    
  // component
  .share-show-header-management {
    .share-header-row {
      $col-menu-width: 30px;
      $key-width: 14em;
      display: flex;
      align-items: center;
      .col-key {
        flex: 0 0 $key-width;
        padding-left: $file-browser-padding-left;
        padding-right: $padding-large-horizontal;
        @media (max-width: $screen-xs-max) {
          display: none;
        }
      }
      .col-value {
        flex: 0 1 $screen-xs-max;
        max-width: calc(100% - #{$key-width});
        @media (max-width: $screen-xs-max) {
          flex-basis: auto;
          flex-grow: 1;
          max-width: none;
        }
      }
      + .share-header-row {
        margin-top: $padding-large-vertical;
      }
      &.with-menu {
        padding-right: $col-menu-width;
        .col-value {
          // this kind of max-width limit is suitable for dynamic path renderer
          max-width: calc(100% - #{$key-width} - #{$col-menu-width});
        }
      }
      .col-menu {
        @include vertical-align-middle();
        right: 0;
      }
    }
  }
  
  .content-info-container {
    padding-top: $content-header-height-private + $fb-table-margin-top;
  }
  .file-browser-head-container {
    padding-top: 0;
  }
  .share-header-panel {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $zindex-file-browser-head;
    padding-top: $content-row-vertical-padding;
    padding-left: $content-col-padding;
    padding-right: $content-col-padding;
    background-color: $main-tabbed-content-background;
  }
  .tab-share-show-mode {
    position: absolute;
    top: auto;
    bottom: 0;
    .nav-tabs > li {
      // reset bottom line overflow, because we need to render fixed file browser header
      margin-bottom: 0;
    }
    .tab-label-notice {
      color: $color-one-blue-gray;
    }
  }
  .clipboard-line-public-share.clipboard-line.clipboard-line-input {
    $border-radius: 8px;
    max-width: 540px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    input.clipboard-input.form-control {
      border-radius: $border-radius;
      border: none;
      background-color: $color-public-blue-light;
      height: 100%;
    }
    .clipboard-btn.copy-btn {
      color: white;
      border-radius: $border-radius;
      border: none;
      background-color: $color-public-blue;
      height: 100%;
    }
  }
  &.share-show-public {
    @include vertical-flex-stretch;
    padding-top: $content-header-height-public;
    padding-bottom: 0;
    // because of footer, we must remove padding added by generic one-embedded-component
    // there is also a 2px embedded iframe bug described somewhere else
    margin-bottom: -$content-col-padding - 2px;
    &.content-file-browser {
      height: auto;
    }
    .open-data-preview {
      // restore bottom padding, which was removed in share-show-public for footer
      padding-bottom: $content-col-padding;
      .metadata-header-section {
        top: $content-header-height-public;
      }
    }
    .share-show-pane-container {
      @include vertical-flex-stretch;
      &.share-show-pane-container-files {
        margin-bottom: -50px;
        .table-bottom-spacing {
          height: 40px;
        }
      }
    }
    .share-header-public-url {
      display: flex;
    }
    .share-header-panel {
      height: $content-header-height-public;
      background-color: white;
      .bs-tab-modern .nav-tabs li.active > a {
        border-bottom-color: $color-one-red;
      }
      .bs-tab-modern .nav-tabs li > a:hover {
        border-bottom-color: lighten($color-one-red, 25);
      }
      &::after {
        position: absolute;
        content: ' ';
        bottom: 0;
        left: 0;
        border-bottom: $public-section-border;
        width: 100%;
        z-index: -1;
      }
    }
    .file-browser-head-container {
      top: $content-header-height-public;      
    }
    .fb-table-container {
      margin-bottom: -$fb-table-margin-top;
      padding-bottom: $fb-table-margin-top;
    }
    .pane-description {
      padding-left: $content-padding-horizontal;
    }
    .share-show-header-public {
      display: flex;
      align-items: center;
      padding-top: 1.5em;
      padding-left: $content-padding-horizontal;
      .share-header-public-url {
        display: flex;
        justify-content: center;
        &.share-header-public-url-mobile {
          justify-content: left;
        }
        .col-key {
          flex: 0 0 12em;
          padding-right: $padding-small-horizontal;
        }
        .col-value {
          flex: 0 1 100em;
        }
      }
      .share-head {
        display: flex;
        flex-grow: 1;
        align-items: center;
      }
      .share-logo {
        font-size: 78px;
        line-height: 0;
      }
      .share-name-section {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 48em;
        padding-left: 0.8em;
        padding-right: 1em;
        overflow: hidden;
      }
      .share-name {
        @include font-semibold;
        font-size: 32px;
        padding-bottom: 4px;
      }
    }
  }
  &.share-show-private {
    @include vertical-flex-stretch;
    $padding-vertical: 32px;
    padding-top: $content-header-height-private;
    padding-bottom: $content-col-padding;
    .open-data-view {
      .metadata-header-section {
        top: $content-header-height-private;
      }
    }
    .share-show-pane-container, .share-show-pane {
      // FIXME: maybe this could be common style for panes public and private
      @include vertical-flex-stretch;
    }
    .opendata-one-carousel {
      // overflow cannot be hidden, because of sticky elements inside
      overflow: visible;
    }
    &.content-file-browser {
      height: auto;
    }
    .editor-current-mode-bar {
      position: fixed;
      top: $content-header-height-private;
      left: 0;
      z-index: 1;
      height: $description-bar-height;
      width: 100%;
      line-height: $description-bar-height;
      padding-left: $content-col-padding + $content-padding-horizontal;
      border-bottom: 1px solid $main-border-color;
      background: $color-one-white;
      @include font-semibold;
    }
    .pell-content {
      height: auto;
      padding-top: $description-bar-height;
    }
    .share-edit-actions-toolbar {
      position: fixed;
      top: $content-header-height-private;
      right: 0;
      height: $description-bar-height;
      line-height: $description-bar-height;
      display: flex;
      align-items: center;
      padding-right: $padding-vertical;
      padding-left: $padding-vertical;
      z-index: 2;
    }
    .markdown-preview {
      padding-left: $content-padding-horizontal;
      padding-top: $description-bar-height;
    }
    .textarea-source-editor {
      width: 100%;
      border: 0;
      padding-left: $content-padding-horizontal;
      padding-right: 0;
      overflow-y: auto;
      outline: none;
      margin-top: $content-col-padding;
      padding-top: $description-bar-height;
      font-size: 15px;
    }
    .share-header-panel {
      height: $content-header-height-private;
    }
    .file-browser-head-container {
      top: $content-header-height-private;
    }

    .pane-opendata {
      // FIXME: experimental off
      // padding-bottom: 50px;
      .content-info.content-info-publish-open-data-welcome {
        // must be forced, because one-carousel stretched as its content and absolute map
        // will not stretch horizontally, until it has no space provided by content-info
        min-height: calc(100vh - #{$content-header-height-private});
      }
    }
  }
  .share-header-public-url {
    position: relative;
  }
  .share-show-footer-public {
    height: $public-footer-height;
    border-top: $public-section-border;
    line-height: $public-footer-height;
    position: relative;
    padding-left: $content-col-padding + $content-padding-horizontal;
    margin-left: -$content-col-padding;
    margin-right: -$content-col-padding;
    background: white;
    .onedata-logo-public {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 136px;
      height: 26px;
      background-image: url($root-url + 'images/logo-dark.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
    .onedata-copyright-public {
      font-size: 16px;
      padding-left: 168px;
    }
  }
  
  // component
  .public-url-viewer {
    .input-group-addon-handle-service.truncate {
      max-width: 18em;
    }
    .compact-url-type-selector-arrow.inline-icon-container {
      margin-left: -0.2em;
      width: 1.4em;
      .oneicon {
        font-size: 120%;
      }
    }
    .clipboard-line-public-url {
      flex-grow: 1;
    }
  }
  
    /// FIXME: open-data preview styles


  $color-public-blue-light: #F2F3F8;
  $color-public-green-light: #f2f8f3;

  .share-show-public {
    textarea.open-data-xml-textarea {
      height: calc(100vh - 400px);
    }
  }
  
  .open-data-preview.open-data-view {
    .section-name {
      @include font-semibold;
      font-size: 22px;
      margin-bottom: 15px;
    }
    .open-data-value {
      background-color: $color-public-blue-light;
      padding: 18px;
      &.handle-service-info {
        background-color: $color-public-green-light;
      }
    }
    .handle-service-group {
      margin-bottom: 48px;
    }
    .metadata-group {
      margin-top: 24px;
    }
    .metadata-group-name {
      @include font-semibold;
      margin-bottom: 15px;
    }
    .metadata-value + .metadata-value {
      margin-top: 15px
    }
    textarea.open-data-xml-textarea {
      height: calc(100vh - 280px);
    }
    .row-metadata-presenter {
      display: flex;
    }
    .col-open-data-logo {
      .open-data-logo {
        position: sticky;
        top: calc(50% - #{$content-col-padding});
        height: 250px;
        width: 100%;
        background-image: url($root-url + 'images/open-data.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 300px auto;
        transition: all 0.2s ease;
        @media (max-height: $content-header-height-public + $public-footer-height + 120px) {
          display: none;
        }
        @media (max-height: 700px) {
          background-size: 200px auto;
        }
      }
    }
  }
}

// TODO: VFS-6566 move to other file and reuse in editor
.markdown-view {
  margin-top: $content-col-padding;
  margin-bottom: $content-col-padding;
  table {
    @extend .table;
    @extend .table-striped;
  }
  h1 {
    font-size: 30px;
    @include font-semibold;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 24px;
    @include font-semibold;
    margin-top: 24px;
    margin-bottom: 18px;
  }
  h3 {
    font-size: 20px;
    @include font-semibold;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  h4 {
    font-size: 18px;
    @include font-semibold;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  h5 {
    font-size: 16px;
    @include font-semibold;
    margin-top: 18px;
    margin-bottom: 10px;
  }
  h6 {
    font-size: 14px;
    @include font-semibold;
    margin-top: 16px;
    margin-bottom: 10px;
  }
  a {
    @extend .azure;
  }
  p {
    font-size: 14px;
  }
}

