$description-bar-height: 60px;
$content-padding-horizontal: 12px;

.share-show {
  $content-header-height-public: 200px;
  $content-header-height-private: 150px;
  $public-section-border-width: 2px;
  $public-section-border: $public-section-border-width solid $color-one-semiwhite;
  $public-footer-height: 88px;
  $color-public-blue-light: #F2F3F8;
  $color-public-blue: #526592;
  
  .content-info-container {
    padding-top: $content-header-height-private + $fb-table-margin-top;
  }
  .file-browser-head-container {
    padding-top: 0;
  }
  .share-header-panel {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $zindex-file-browser-head;
    padding-top: $padding-large-vertical;
    padding-left: $content-col-padding;
    padding-right: $content-col-padding;
    background-color: $main-tabbed-content-background;
  }
  .tab-share-show-mode {
    position: absolute;
    top: auto;
    bottom: 0;
    .nav-tabs > li {
      // reset bottom line overflow, because we need to render fixed file browser header
      margin-bottom: 0;
    }
    .tab-label-notice {
      color: $color-one-blue-gray;
    }
  }
  .open-data-doi {
    $border-radius: 8px;
    top: $content-col-padding;
    position: relative;
    padding-left: $content-col-padding;
    padding-right: $content-col-padding;
    .clipboard-line-public-share.clipboard-line.clipboard-line-input {
      max-width: 540px;
      left: 50%;
      transform: translateX(-50%);
      height: 50px;
      input.clipboard-input.form-control {
        border-radius: $border-radius;
        border: none;
        background-color: $color-public-blue-light;
        height: 100%;
      }
      .clipboard-btn.copy-btn {
        color: white;
        border-radius: $border-radius;
        border: none;
        background-color: $color-public-blue;
        height: 100%;
      }
    }
  }
  .col-open-data-logo {
    position: fixed;
    top: $content-header-height-public;
    bottom: $public-footer-height;
    right: 0;
  }
  .open-data-logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url($root-url + 'images/open-data.svg');
    background-repeat: no-repeat;
    background-position: center 70%;
    background-size: 300px auto;
    @media (max-height: 700px) {
      background-size: 160px;
    }
    @media (max-height: 900px) {
      background-position: center calc(100% - 20px);
    }
  }
  &.share-show-public {
    padding-top: $content-header-height-public;
    .share-show-pane-container {
      min-height: calc(100% - #{$public-footer-height + $public-section-border-width});
      &.share-show-pane-container-files {
        margin-bottom: -50px;
        .table-bottom-spacing {
          height: 40px;
        }
      }
    }
    .share-header-panel {
      height: $content-header-height-public;
      background-color: white;
      .bs-tab-modern .nav-tabs li.active > a {
        border-bottom-color: $color-one-red;
      }
      .bs-tab-modern .nav-tabs li > a:hover {
        border-bottom-color: lighten($color-one-red, 25);
      }
      &::after {
        position: absolute;
        content: ' ';
        bottom: 0;
        left: 0;
        border-bottom: $public-section-border;
        width: 100%;
        z-index: -1;
      }
    }
    .file-browser-head-container {
      top: $content-header-height-public;      
    }
    .fb-table-container {
      margin-bottom: -$fb-table-margin-top;
      padding-bottom: $fb-table-margin-top;
    }
    .pane-description {
      padding-left: $content-padding-horizontal;
      padding-bottom: 50px;
    }
    .pane-opendata {
      .open-data-preview {
        padding-right: $content-col-padding;
      }
      padding-bottom: 50px;
    }
    .share-show-header-public {
      height: 200px;
      padding-left: $content-padding-horizontal;
      .share-head {
        line-height: 130px;
      }
      .share-logo {
        position: absolute;
        font-size: 78px;
        top: 50%;
        transform: translateY(-50%) translateY(-8px);
      }
      .share-name {
        @include font-semibold;
        font-size: 42px;
        padding-left: 106px;
      }
    }
  }
  &.share-show-private {
    $padding-vertical: 32px;
    padding-top: $content-header-height-private;
    &.content-file-browser {
      height: calc(100% - #{$content-header-height-private + $fb-table-margin-top});
    }
    .open-data-editor {
      padding-top: $description-bar-height;
    }
    .share-edit-bar {
      position: fixed;
      top: $content-header-height-private;
      left: 0;
      height: $description-bar-height;
      width: 100%;
      border-bottom: 1px solid $main-border-color;
      background: white;
      border-bottom: 1px solid $main-border-color;
      z-index: 1;
    }
    .share-edit-bar-placeholder {
      line-height: $description-bar-height;
      padding-left: $content-col-padding + $content-padding-horizontal;
      @include font-semibold;
    }
    .pell-content {
      height: auto;
      padding-top: $description-bar-height;
    }
    .share-edit-actions-toolbar {
      position: fixed;
      top: $content-header-height-private;
      right: 0;
      height: $description-bar-height;
      line-height: $description-bar-height;
      display: flex;
      align-items: center;
      padding-right: $padding-vertical;
      padding-left: $padding-vertical;
      z-index: 2;
    }
    .markdown-preview {
      padding-left: $content-padding-horizontal;
      margin-top: $description-bar-height;
    }
    .textarea-source-editor {
      width: 100%;
      border: 0;
      padding-left: $content-padding-horizontal;
      padding-right: 0;
      overflow-y: auto;
      outline: none;
      margin-top: $description-bar-height;
      font-size: 15px;
    }
    .share-header-panel {
      height: $content-header-height-private;
    }
    .file-browser-head-container {
      top: $content-header-height-private;
    }
    .share-header-row {
      $col-menu-width: 30px;
      $key-width: 140px;
      position: relative;
      .col-key {
        @include vertical-align-middle;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: $key-width;
        padding-left: $file-browser-padding-left;
        padding-right: $padding-large-horizontal;
        @media (max-width: $screen-xs-max) {
          display: none;
        }
      }
      .col-value {
        display: flex;
        padding-left: $key-width;
        max-width: $screen-xs-max;
        @media (max-width: $screen-xs-max) {
          padding-left: 0;
        }
      }
      + .share-header-row {
        margin-top: $padding-large-vertical;
      }
      &.with-menu {
        padding-right: $col-menu-width;
      }
      .col-menu {
        @include vertical-align-middle();
        right: 0;
      }
    }
    .pane-opendata {
      padding-bottom: 50px;
    }
  }
  .share-header-public-url {
    position: relative;
  }
  .clipboard-line-public-url {
    flex-grow: 1;
  }
  .share-show-footer-public {
    height: $public-footer-height;
    border-top: $public-section-border;
    line-height: $public-footer-height;
    position: relative;
    padding-left: $content-col-padding + $content-padding-horizontal;
    margin-left: -$content-col-padding;
    margin-right: -$content-col-padding;
    background: white;
    .onedata-logo-public {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 136px;
      height: 26px;
      background-image: url($root-url + 'images/logo-dark.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
    .onedata-copyright-public {
      font-size: 16px;
      padding-left: 168px;
    }
  }
}

// FIXME: move to other file and reuse in editor
.markdown-view {  
  table {
    @extend .table;
    @extend .table-striped;
  }
  h1 {
    font-size: 30px;
    @include font-semibold;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 24px;
    @include font-semibold;
    margin-top: 24px;
    margin-bottom: 18px;
  }
  h3 {
    font-size: 20px;
    @include font-semibold;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  h4 {
    font-size: 18px;
    @include font-semibold;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  h5 {
    font-size: 16px;
    @include font-semibold;
    margin-top: 18px;
    margin-bottom: 10px;
  }
  h6 {
    font-size: 14px;
    @include font-semibold;
    margin-top: 16px;
    margin-bottom: 10px;
  }
  a {
    @extend .azure;
  }
  p {
    font-size: 14px;
  }
}


// // FIXME: move
// .markdown-editor {
//   .share-edit-bar {
//     height: $description-bar-height;
//     border-bottom: 1px solid $main-border-color;
//   }

// }
