{{file-shares/other-view-forbidden-warning file=file aboutTimeType="present"}}
<div class="btn-group-tabs">
  <div class="box-item with-scroll-shadow shares-header-text">
    <strong>{{tt this "listOfShares"}}</strong>
  </div>
</div>
