{{#promise-proxy-container proxy=defaultFormValuesProxy}}
  <form class="form form-horizontal form-component">
    {{form-component/field-renderer field=fields}}
  </form>
{{/promise-proxy-container}}
{{yield}}
