.visual-edm-extra-data-info {
  display: flex;
  .extra-data-info-inner {
    display: flex;
    align-items: center;
  }
  .extra-data-icon {
    color: $color-one-azure;
  }
  .extra-data-icon + .extra-data-text {
    margin-left: 0.8em;
  }
}
