.visual-edm-property {
  --pulse-bg-color: #{$color-highlight};
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  border-top: 1px dashed $main-border-color;
  padding-left: 1em;
  padding-right: 1em;
  &:first-child {
    border-top: none;
  }
  .edm-property-name-container {
    display: flex;
    align-items: center;
  }
  .edm-property-value-container {
    margin-top: 0.75em;
    display: flex;
    align-items: center;
  }
  .edm-property-value-label {
    display: flex;
    align-items: center;
    width: 7.5em;
    min-width: 7.5em;
    align-self: flex-start;
    margin-top: 6px;
    @include font-semibold;
  }
  .edm-property-type {
    @include font-semibold;
    font-size: 110%;
  }
  .edm-property-value {
    flex-grow: 1;
    &.readonly {
      overflow: hidden;
    }
    .form-group {
      margin-bottom: 0;
    }
    .value-using-reference {
      padding-top: 7px;
      padding-bottom: 7px;
      opacity: $disabled-opacity;
      font-style: italic;
    }
    textarea {
      resize: none;
    }
  }
  .edm-property-lang-separator {
    padding-left: 24px;
    padding-right: 22px;
  }
  .edm-property-resource-toggle {
    align-self: flex-start;
    margin-left: 1.2em;
    font-size: $font-size-small;
  }
  .edm-property-lang-label {
    font-size: $font-size-small;
    margin-right: 10px;
  }
  .edm-property-lang-default {
    font-size: $font-size-small;
    margin-right: 10px;
    opacity: $disabled-opacity;
    font-style: italic;
  }
  .edm-property-lang-input {
    padding: 2px 6px;
    margin-right: 10px;
    width: 3em;
    height: 26px;
  }
  .edm-property-delete-btn {
    display: flex;
    align-self: flex-start;
    margin-left: auto;
  }
  .edm-recommendation-label + .edm-property-delete-btn {
    margin-left: 8px;
  }
  .edm-recommendation-label {
    opacity: $disabled-opacity;
    margin-left: auto;
    font-size: $font-size-small;
  }
  .edm-property-attrs-container {

  }
  .label-icon {
    align-self: center;
    font-size: 120%;
    margin-right: 0.4em;
  }
}

.visual-edm.readonly {
  .edm-property-value-label {
    margin-top: 0;
    min-width: auto;
    width: auto;
    padding-right: 0.6em
  }
}
