.visual-edm-validation-error {
  // support for multiline string
  .edm-info-row-icon {
    align-self: baseline;
    padding-top: 0.25em;
  }

}

.edm-validation-advanced-options {
  .ignore-validation-toggle-row {
    display: flex;
    margin-top: 1em;
    gap: 1em;
    align-items: center;
  }
}
