.column-editor {
  $margin-between-form-elements: 20px;
  position: relative;
  min-height: var(--min-height-columns-configuration-popover, 0);
  padding: 12px;

  h1 {
    display: flex;
    position: relative;

    .back-icon {
      cursor: pointer;
      font-size: 120%;
      font-weight: bold;
      margin-left: -0.3em;
    }

    .edit-column-header {
      padding-left: 0.3em;
    }
  }

  .json-query-description {
    font-size: 80%;
    margin-top: 4px;
  }

  .form-component {
    .form-group {
      display: block;
    }
    .control-label {
      width: 100%;
    }
    .field-component {
      font-size: $font-size-base;
    }
    .field-message {
      margin-bottom: -$margin-between-form-elements;
      height: $margin-between-form-elements;
      padding: 0;
    }
  }

  .new-json-key, .new-item-name, .new-json-query {
    margin-bottom: $margin-between-form-elements;
  }

  .back-column-btn {
    margin-right: $padding-xs-horizontal;
  }

  .jsonQuery-field .label-colon {
    display: none;
  }

  .xattr-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .radio-inline {
    display: inline-flex;
    align-items: center;
  }
}
