<h1 class="empty-dir-text dir-box-text">{{tt this "emptyDirectory"}}</h1>
{{#if renderArchiveDipSwitch}}
  {{archive-filesystem-browser/dip-switch
    disabled=(not isArchiveDipAvailable)
    archiveDipMode=archiveDipMode
    onArchiveDipModeChange=onArchiveDipModeChange
  }}
{{/if}}
<div class="empty-dir-image dir-box-image"></div>