<th class="fb-table-col-files fb-table-secondary-col">
  <span class="header-label">{{tt this "files"}}</span>
  {{#if renderArchiveDipSwitch}}
    {{archive-filesystem-browser/dip-switch
      disabled=(not isArchiveDipAvailable)
      archiveDipMode=archiveDipMode
      onArchiveDipModeChange=onArchiveDipModeChange
    }}
  {{/if}}
</th>
<th class="fb-table-col-size fb-table-secondary-col hidden-xs">{{tt this "size"}}</th>
<th class="fb-table-col-modification fb-table-secondary-col hidden-xs">
  {{tt this "modification"}}
</th>