.qos-audit-log {
  min-height: 0;
  .file-not-available {
    font-style: italic;
  }
  .cell-content-message {
    display: flex;
    align-items: center;
    max-width: 100%;
    .severity-icon {
      font-size: 200%;
      margin-right: 0.1em;
      // custom alignment to left, because of icon internal padding
      margin-left: -0.15em;
    }
  }
}
