// FIXME: copied from recall event log

.qos-audit-log {
  min-height: 0;
  // FIXME: special class for sticky header
  .event-log-table {
    .severity-icon {
      margin-left: -0.15em;
    }
  }
  .cell-content-message {
    display: flex;
    align-items: center;
    max-width: 100%;
    .severity-icon {
      font-size: 200%;
      + .message-text {
        margin-left: 0.5em;
      }
    }
  }
}
