.file-qos-summary {
  &.loadable-row {
    min-height: 90px;
  }
  .no-qos-requirements {
    background-image: url($root-url + "/images/no-qos.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 150px;
    padding-top: 170px;
    .no-qos-requirements-message {
      text-align: center;
      width: 100%;
    }
  }
  .one-collapsible-list .qos-entry .list-header-row {
    padding-top: $padding-small-horizontal;
  }
}
