.qos-entry {
  padding: $padding-large-vertical 0;
  padding-top: 1em;
  padding-bottom: $padding-large-horizontal;

  & + .qos-entry {
    border-top: 1px solid $main-border-color;
  }
  .qos-main-line {
    display: flex;
    flex-direction: column;
    .qos-expression-text-field {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
    .qos-general-info {
      display: flex;
      align-items: center;
    }
    > .clipboard-line {
      margin-top: 0px;
    }
  }
  .header-replicas-number {
    display: inline-block;
    flex-grow: 1;
  }
  .spinner-block-path {
    margin-top: 2px;
    margin-left: 6px;
  }
  .qos-buttons {
    place-self: flex-start;
    display: flex;
    align-items: center;
    // Without this style .remove-qos-trigger button moved a bit to the right
    // causes modal to show horizontal scrollbar for a couple of milliseconds.
    overflow: hidden;

    .clipboard-btn {
      display: flex;
      align-items: center;
      background: none;
      border: none;
      right: 0;
      outline: none;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
      padding: 0;
      .copy-btn-icon {
        color: $text-color;
        position: relative;
      }
    }
  }
  .remove-qos-trigger {
    margin-right: -0.15em;
  }
  .icon-trigger {
    line-height: 40px;
    margin-left: 4px;
    font-size: $qos-icon-size;
    &.remove-qos-trigger {
      &.enabled {
        &:hover {
          color: $color-one-danger;
        }
      }
      &.disabled {
        opacity: 0.3;
        // `!important` to override inline styles of clickable components
        cursor: not-allowed !important;
      }
    }
  }

  .qos-status-icon-container {
    // not needed, as the icon is moved left to align left
    margin-right: 0;
    .one-icon {
      // align left
      transform: translateX(-16%);
      font-size: $qos-icon-size;
    }
  }
  .remove-icon {
    &:not(:hover) {
      color: inherit;
    }
    .one-icon {
      font-size: $qos-icon-size;
    }
  }
  .qos-path-subheader {
    display: flex;
    // adjust icons manually because of their internal SVG padding
    .oneicon-inheritance {
      left: 0.08em;
    }
    .file-path {
      min-width: 0;
      width: 100%;
    }
  }
  .qos-info-subheader {
    // adjust icons manually because of their internal SVG padding
    .oneicon-support {
      left: -0.05em;
    }
  }

  .qos-entry-details-switch {
    display: flex;
    align-items: center;
  }

  // empirical value when there is no space left for switcher with its label
  @media (max-width: 580px) {
    .qos-info-subheader {
      flex-direction: column;
      align-items: flex-start;
    }
    .qos-entry-details-switch {
      align-self: flex-end;
      margin-top: 0.5em;
    }
  }
  @media (max-width: 420px) {
    .qos-info-selector-label {
      display: none;
    }
  }

  .qos-entry-logs,
  .qos-entry-charts {
    margin-top: 0.8em;
  }

  .qos-entry-logs {
    display: flex;
    min-height: 320px;
    // standard size for multiple-file or multiple-entries qos-modal
    height: 50vh;

    .file-column-header {
      width: 12em;
    }

    .file-not-available {
      font-style: italic;
    }

    .cell-content-message {
      .severity-icon {
        font-size: 200%;
        margin-right: 0.1em;
        // custom alignment to left, because of icon internal padding
        margin-left: -0.15em;
      }
    }

    @media (max-width: $screen-xs-max) {
      .file-column-header {
        width: 7em;
      }
    }
  }
}

.one-collapsible-list-item-content {
  // We have to adjust audit log header color to match a bit darker color
  // of boxes inside collapsible list items.
  --infinite-scroll-table-header-bg-color: #f2f2f2;
}
