.qos-entry {
  padding: $padding-large-vertical 0;

  & + .qos-entry {
    border-top: 1px solid $main-border-color;
  }
  .qos-main-line {
    display: flex;
    flex-direction: column;
    .qos-expression-text-field {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
    .qos-general-info {
      display: flex;
      align-items: center;
    }
    > .clipboard-line {
      margin-top: 0px;
    }
  }
  .header-replicas-number {
    display: inline-block;
    flex-grow: 1;
  }
  .spinner-block-path {
    margin-top: 2px;
    margin-left: 6px;
  }
  .qos-buttons {
    place-self: flex-start;
    display: flex;
    align-items: center;
    // align icon right
    transform: translateX(5%);

    .clipboard-btn {
      display: flex;
      align-items: center;
      background: none;
      border: none;
      right: 0;
      outline: none;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
      padding: 0;
      .copy-btn-icon {
        color: $text-color;
        position: relative;
      }
    }
  }
  .icon-trigger {
    line-height: 40px;
    margin-left: 4px;
    font-size: $qos-icon-size;
    &.remove-qos-trigger {
      &.enabled {
        &:hover {
          color: $color-one-danger;
        }
      }
      &.disabled {
        opacity: 0.3;
        // `!important` to override inline styles of clickable components
        cursor: not-allowed !important;
      }
    }
  }

  .qos-status-icon-container {
    // not needed, as the icon is moved left to align left
    margin-right: 0;
    .one-icon {
      // align left
      transform: translateX(-16%);
      font-size: $qos-icon-size;
    }
  }
  .remove-icon {
    &:not(:hover) {
      color: inherit;
    }
    .one-icon {
      font-size: $qos-icon-size;
    }
  }
  .qos-path-subheader {
    display: flex;
    // adjust icons manually because of their internal SVG padding
    .oneicon-inheritance {
      left: 0.08em;
    }
    .file-path {
      min-width: 0;
      width: 100%;
    }
  }
  .qos-expression-info-subheader {
    // adjust icons manually because of their internal SVG padding
    .oneicon-support {
      left: -0.05em;
    }
  }

  .qos-entry-charts {
    display: flex;
  }

  .chart-container {
    flex-basis: 50%;
    flex-shrink: 0;
    height: 300px;
  }
}
