{{#truncated-string
  class="file-info-secondary-inner file-info-secondary-left dataset-info-secondary-file-path"
  tooltipClass="string-path-tooltip"
}}
  <span class="dataset-info-secondary-file-path-internal">
    {{dataset.rootFilePath}}
  </span>
{{/truncated-string}}