{{#each browserModel.columnsOrder as |columnName|}}
  {{#if (get browserModel (concat "columns." columnName ".isVisible"))}}
    {{#if (eq columnName "archives")}}
      <td class="fb-table-col-archives hidden-xs">
        <span class="file-item-text">
          {{fileRowModel.archiveCount}}
        </span>
      </td>
    {{else if (eq columnName "created")}}
      <td class="fb-table-col-created fb-table-secondary-col hidden-xs">
        <span class="file-item-text">
          {{date-format file.creationTime format="dateWithMinutes" blank="—"}}
        </span>
      </td>
    {{/if}}
  {{/if}}
{{/each}}
