<td class="fb-table-col-archives">
  <span class="file-item-text">
    —
  </span>
</td>
<td class="fb-table-col-created">
  <span class="file-item-text">
    {{date-format file.creationTime format="dateWithMinutes" blank="—"}}
  </span>
</td>
