<td class="fb-table-col-state hidden-xs">
  <span class="file-item-text">
    {{fileRowModel.stateText}}
  </span>
</td>
<td class="fb-table-col-created hidden-xs">
  <span class="file-item-text">
    {{date-format file.creationTime format="dateWithMinutes" blank="—"}}
  </span>
</td>
