{{#if showBagitTag}}
  <div class="file-status-tag archive-bagit-tag">
    {{tt this "status.bagit"}}
  </div>
{{/if}}
{{#if showDipTag}}
  <div class="file-status-tag archive-dip-tag">
    {{tt this "status.dip"}}
  </div>
{{/if}}
