{{archive-browser/secondary-description
  archive=archive
  class="file-info-mobile-inner file-info-mobile-left file-info-mobile-description"
}}
<span class="file-info-mobile-inner file-info-mobile-right file-info-mobile-state">
  {{archive-state archive=archive}}
</span>