{{one-time-series-chart/toolbar
  models=(array savedDataChartModel incomingDataChartModel)
}}
<div class="chart-plots">
  {{one-time-series-chart/plot model=savedDataChartModel}}
  {{one-time-series-chart/plot model=incomingDataChartModel}}
</div>
