// NOTE: needs $toggle-bg-color-* from file-datasets styles

.dataset-item {
  .dataset-label-section {
    margin: 0;
    display: flex;
    align-items: center;
    position: relative;
    .path-icon {
      font-size: 200%;
      position: relative;
      top: -1px;
    }
    .dataset-label {
      margin-left: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .path-label {
      direction: rtl;
      a {
        // thanks to this, "/" do not go to end when using direction: rtl
        unicode-bidi: plaintext;
      }
    }
  }
  .one-way-toggle.flag-toggle {
    $dataset-write-unprotected-toggle-color: mix(
      $toggle-bg-color-unchecked,
      $dataset-write-unprotected-color,
      50%
    );
    &.unchecked {
      @include toggle-color($dataset-write-unprotected-toggle-color);
    }
    &.checked {
      @include toggle-color($dataset-write-protected-color);
    }
  }
}