// TODO: VFS-7404 this file is not-production-ready

.direct-dataset-section {
  display: flex;
  flex-direction: column;
  .direct-dataset-loadable-row.loadable-row {
    min-height: 2em;
  }
  .toggle-header {
    transition: transition-ease(opacity);
    &.loading {
      opacity: $disabled-opacity;
    }
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    text-transform: none;
    @include font-semibold;
    label.direct-dataset-attached-label {
      margin: 0;
    }
  }
  .flags-configuration {
    margin-top: 20px;
  }
  .flag-row {
    display: flex;
    align-items: center;
    padding-left: 40px;
    margin-top: 12px;
    :first-child {
      margin-top: 0;
    }
    label {
      margin: 0;
      margin-left: 18px;
    }
  }
  .remove-dataset-row {
    text-align: right;
  }
  .alert.alert-promise-error {
    @include font-regular;
    font-weight: normal;
  }
  .direct-dataset-attached-toggle {
    margin-left: 1.5em;
    font-size: 80%;
  }
}
