.file-datasets-direct-dataset {
  .direct-dataset-item {
    > td {
      border-top: 0;
    }
    .col-dataset-info {
      transition: transition-ease(opacity);
      @include font-semibold;
    }
  }

  .direct-dataset-label-section {
    display: flex;
    .dataset-label {
      flex-grow: 1;
    }
    .dataset-link {
      padding-left: 2em;
    }
  }
  
  @media (max-width: $screen-xs-max) {
    .attach-dataset-hint-trigger {
      display: none;
    }
  }
}
