.direct-dataset-control {
  .direct-dataset-loadable-row.loadable-row {
    // FIXME: test and adjust loding styles
    min-height: 2em;
  }
  // FIXME: test and ajust error styles
  .alert.alert-promise-error {
    @include font-regular;
    font-weight: normal;
  }
  .direct-dataset-control-inner {
    display: flex;
    align-items: center;
    .direct-dataset-col-text {
      min-width: 0;

    }
  }
  @media (max-width: $screen-xs-max) {
    // FIXME: test and adjust mobile styles
  }
}
