// TODO: VFS-7404 this file is not-production-ready

.inherited-dataset {
  .path-section {
    margin: 0;
    display: flex;
    align-items: center;
    position: relative;
    .path-icon {
      font-size: 200%;
      position: relative;
      top: -1px;
    }
    .path-label {
      margin-left: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      direction: rtl;
      a {
        // thanks to this, "/" do not go to end when using direction: rtl
        unicode-bidi: plaintext;
      }
    }
  }
}