{{archive-form
  formModel=viewModel.formModel
  options=viewModel.options
  isSubmitting=viewModel.isSubmitting
}}
{{yield}}
{{#if viewModel.areSubmitButtonsVisible}}
  <div class="submit-buttons-container">
    {{#one-button
      class="close-btn"
      type="default"
      disabled=(or (not viewModel.isModified) viewModel.isSubmitting viewModel.disabled)
      onClick=(action "discard")
    }}
      {{tt this "discard"}}
    {{/one-button}}
    {{#one-button
      type="primary"
      buttonType="submit"
      class="submit-archive-modification-btn"
      disabled=(or (not viewModel.isModified) viewModel.disabled)
      isPending=viewModel.isSubmitting
      onClick=(action "submit")
    }}
      {{tt this "submit"}}
    {{/one-button}}
  </div>
{{/if}}
