{{archive-form
  formModel=formModel
  options=options
  isSubmitting=isSubmitting
}}
{{yield}}
{{#if isModified}}
  <div class="submit-buttons-container">
    {{#bs-button
      class="close-btn"
      type="default"
      disabled=isSubmitting
      onClick=(action "close")
    }}
      {{tt this (if isModified "cancel" "close")}}
    {{/bs-button}}
    {{#one-button
      type="primary"
      buttonType="submit"
      class="submit-archive-modification-btn"
      disabled=disabled
      isPending=isSubmitting
      onClick=(action "submit")
    }}
      {{tt this "submit"}}
    {{/one-button}}
  </div>
{{/if}}
