<div class={{concat-classes
  "archive-state-type"
  stateTypeTextClass
}}>
  {{stateTypeText}}
</div>
<div class={{concat-classes
  "archive-state-details"
  stateDetailsTextClass
}}>
  {{archive-content-count archive=archive}}
</div>