{{archive-form
  formModel=formModel
  options=options
  isSubmitting=isSubmitting
}}
{{yield}}
{{#if areSubmitButtonsVisible}}
  <div class="submit-buttons-container">
    {{#one-button
      class="close-btn"
      type="default"
      disabled=(or (not isModified) isSubmitting disabled)
      onClick=(action "discard")
    }}
      {{tt this "discard"}}
    {{/one-button}}
    {{#one-button
      type="primary"
      buttonType="submit"
      class="submit-archive-modification-btn"
      disabled=(or (not isModified) disabled)
      isPending=isSubmitting
      onClick=(action "submit")
    }}
      {{tt this "submit"}}
    {{/one-button}}
  </div>
{{/if}}
