{{#if (not (media "isMobile"))}}
  <div
    class="fb-toolbar-button columns-configuration-button clickable"
    {{action
      (mut columnModificationOpened)
      (not columnModificationOpened)
      bubbles=false
    }}
  >
    {{#one-icon-tagged
      icon="columns"
      tagIcon=(if (not columnsConfiguration.isAnyColumnHidden) "settings")
      class="tag-right"
    }}
      {{#if columnsConfiguration.isAnyColumnHidden}}
        <div class="hidden-columns-number-container">
          <span class="hidden-columns-number">
            {{columnsConfiguration.hiddenColumnsCount}}
          </span>
        </div>
      {{/if}}
    {{/one-icon-tagged}}
    {{#unless columnModificationOpened}}
      {{one-tooltip title=(if columnsConfiguration.isAnyColumnHidden
        (tt this "hiddenColumns")
        (tt this "configureColumns")
      )}}
    {{/unless}}
  </div>
  {{columns-configuration-popover
    isOpened=columnModificationOpened
    triggerSelector=(local-selector elementId ".columns-configuration-button")
    columnsConfiguration=columnsConfiguration
  }}
{{/if}}
