<ul>
  <li>Onezone version: {{parentInfo.onezoneVersionDetails.serviceVersion}}</li>
  <li>spaceId: {{spaceId}}</li>
  <li>fileId: {{fileId}}</li>
  {{#each (repeat 1000) as |item|}}
    <li>Hello world</li>
  {{/each}}
</ul>
