{{#promise-proxy-container proxy=spaceRootDirProxy}}
  {{file-browser
    dir=spaceRootDirProxy.content
    selectedFileName=selectedFileName
    openCreateNewDirectory=(action "openCreateItemModal" "dir")
    openRemove=(action "openRemoveModal")
  }}
  <div class="upload-drop-zone">
    {{one-icon icon="browser-upload" class="upload-watermark-icon"}}
  </div>
{{/promise-proxy-container}}

{{#if createItemParentDir}}
  {{file-browser/fb-create-item-modal
    open=true
    parentDir=createItemParentDir
    itemType=createItemType
    onHide=(action "closeCreateItemModal")
  }}
{{/if}}

{{#if filesToRemove}}
  {{file-browser/fb-remove-modal
    open=true
    files=filesToRemove
    onHide=(action "closeRemoveModal")
  }}
{{/if}}
