{{#promise-proxy-container proxy=spaceRootDirProxy}}
  {{file-browser
    dir=spaceRootDirProxy.content
    openCreateNewDirectory=(action "toggleCreateItemModal" true "dir")
  }}
  {{!-- FIXME: @Borzo - shouldn't be this in the file-browser component? --}}
  <div class="upload-drop-zone">
    {{one-icon icon="browser-upload" class="upload-watermark-icon"}}
  </div>
{{/promise-proxy-container}}

{{#render-later triggerRender=createItemParentDir}}
  {{file-browser/fb-create-item-modal
    open=createItemParentDir
    parentDir=createItemParentDir
    onHide=(action "toggleCreateItemModal" false)
  }}
{{/render-later}}
