  <div class="row content-row no-border">
    <h1>{{tt this "title"}}</h1>
    <div class="inner-row-content">
      <div class="subheader-text dir-size-stats-config-info">
        {{tt this "description"}}
      </div>
      {{#promise-proxy-container 
        proxy=dirSizeStatsConfigProxy 
        spinnerBlockClass="absolute-middle-centered"
      }}
        <label for="dir-size-stats-config" class="inline-label">
          {{tt this "toggleDescription"}}
        </label>
        {{one-way-toggle
          class=(concat "form-control toggle-field-dir-size-stats-config")
          inputId="dir-size-stats-config"
          checked=isDirStatsCount
          spinnerSide=(if media.isMobile "left" "right")
          update=(action "changeStatsCount")
        }}
      {{/promise-proxy-container}}
    </div>
  </div>