{{#promise-proxy-container proxy=initialRequiredDataProxy}}
  {{#if browsableDataset}}
    {{file-browser
      browserModel=browserModel
      dir=browsableDataset
      previewMode=true
      customRootDir=spaceDatasetsRoot
      customFetchDirChildren=(if isInRoot
        (action fetchSpaceDatasets)
        (action fetchDatasetChildren)
      )
      resolveFileParentFun=(action resolveFileParentFun)
      spaceId=spaceId
      spacePrivileges=spacePrivileges
      selectedFiles=selectedDatasets
      isSpaceOwned=space.currentUserIsOwner
      changeSelectedFiles=(action "changeSelectedDatasets")
      updateDirEntityId=(action "updateDatasetId")
    }}
  {{/if}}
  {{#bs-button-group
    value=selectedDatasetsState
    class="datasets-state-selector"
    type="radio"
    onChange=(action (mut selectedDatasetsState)) as |bg|
  }}
    <div class="btn-group" role="group">
      {{#bg.button
        type="default"
        class="btn-sm select-attached-datasets-btn"
        value="attached"
      }}
        {{tt this "attached"}}
      {{/bg.button}}
    </div>
    <div class="btn-group" role="group">
    {{#bg.button
      type="default"
      class="btn-sm btn-effecitve"
      value="detached"
    }}
        {{tt this "detached"}}
      {{/bg.button}}
    </div>
  {{/bs-button-group}}
  
{{/promise-proxy-container}}
