<div class="share-show">
  <div class="url-viewers">
    <h1>URL viewers</h1>
    <div class="row" style="margin: 30px;">
      {{share-show/public-url-viewer
        class="row share-header-row share-header-public-url share-header-public-url-mobile"
        share=share
        selectedUrlType="share"
      }}
    </div>

    <div class="row" style="margin: 30px;">
      {{share-show/public-url-viewer
        class="row share-header-row share-header-public-url share-header-public-url-mobile"
        share=share
        selectedUrlType="handle"
        showHandle=true
      }}
    </div>

    <div class="row" style="margin: 30px;">
      {{share-show/public-url-viewer
        class="row share-header-row share-header-public-url share-header-public-url-mobile"
        share=share
        compact=true
        showHandle=true
        selectedUrlType="handle"
      }}
    </div>
  </div>
  
  <div class="open-data-preview-container">
    <h1>Open data preview</h1>
    <div class="row" style="margin: 30px;">
      {{share-show/open-data-preview
        xml=xmlSource
        handleServiceName="Onedata Inc."
        handleUrl="http://example.com/share/1"
      }}
    </div>
  </div>
</div>
