<div class="content-file-browser content-items-browser one-embedded-component">
  {{#promise-proxy-container proxy=dirProxy}}
    {{file-browser
      isSpaceOwned=spaceProxy.currentUserIsOwner
      space=spaceProxy.content
      selectedItems=selectedItems
      selectedItemsForJumpProxy=selectedItemsForJumpProxy
      browserModel=browserModel
    }}

    {{#if filesToRemove}}
      {{file-browser/fb-remove-modal
        open=true
        files=filesToRemove
        onHide=(action "closeRemoveModal")
      }}
    {{/if}}
  {{/promise-proxy-container}}
</div>
