<div class="content-file-browser">
  {{#promise-proxy-container proxy=dirProxy}}
    {{file-browser
      dir=dirProxy.content
      previewMode=previewMode
      isSpaceOwned=spaceProxy.currentUserIsOwner
      spaceId=spaceProxy.entityId
      selectedFiles=selectedFiles
      spacePrivileges=spacePrivileges
      changeSelectedFiles=(action (mut selectedFiles))
      browserModel=browserModel
    }}

    {{#if filesToRemove}}
      {{file-browser/fb-remove-modal
        open=true
        files=filesToRemove
        onHide=(action "closeRemoveModal")
      }}
    {{/if}}
  {{/promise-proxy-container}}
</div>
