<div class="row">
  <div class="col-centered" style="width: 90%; max-width: 1316px;">
    <VisualEdm @viewModel={{visualEdmViewModel}} />
  </div>
</div>

<div class="row">
  <hr />
  <div class="col-12">
    <p>Dummy tools:</p>
    <OneButton @onClick={{action "generateXml"}}>Generate XML in JS console</OneButton>
  </div>
</div>