<div class="container dummy-container">
  <div class="row content-row">
    {{#clipboard-line
      type="html"
      size=(if smallContent "sm")
      rawValue=rawExpressionInfix
      class="monospace-font clipboard-line-expression"
    }}
      {{qos-expression-viewer expressionRpn=expressionRpn}}
    {{/clipboard-line}}
  </div>
</div>
