{{#bs-modal
  class="file-distribution-modal"
  open=true
  onHidden=(action "close")
  as |modal|}}
  {{#modal.header}}
    <h1>{{tt this "header"}}</h1>
  {{/modal.header}}
  {{#modal.body}}
    {{!-- TODO: content --}}
  {{/modal.body}}  
  {{#modal.footer class="btn-toolbar"}}
    {{#bs-button type="primary" onClick=modal.close}}
      {{tt this "close"}}
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}
