{{#bs-modal
  class="file-distribution"
  open=true
  onShow=(action "onShow")
  onHide=(action "close")
  size="xl"
  as |modal|}}
  {{#modal.body}}
    {{#promise-proxy-container proxy=oneprovidersProxy}}
      {{#if (eq oneproviders.length 1)}}
        <div class="alert alert-info">{{tt this "onlySingleOneproviderSupport"}}</div>
      {{/if}}
      {{#if (eq activeTab "distribution-summary")}}

      {{else}}

      {{/if}}
    {{/promise-proxy-container}}
  {{/modal.body}}
{{/bs-modal}}
