{{#modal.header class="items-select-browser-part hide-before-shadow"}}
  {{#items-select-browser/header
    selectorModel=selectorModel
  }}
    {{yield}}
  {{/items-select-browser/header}}
{{/modal.header}}

{{#modal.body
  id=modalBodyId
  class="items-select-browser-part upload-drop-zone-container full-width-body"
}}
  <div
    class="items-select-browser-body in-modal-item-browser-container full-width-body-content"
  >
    {{#promise-proxy-container proxy=initialRequiredDataProxy}}
      {{file-browser
        dir=dir
        previewMode=previewMode
        browserModel=browserModel
        parentModalDialogSelector=parentModalDialogSelector
        showSelectionToolkit=false
        isSpaceOwned=space.currentUserIsOwner
        space=space
        contentScroll=contentScroll
        selectedItems=browserSelectedItems
        resolveFileParentFun=(action "resolveItemParent")
        changeSelectedItems=(action "changeSelectedItems")
        updateDirEntityId=(action "updateDirEntityId")
      }}
    {{/promise-proxy-container}}

    {{#if selectorModel.browserExtensionComponentName}}
      {{component selectorModel.browserExtensionComponentName
        selectorModel=selectorModel
        browserModel=browserModel
      }}
    {{/if}}
  </div>
{{/modal.body}}

{{#modal.footer class="items-select-browser-part"}}
  {{items-select-browser/footer
    validationError=validationError
    selectedItems=selectorSelectedItems
    submitDisabled=submitDisabled
    submitLabel=submitLabel
    onCancel=(action "cancel")
    onSubmit=(action "submit")
  }}
{{/modal.footer}}