<div class="row loadable-row row-transfers-data-container">
  {{#promise-proxy-container proxy=providersProxy}}
    {{!-- TODO: falsy isSupportedByOngoingProvider will cause infinite loading --}}
    {{#loading-container isLoading=(not (eq isSupportedByOngoingProvider true))}}
      {{space-transfers/transfers-overview
        space=space
        providers=providers
        destinationProviderIds=destinationProviderIds
        sourceProviderIds=sourceProviderIds
        providersColors=providersColors
      }}
      <div class="row row-transfers-tables">
        {{space-transfers/tables-container
          providers=providers
          providersColors=providersColors
          space=space
          fileId=fileId
          tab=tab
          changeListTab=(action "changeListTab")
          closeFileTab=(action "closeFileTab")
        }}
      </div>
    {{/loading-container}}
  {{/promise-proxy-container}}
</div>
{{yield}}
