<ul class="visual-edm-object-list">
  {{#each viewModel.objects as |objectViewModel|}}
    <VisualEdm::Object @viewModel={{objectViewModel}} />
  {{/each}}
  {{#unless viewModel.isReadOnly}}
    <div class="objects-list-buttons">
      <OneButton type="default">
        <OneIcon @icon="plus" />
        <span class="text">
          {{tt this "listButtons.addWebResource"}}
        </span>
      </OneButton>
    </div>
  {{/unless}}
</ul>
{{#if viewModel.hasExtraData}}
  <VisualEdm::ExtraDataInfo @model={{model}}/>
{{/if}}