{{#bs-modal
  open=open
  backdropClose=false
  keyboard=false
  as |modal|
}}
  {{#modal.header}}
    <h1>{{tt this "header"}}</h1>
  {{/modal.header}}
  {{#modal.body}}
    {{tt this "content"}}
  {{/modal.body}}
  {{#modal.footer}}
    {{#one-button
      type="primary"
      buttonType="submit"
      onClick=(action "reload")
    }}
      {{tt this "reload"}}
    {{/one-button}}
  {{/modal.footer}}
{{/bs-modal}}
