<div class="btn-tooltip-container">
  {{#one-button
    type="primary"
    buttonType="submit"
    onClick=(action "addQosRequirement")
    class="add-qos-requirement-btn"
    disabled=isAddDisabled
  }}
    {{tt this "addQosRequirement"}}
  {{/one-button}}
  {{#if addDisabledTip}}
    {{one-tooltip title=addDisabledTip}}
  {{/if}}
</div>
