{{#if (not (media "isMobile"))}}
  <div
    class="fb-toolbar-button columns-configuration-button"
    {{action
      (mut columnModificationOpened)
      (not columnModificationOpened)
      bubbles=false
    }}
  >
    {{#one-icon-tagged
      icon="columns"
      tagIcon=(if (not browserModel.isAnyColumnHidden) "settings")
      class="tag-right"
    }}
      {{#if browserModel.isAnyColumnHidden}}
        <div class="hidden-columns-number-container">
          <span class="hidden-columns-number">{{browserModel.hiddenColumnsCount}}</span>
        </div>
      {{/if}}
    {{/one-icon-tagged}}
    {{one-tooltip title=(if browserModel.isAnyColumnHidden
      (tt this "hiddenColumns")
      (tt this "configureColumns")
    )}}
  </div>
  {{columns-configuration-popover
    isOpened=columnModificationOpened
    triggerSelector=(local-selector elementId ".columns-configuration-button")
    browserModel=browserModel
  }}
{{/if}}