<h1 class="error-dir-text dir-box-text">
  {{dirLoadErrorMessage.message}}
</h1>
{{!-- one-line to prevent whitespaces inside div --}}
<div class={{concat-classes
  "error-dir-image"
  "dir-box-image"
  (concat "error-dir-image-" (or dirLoadErrorPosix "unknown"))
}}></div>
{{#unless dir}}
  {{#one-button
    class="dir-box-btn"
    type="default"
    onClick=(action "navigateToRoot")
  }}
    {{navigateToRootButtonLabel}}
  {{/one-button}}
{{/unless}}