{{#proceed-process-modal
  opened=open
  backdropClose=(not processing)
  keyboard=(not processing)
  close=(action "close")
  proceed=(action "download")
  autoDetectProcessing=false
  processing=processing
  proceedButtonClass="btn btn-primary"
  headerText=(tt this "header")
  proceedButtonText=(tt this "confirmDownload")
  cancelButtonText=(tt this "cancel")
  modalClass="proceed-modal fb-download-modal"
}}
  <div class="row row-download-question">
    {{tt this "question"}}
  </div>
  {{single-file-info file=file}}
{{/proceed-process-modal}}
