<form role="form" class="form form-horizontal" onkeypress={{action "disableEnterKey"}}>
  {{qos-params-editor
    mode="edit"
    qosParams=metadataForEditor
    isFormOpened=true
    class="xattrs-params-editor"
    showHeader=false
    layoutConfig=layoutConfig
    onChange=(action "xattrsChanged")
    validateKey=(action "validateKey")
  }}
</form>
