{{#content-info
  class="scroll-breakpoint-400 fill-flex-using-column content-info-no-dir-statistics"
  header=(tt this "header")
  text=(tt this "text")
}}
  <a class="btn btn-primary" href={{providersUrl}} target={{navigateProvidersTarget}}>
    <span class="text">{{tt this "buttonText"}}</span>
    {{one-icon icon="link-external"}}
  </a>
{{/content-info}}