{{#if opened}}
  {{#one-pill-button
    menuItems=menuButtons
    mobileMode=mobileMode
    popoverClass=popoverClass
    useDots=true
  }}
    <div class="selection-count-text">
      {{tt this "itemsSelected"}}
      <span class="selection-count-number">
        (<span class="number">{{lastPositiveItemsCount}}</span>)
        {{one-tooltip
          title=itemsTooltipContent.tooltipContent
          class=itemsTooltipContent.tooltipClass
        }}
      </span>
    </div>
  {{/one-pill-button}}
{{/if}}