{{#if isPillVisible}}
  {{#one-pill-button
    menuItems=menuButtons
    mobileMode=mobileMode
    useDots=true
  }}
    <div class="selection-count-text">
      {{tt this "itemsSelected"}}
      <span class="selection-count-number">
        (<span class="number">{{lastPositiveItemsCount}}</span>)
        {{one-tooltip
          title=itemsTooltipContent.tooltipContent
          class=(concat-classes
            itemsTooltipContent.tooltipClass
            "selection-toolkit-tip-content"
          )
          onShown=(action "onItemsTooltipShown")
        }}
      </span>
    </div>
  {{/one-pill-button}}
{{/if}}