{{#one-pill-button
  menuItems=menuButtons
}}
  <div class="selection-count-text">
    {{tt this "itemsSelected"}}
    <span class="selection-count-number">({{lastPositiveItemsCount}})</span>
  </div>
{{/one-pill-button}}
