{{tt this "headers.firstColumnName"}}
<div
  class="draggable-area"
  ondragover={{action "headingDragOverAction"}}
  ondragleave={{action "headingDragLeaveAction"}}
  ondrop={{action "headingDropAction" 0}}
>
</div>