<td class="fb-table-col-files">
  <div class="inline-icon-container file-icon-container">
    {{one-icon icon=icon class="file-icon"}}
  </div>
  <span class="file-name">{{displayName}}</span>
</td>
<td class="fb-table-col-size">
  {{bytes-to-string file.size}}
</td>
<td class="fb-table-col-modification">
  {{date-format file.modification format="dateWithMinutes" blank="—"}}
</td>
