{{#if (eq dirStatsServiceState.dirStatsServiceStatus "initializing")}}
  <div class="no-statistics">
    <div class="no-statistics-message">
      {{tt this "noStatistics"}}
    </div>
  </div>
{{else}}
  {{#promise-proxy-container proxy=loadingProxy}}
    {{one-time-series-charts-section
      sectionSpec=dashboardSpec.rootSection
      onGetTimeSeriesSchemas=(action "getTimeSeriesSchemas")
      externalDataSources=chartsExternalDataSources
      onQueryBatcherFetchData=(action "queryBatcherFetchData")
    }}
  {{/promise-proxy-container}}
{{/if}}
