<div class="charts-header">
  <div class="title">
    {{tt this "header"}}
  </div>
  {{one-time-series-chart/toolbar
    models=(array filesCountChartModel filesSizeChartModel)
  }}
</div>
<div class="charts-plots">
  {{one-time-series-chart/plot model=filesCountChartModel}}
  {{one-time-series-chart/plot model=filesSizeChartModel}}
</div>