<tr class="oneprovider-name-thead">
  <td colspan="2">
    {{#truncated-string}}
      {{oneproviderName}}
    {{/truncated-string}}
  </td>
</tr>
{{#each locations as |location|}}
  <tr>
    <td class="storage-name-cell">
      {{#truncated-string}}
        {{location.storageName}}
      {{/truncated-string}}
    </td>
    <td class="location-cell">
      {{#if location.path}}
        {{clipboard-line
          value=location.path
          size="sm"
          class="location-cell-clipboard"
        }}
      {{else}}
        <span class="empty-location-cell">–</span>
      {{/if}}
    </td>
  </tr>
{{/each}}
