{{#each (array "time" "type" "reason" "message") as |colName|}}
  <th class="events-table-header-cell column-label column-{{colName}}-label">
    <span class="column-label-text">{{tt this (concat "columnLabel." colName)}}</span>
  </th>
{{/each}}
