{{#audit-log-browser
  onFetchLogEntries=fetchLogEntriesCallback
  customColumnHeaders=customColumnHeaders
  isTimestampRoundedToSeconds=true
  noLogEntriesText=(tt this "noEvents")
  as |logEntry|
}}
  <td class="event-type">{{or logEntry.content.type "—"}}</td>
  <td class="event-reason">
    {{#truncated-string}}
      {{or logEntry.content.reason "—"}}
    {{/truncated-string}}
  </td>
  <td class="event-message">
    {{#truncated-string}}
      {{or logEntry.content.message "—"}}
    {{/truncated-string}}
  </td>
{{/audit-log-browser}}

