{{#scrollable-table class="table one-infinite-list"}}
  {{modals/atm-task-execution-pods-activity-modal/pods-table/header-row
    allPodsCount=podRows.length
    currentPodsCount=currentPodRows.length
    podsFilter=podsFilter
    onPodsFilterChange=(action "podsFilterChange")
  }}
  {{#each filteredPodRows key="podId" as |podRow|}}
    {{modals/atm-task-execution-pods-activity-modal/pods-table/pod-row
      class="data-row"
      podId=podRow.podId
      podActivity=podRow.podActivity
      isSelected=(eq podRow.podId selectedPodId)
      onSelect=onPodSelect
    }}
  {{else}}
    <tr class="pods-table-no-pods-row">
      <td colspan="3">{{noPodsMessage}}</td>
    </tr>
  {{/each}}
{{/scrollable-table}}
