{{#if directDatasetProxy.isRejected}}
  {{resource-load-error
    message=(tt this "cannotLoadDirectDataset")
    reason=directDatasetProxy.reason
  }}
{{else}}
  <div class="direct-dataset-control-inner">
    <div class="direct-dataset-col-icon">
      {{one-icon icon=statusIcon class=statusIconClass}}
    </div>
    <div class="direct-dataset-col-text">
      {{#truncated-string class="status-text"}}
        {{statusText}}
      {{/truncated-string}}
    </div>
    <div class="direct-dataset-col-label-tip"></div>
    <div class="direct-dataset-col-label-action-trigger"></div>
  </div>
{{/if}}