{{#bs-tab
  fade=false
  class="bs-tab bs-tab-onedata bs-tab-modern tab-file-dataset-panel"
  customTabs=true
  activeId=activeTab
  as |tab|
}}
  {{#bs-nav
    type="tabs"
    class="nav-tabs-file-dataset-panel"
    as |nav|
  }}
    {{#each tabIds as |tabId|}}
      {{#nav.item
        active=(eq tab.activeId tabId)
        disabled=(contains tabId disabledTabs)
      }}
        <a href={{concat "#" tabId}}
          class={{concat "nav-link nav-link-file-dataset-panel nav-link-" tabId}}
          role="tab"
          {{action "onActiveTabChange" tabId}}
        >
          <span class="tab-label">
            <div class="one-label tab-name">
              {{tt this (concat "tabs." tabId)}}
            </div>
          </span>
        </a>
      {{/nav.item}}
    {{/each}}
  {{/bs-nav}}
{{/bs-tab}}