<div class="extra-data-info-inner">
  <OneIcon @icon="sign-info-rounded" class="extra-data-icon" />
  <span class="extra-data-text">{{tt this "hasExtraData"}}</span>
  <OneTooltip @title={{tt this "hasExtraDataTip"}} />
</div>
{{yield}}