<div class="extra-data-info-inner edm-info-row-inner">
  <OneIcon @icon="sign-info-rounded" class="extra-data-icon edm-info-row-icon" />
  <span class="extra-data-text edm-info-row-text">{{tt this "hasExtraData"}}</span>
  <OneTooltip @title={{tt this "hasExtraDataTip"}} />
</div>
{{yield}}