<div class="edm-info-row-inner">
  <OneIcon @icon="sign-warning-rounded" class="edm-info-row-icon" />
  <span class="edm-info-row-text">
    <strong>{{text}}{{if errorMessages.length ":" "."}}</strong>
    {{#each errorMessages as |message index|}}
      <span>{{message}}</span>{{if (not-eq index (sub errorMessages.length 1)) ";"}}
    {{/each}}
  </span>
</div>