<div class="edm-info-row-inner">
  <OneIcon @icon="sign-warning-rounded" class="edm-info-row-icon" />
  <VisualEdm::ValidationErrorText
    class="edm-info-row-text"
    @text={{text}}
    @validator={{validator}}
    @viewType={{viewType}}
  />
</div>