<div class="icon-section">
  {{record-icon record=atmWorkflowSchema}}
</div>
<div class="content-section">
  <div class="workflow-schema-name">{{atmWorkflowSchema.name}}</div>
  <div class="workflow-schema-description">{{atmWorkflowSchema.description}}</div>
</div>
{{yield}}

