{{#each (array "data" "metadata") as |protectionType|}}
  {{#with (if
    (get this (concat protectionType "IsProtectedForFile")) "enabled" "disabled")
    as |flagState|
  }}
    <div class="labels-container">
      <div class={{concat-classes
        "label label-modal-header-large protected-tag"
        (concat "protected-tag-" flagState)
        (concat protectionType "-protected-tag")
      }}>
        {{one-icon
          class="tag-icon protection-tag-status-icon"
          icon=(get protectionIcons protectionType)
        }}
        <span class="label-text protected-text">
          {{tt this (concat "fileProtectionTag." flagState)
            fileTypeUpper=(capitalize (tt this (if
              (eq mode "dataset")
              "dataset"
              (concat "fileType." fileType)
            )))
            protectionType=(tt this (concat "protectionType." protectionType))
          }}
        </span>
        {{#one-icon
          icon="sign-question-rounded"
          class=(concat-classes
            "hint-trigger clickable"
            (concat protectionType "-protection-hint-trigger")
          )
        }}
          {{one-tooltip
            title=(if (eq flagState "enabled")
              (tt this (concat "fileProtectionTagTip.enabled." protectionType))
              (tt this (concat "fileProtectionTagTip.disabled")
                fileType=(tt this (if
                  (eq mode "dataset")
                  "dataset"
                  (concat "fileType." fileType)
                ))
                protectionType=(tt this (concat "protectionType." protectionType))
              )
            )
          }}
        {{/one-icon}}
      </div>
    </div>
  {{/with}}
{{/each}}