.modal-header-effective-info {
  .hint-trigger {
    font-size: 1em;
  }
  .label.label-modal-header-large {
    .tag-icon {
      font-size: 1.7em;
    }
    &.protected-tag-enabled {
      background-color: $dataset-write-protected-color-bg;
      border-color: $dataset-write-protected-color-border;
      .one-icon.protection-tag-status-icon {
        color: $dataset-write-protected-color;
      }
    }
    &.protected-tag-disabled {
      background-color: $dataset-write-unprotected-color-bg;
      border-color: $dataset-write-unprotected-color-border;
      .one-icon.protection-tag-status-icon {
        color: $dataset-write-unprotected-color;
      }
    }
  }
}
