@use 'sass:color';

.share-show-edm {
  .col-edm-editor {
    display: flex;
    flex-direction: column;
  }
  .ember-ace-edm-source {
    flex-grow: 1;
    flex-basis: 180px;
  }
  .metadata-editor-footer {
    margin-top: 1.5em;
  }
  .metadata-header-section-content {
    .main-header {
      flex-grow: 1;
    }
  }
  .apply-xml-btn {
    align-self: flex-end;
    margin-top: 1em;
  }
  .xml-source-validation-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 1em;
    .apply-xml-btn {
      margin-top: 0;
      margin-left: auto;
    }
  }
  .synchronized-xml-btn {
    &:hover {
      cursor: default;
    }
  }
  .representative-image-container {
    position: sticky;
    top: calc(var(--representative-image-top, 150px) + 20px);
    width: 100%;
    padding-left: 20px;
    // 88px is the arbitrary spacing to rendered visual-edm from top on share-show
    margin-top: 88px;
    img {
      max-width: 100%;
    }
  }

  .representative-image {
    border: $iconified-block-border-width solid $default-iconified-block-border-color;
    border-radius: $iconified-block-border-radius;
  }

  .representative-image-load-error {
    display: flex;
    max-width: 300px;
    height: 200px;
    background: repeating-linear-gradient(
      45deg,
      $default-iconified-block-icon-background-color,
      $default-iconified-block-icon-background-color 10px,
      transparent 10px,
      transparent 20px
    );
    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      opacity: $disabled-opacity;
      text-align: center;
    }
  }

  &.xml-sync-waiting {
    .xml-source-validation-row {
      .edm-info-row {
        opacity: $disabled-opacity;
      }
    }
  }
}

.share-show {
  &.share-show-public {
    --representative-image-top: #{$share-show-content-header-height-public};
  }
  &.share-show-private {
    --representative-image-top: #{$share-show-content-header-height-private};
  }
  .share-show-edm {
    // a fill-flex-using column is added in share-show, because of layout we need this
    flex-direction: row;
    .metadata-editor-footer {
      .row-submit {
        // remove container padding added in share-show
        margin-bottom: -$content-col-padding;
      }
    }
  }
}
