.share-show-edm {
  .col-edm-editor {
    display: flex;
    flex-direction: column;
  }
  .ember-ace-edm-source {
    flex-grow: 1;
    flex-basis: 180px;
  }
  .metadata-editor-footer {
    margin-top: 1.5em;
  }
  // FIXME: possible DRY with open-data-editor
  .metadata-header-section-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 10px;
    .main-header {
      flex-grow: 1;
    }
  }
  .apply-xml-btn {
    align-self: flex-end;
    margin-top: 1em;
  }
  &.readonly {
    h1.main-header {
      margin-bottom: 1em;
    }
  }
}

.share-show {
  .share-show-edm {
    // a fill-flex-using column is added in share-show, because of layout we need this
    flex-direction: row;
    .metadata-editor-footer {
      .row-submit {
        // remove container padding added in share-show
        margin-bottom: -$content-col-padding;
      }
    }
  }
}
