.share-show-header-public {
  display: flex;
  align-items: center;
  padding-top: 1.5em;
  .share-header-public-url {
    display: flex;
    justify-content: center;
    &.share-header-public-url-mobile {
      justify-content: left;
    }
    .col-key {
      flex: 0 0 12em;
      padding-right: $padding-small-horizontal;
    }
    .col-value {
      flex: 0 1 56em;
    }
  }
  .onedata-share-head {
    display: flex;
    flex-grow: 1;
    align-items: center;
    overflow: hidden;
  }
  .share-logo {
    position: relative;
    display: flex;
    justify-content: center;
    margin-right: 4px;
    padding-right: 0;
    width: 100px;
    @media (max-width: 400px) {
      display: none;
    }
    .one-icon {
      font-size: 78px;
    }
    .open-data-logo-badge {
      font-size: 11px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 0.05em 0.5em;
      background: $color-one-red;
      border-radius: 8px;
      text-transform: uppercase;
      @include font-semibold;
      color: #fff;
    }
  }
  .share-name-section {
    flex-grow: 1;
    flex-shrink: 1;
    padding-left: 0.8em;
    padding-right: 1em;
    overflow: hidden;
  }
  .share-name {
    @include font-semibold;
    font-size: 32px;
    padding-bottom: 4px;
  }
}
