.share-show-markdown-editor {
  .editor-current-mode-bar {
    position: fixed;
    top: $share-show-content-header-height-private;
    left: 0;
    z-index: 1;
    height: $share-show-description-bar-height-bar-height;
    width: 100%;
    line-height: $share-show-description-bar-height-bar-height;
    padding-left: $content-col-padding + $share-show-content-padding-horizontal;
    border-bottom: 1px solid $main-border-color;
    background: $color-one-white;
    @include font-semibold;
  }
  .share-edit-actions-toolbar {
    position: fixed;
    top: $share-show-content-header-height-private;
    right: 0;
    height: $share-show-description-bar-height-bar-height;
    line-height: $share-show-description-bar-height-bar-height;
    display: flex;
    align-items: center;
    margin-right: $content-col-padding;
    z-index: 2;
  }
  .markdown-preview {
    padding-left: $share-show-content-padding-horizontal;
    margin-top: $content-col-padding + $share-show-description-bar-height-bar-height;
  }
  .textarea-source-editor {
    width: 100%;
    border: 0;
    padding-left: $share-show-content-padding-horizontal;
    padding-right: 0;
    overflow-y: auto;
    outline: none;
    margin-top: $content-col-padding + $share-show-description-bar-height-bar-height;
    font-size: 15px;
  }
}
