$open-data-remove-col-width: $content-col-padding;

.open-data {
  h1 {
    @include font-semibold;
    font-size: 1.6em;
    margin-bottom: 1em;
  }

  h2 {
    @include font-semibold;
    font-size: 1.3em;
    margin-bottom: 1em;
  }

  textarea.open-data-xml-textarea {
    min-height: 250px;
    height: calc(100vh - 500px);
    @include font-monospace;
  }

  .metadata-header-section {
    position: sticky;
    // should be overridden to match fixed headers in share-shows
    top: 0;
    // force to be above static elements inside absolute element
    z-index: 1;
    // take back horizontal content-padding space
    margin-right: -$content-col-padding;
    padding-right: $content-col-padding;
    margin-left: -$content-col-padding;
    padding-left: $content-col-padding;
    margin-bottom: 0;
    background-color: $color-one-white;
  }

  .metadata-header-section-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 10px;
    padding-top: 20px;
    .section-name {
      flex-grow: 1;
    }
    > * {
      margin-top: 0;
      margin-bottom: 0;
      padding-bottom: 10px;
    }
  }
}
