.public-url-viewer {
  .input-group-addon-text.truncate {
    max-width: 18em;
  }
  .compact-url-type-selector-arrow.inline-icon-container {
    margin-left: -0.2em;
    width: 1.4em;
    .oneicon {
      font-size: 120%;
    }
  }
  .clipboard-line-public-url {
    flex-grow: 1;
  }
}