.share-show-xml-only-metadata {
  .col-xml-only-metadata-editor {
    display: flex;
    flex-direction: column;
  }
  .ember-ace-xml-only-metadata-source {
    flex-grow: 1;
    flex-basis: 180px;
  }
  .metadata-header-section-content {
    .main-header {
      flex-grow: 1;
    }
  }
  .ember-ace + .metadata-editor-footer {
    margin-top: 1em;
  }
}

.share-show {
  .share-show-xml-only-metadata {
    // a fill-flex-using column is added in share-show, because of layout we need this
    flex-direction: row;
  }
}
