<h1>
  <span class="header-text">
    {{!-- FIXME: shorter text on tablet/mobile? --}}
    {{tt this "headerText"}}
  </span>
</h1>
{{modal-archive-subheader archives=(array archive)}}
<p class="intro-text">{{tt this "intro" filesCount=filesCount size=sizeText}}</p>
{{yield}}