.drag-and-drop-column-order {
  border-collapse: separate;

  th {
    border-left: 2px solid transparent;
  }
  th.border-dashed.before-drag-over-border,
  th.after-drag-over-border + th {
    border-left-style: solid;
    border-left-color: lighten($color-one-blue-gray, 20%);

    &::after {
      content: '';
      position: absolute;
      bottom: -8px;
      left: -9px;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;

      border-bottom: 11px solid lighten($color-one-blue-gray, 20%);
      z-index: 2;
    }
  }

  .before-drop-area, .after-drop-area {
    position: absolute;
    top: 0;
    height: 63px;
    width: calc(0.5 * var(--column-width, 100%));
    &.drop-area {
      z-index: 10000;
    }
  }

  .before-drop-area {
    left: 0;
  }

  .after-drop-area {
    left: calc(0.5 * var(--column-width));
    width: calc(0.5 * var(--column-width) + 2px);
  }

  thead tr th:first-child .after-drop-area {
    width: calc(100% + 2px);
    left: 0;
  }

  th.border-dashed {
    border-left-style: dashed;
    border-left-color: $table-border-color;
  }
  th:hover .column-move-icon {
    @media (hover: hover) {
      visibility: visible;
      cursor: grab;
    }
  }

  .column-move-icon {
    vertical-align: middle;
    visibility: hidden;
    position: absolute;
    left: -1.35em;
    top: 0.2em;
  }
  .column-info-container {
    position: relative;
  }
  .column-name {
    position: relative;
  }
  .column-subname {
    position: absolute;
    top: 1.5em;
    left: 50%;
    transform: translateX(-50%);
    font-size: 80%;
    opacity: $disabled-opacity;
    font-weight: normal;
  }
  .column-move-icon {
    opacity: 0.6;
  }
}
