.space-transfers .transfers-table tr.first-row-space {
  width: 100%;
  td {
    padding: 0;
    width: 100%;
  }
}

// FIXME: refactor
.transfers-table {
  .transfers-table-thead th,
  .transfers-table-tbody td {
    text-align: center;
    &:first-child {
      text-align: left;
    }
  }
}

.transfers-table {
  tr.data-row {
    // to hold an absolute-positioned spinner
    position: relative;
    &:hover {
      // FIXME: design
      // background-color: $color-one-light-blue;
      cursor: pointer;
    }
    &.expanded-row {
      background-color: darken($color-one-light-gray, 4%);
      &:hover {
        background-color: darken($color-one-light-gray, 9%);
      }
    }
    .loadable-row {
      min-height: 24px;
    }
  }
  th {
    white-space: nowrap;
    background-color: $color-one-white;
  }
  th, td {
    padding: 2 * $space-transfers-table-padding $space-transfers-table-padding;
  }

  .expand-row td {
    background-color: $color-one-light-gray;
  }
  
  table {
    // FIXME: fixed?
    table-layout: unset;
    thead {
      th {
        border-bottom-width: 1px;
        .oneicon {
          vertical-align: middle;
        }
      }
    }
  }
  .cell-status {
    top: 1px;
  }
}

.transfers-table.scheduled tr.data-row:hover {
  background-color: initial;
  cursor: initial;
}

// TODO: HACK for scheduled table, which does not have status column
.transfers-table th.table-header:nth-last-of-type(1) {
  width: 70px;
}
.transfers-table:not(.scheduled) th.table-header:nth-last-of-type(2) {
  width: 70px;
}
.transfers-table.scheduled th.table-header:nth-last-of-type(2) {
  width: auto;
}

.cell-data-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  .one-icon {
    position: absolute;
  }
  .oneicon-folder, .oneicon-folder-deleted {
    // custom pull up for folder icons
    margin-top: -2px;
  }
  .transfer-file-name {
    padding-left: 40px;
  }
}
.col-icon {
  .cell-icon {
    display: block;
    position: relative;
    top: -4px;
  }
}
.cell-icon {
  font-size: 2em;
  line-height: 0;
  vertical-align: middle;
  &.completed {
    color: $color-one-success;
  }
  &.skipped {
    color: $color-one-azure;
  }
  &.failed,
  &.cancelled {
    color: $color-one-danger;
  }
  &.replicating, &.evicting, &.enqueued {
    color: $color-one-warning;
  }
  &.scheduled {
    color: $color-one-default;
  }
  // action pending states (frontend)
  &.aborting {
    @extend .animated;
    @extend .infinite;
    @extend .hinge;
    @extend .pulse-red-transparent;
  }
}
.transfer-actions-cell {
  position: relative;
  width: 40px;
  .cell-actions {
    position: absolute;
    top: 8px;
    right: 8px;
  }
}
.cell-total-files {
  display: inline-block;
}
.table-empty-message {
  padding-left: $space-transfers-table-padding;
}

.transfer-file-icon {
  font-size: 32px;
  line-height: 20px;
  float: left;
}

.cell-actions {
  position: absolute;
  top: 8px;
  right: 8px;

  .action-message {
    $-left-border-style: 5px solid;
    position: absolute;
    bottom: -15px;
    right: 12px;
    padding: 2px $padding-base-horizontal;
    background-color: $color-one-light-gray;
    white-space: nowrap;
    font-size: 80%;

    &.success {
      border-left: $-left-border-style $color-one-success;
    }
    &.failure {
      border-left: $-left-border-style $color-one-danger;
    }
    &.warning {
      border-left: $-left-border-style $color-one-warning;
    }
  }
}
