{{#space-transfers/transfers-table-container
  class="file-transfers-table-container"
  type=type
  providers=providers
  providersColors=providersColors
  space=space
  file=(if (eq type "file") file undefined)
  fetchTransfers=fetchTransfers
  openDbViewModal=(action "openDbViewModal")
}}
  {{#if historyLimitReached}}
    <p class="file-history-limit-message">
      {{tt this "fileHistoryLimitReached"}}
    </p>
  {{/if}}
{{/space-transfers/transfers-table-container}}
