{{#each columns as |column|}}
  <td class={{concat-classes (concat "transfers-table-cell-" column.id) column.className}}>
    {{component
      (concat "space-transfers/" column.component)
      class=column.className
      record=record
      propertyName=column.propertyName
      table=transfersTable
    }}
  </td>
{{/each}}
<td class="transfers-table-cell-actions">
  {{space-transfers/cell-actions
    record=record
    transferActions=transferActions
    class="transfer-actions-cell"
  }}
</td>
