<div class="row loadable-row">
  {{#loading-container
    isLoading=transfersArray.isLoading
    class=(concat "loading-" type "-table")
  }}
    {{space-transfers/transfers-table
      transfers=transfersArray
      transferType=type
      spaceId=spaceId
      providers=providers
      providersColors=providersColors
      forbiddenOperations=forbiddenOperations
      rowHeight=rowHeight
      rerunTransfer=(action "rerunTransfer")
      cancelTransfer=(action "cancelTransfer")
      openDbViewModal=(action "openDbViewModal")
    }}
    {{#if historyLimitReached}}
      <p class="history-limit-message">
        {{tt this "fileHistoryLimitReached"}}
      </p>
    {{/if}}
  {{/loading-container}}
</div>
