{{#bs-modal
  open=open
  onHide=(action "close")
  size="lg"
  as |modal|
}}
  {{#modal.header}}
    <h1>{{tt this "header"}}</h1>
  {{/modal.header}}
  {{#modal.body}}
    <div class="row">
      <div class="input-group input-group input-group-clipboard-textarea">
        {{clipboard-line
          value=metadataString
          type="textarea"
          class="monospace-font"
        }}
      </div>
    </div>
    {{!-- TODO: use code-block when too wide .tag CSS class is fixed --}}
    {{!-- {{#code-block language="xml" class="share-metadata-xml"}}{{metadataString}}{{/code-block}} --}}
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=modal.close}}
      {{tt this "close"}}
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}
