{{#promise-proxy-container proxy=dataProxy}}
  {{#if sharesProxy.length}}
    <div class="one-collapsible-list">
      {{#each sharesProxy.content as |share|}}
        {{space-shares/list-item
          share=share
          pointsToDeletedFile=(contains share sharesWithDeletedFiles)
          getShareUrl=(action "getShareUrl")
          startRemoveShare=(action "startRemoveShare")
          startRenameShare=(action "startRenameShare")
        }}
      {{/each}}
    </div>
  {{else}}
    {{content-shares-empty forSpace=true dataTabUrl=dataTabUrl}}
  {{/if}}
{{/promise-proxy-container}}
