{{#promise-proxy-container proxy=sharesProxy}}
  {{#if anyShareRejected}}
    {{resource-load-error
      class="alert-some-shares-rejected"
      message=(tt this "someSharesRejected")
    }}
  {{/if}}

  {{#if sharesProxy.length}}
    <div class="one-collapsible-list">
      {{#each sharesProxy.content as |share|}}
        {{space-shares/list-item
          share=share
          getShareUrl=(action "getShareUrl")
          startRemoveShare=(action "startRemoveShare")
          startRenameShare=(action "startRenameShare")
        }}
      {{/each}}
    </div>
  {{else}}
    {{content-shares-empty forSpace=true dataTabUrl=dataTabUrl}}
  {{/if}}
{{/promise-proxy-container}}
