{{#truncated-string class="provider-option-provider-line"}}
  <strong class="provider-name">{{itemValue.name}}</strong>
  <span class="provider-id comparator-item-id">{{itemValue.entityId}}</span>
{{/truncated-string}}