{{#truncated-string class="storage-option-storage-line"}}
  <strong class="storage-name">{{itemValue.name}}</strong>
  <span class="storage-id comparator-item-id">{{itemValue.entityId}}</span>
{{/truncated-string}}