{{#one-button
  onClick=(action "discardChanges")
  type="warning"
  disabled=isDiscardDisabled
}}
  {{tt this "discard"}}
{{/one-button}}
{{#unless effectiveReadonly}}
  <div class="btn-tooltip-container">
    {{#one-button
      type="primary"
      buttonType="submit"
      onClick=(action "save")
      isPending=processing
      disabled=isSaveDisabled
      class="btn-save-all"
    }}
      {{tt this "save"}}
    {{/one-button}}
    {{#if isSaveDisabledMessage}}
      {{one-tooltip title=isSaveDisabledMessage}}
    {{/if}}
  </div>
{{/unless}}