<style class="internal-style">{{styleOverride}}</style>
<div
  class="form-group form-group-ace-editor full-height {{if isValid "has-success" "has-error"}}"
>
  {{ember-ace
    class="ember-ace ember-ace-json-metadata full-height"
    editorClass="full-height"
    value=metadataForEditor
    ready=(action "aceEditorReady")
    update=(action "metadataChanged")
    worker="ace/mode/json_worker"
    mode="ace/mode/json"
    theme="ace/theme/textmate"
    tabSize=2
    useWrapMode=true
    highlightActiveLine=true
    showLineNumbers=true
    showPrintMargin=false
    readOnly=readonly
  }}
  {{#unless isValid}}
    <div class="form-message text-right">{{tt this "invalidJson"}}</div>
  {{/unless}}
</div>